@model Objects.WelcomeEmailDto

@using Microsoft.Extensions.Configuration
@using Domain
@using Domain.Utilities

@inject IConfiguration _config
@inject Languages.ITranslationProvider _translationProvider

@{
    var lang = Model.Language ?? _translationProvider.GetLanguage();
    var culture = new System.Globalization.CultureInfo(lang);
    var baseUrl = _config.GetValue<string>("BaseUrl");
    var forumName = _config.GetValue<string>("ForumName");
}

<h3>@Html.Raw(Model.Subject)</h3>
@if (Model.IsRegistrationReminder && Model.RegistrationDate != null)
{
    <p>
        @Html.Raw(string.Format(culture, _translationProvider.Email[lang, "WELCOME_REMINDER_FORMAT"], Model.RegistrationDate, forumName))
    </p>
}
else if (Model.IsEmailChangeReminder && Model.EmailChangeDate != null)
{
    <p>
        @Html.Raw(string.Format(culture, _translationProvider.Email[lang, "EMAIL_CHANGED_REMINDER_FORMAT"], Model.EmailChangeDate, forumName))
    </p>
}
<p>
    @Html.Raw(string.Format(_translationProvider.Email[lang, "WELCOME_BODY_FORMAT"], $"{baseUrl.TrimEnd('/')}/Confirm?code={Model.RegistrationCode}&username={StringUtility.CleanString(Model.UserName)}&handler=ConfirmEmail"))
</p>
<p style="font-size:0.85em">
    @Html.Raw(string.Format(_translationProvider.Email[lang, "WELCOME_FOOTER_FORMAT"], Model.UserName, baseUrl, forumName))
</p>
<p>
    @Html.Raw(_translationProvider.Email[lang, "GREETING_END"])
</p>