@model Serverless.Forum.Pages._AttachmentPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>

@if (Model != null)
{
    if (Model.IsRenderedInline)
    {
        if (Model.MimeType.StartsWith("image", StringComparison.InvariantCultureIgnoreCase))
        {
            <img src="/File?Id=@Model.Id" />
            <br/>
        }
        else
        {
            <video>
                <source src="/File?Id=@Model.Id" type="@Model.MimeType" />
                <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
            </video>
            <br/>
        }
    }
    else
    {
        <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
    }
}
@Model.FileName