@model Serverless.Forum.Pages._AttachmentPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>

@if (Model != null)
{
    <p>&nbsp;</p>
    if (Model.IsRenderedInline)
    {
        if (Model.MimeType.StartsWith("image", StringComparison.InvariantCultureIgnoreCase))
        {
            <img src="/File?Id=@Model.Id" />
            <br />
            <span class="Caption">@Model.FileName (descărcat @(Model.DownloadCount == 1 ? "o dată" : $"de {Model.DownloadCount} ori"))</span>

        }
        else
        {
            <video>
                <source src="/File?Id=@Model.Id" type="@Model.MimeType" />
                <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
            </video>
            <br />
            <span class="Caption">@Model.FileName (descărcat @(Model.DownloadCount == 1 ? "o dată" : $"de {Model.DownloadCount} ori"))</span>
        }
    }
    else
    {
        <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
        <br />
        <span class="Caption">Descărcat @(Model.DownloadCount == 1 ? "o dată" : $"de {Model.DownloadCount} ori")</span>
    }
    <p>&nbsp;</p>
}
