@model Serverless.Forum.Pages._PaginationPartialModel
@using System.Web;
@using JW

<!DOCTYPE html>

@{
    var noOfPages = Model.Posts / Model.PostsPerPage + 1;
    var pager = new Pager(Model.Posts, Model.CurrentPage, Model.PostsPerPage, 7);
    var uri = HttpUtility.ParseQueryString(Model.Link);
    if (pager.TotalPages > 1)
    {
        <span>Mergi la pagina:&nbsp;</span>
        if (pager.StartPage > 1)
        {
            uri.Set("PageNum", "1");
            <span style="display:inline-block; background-color:gainsboro; padding:2px;">
                <a href="@uri.ToString()">1</a>
            </span>
            <span>&nbsp;...</span>
        }

        foreach (var curPage in pager.Pages)
        {
            if (curPage == Model.CurrentPage)
            {
                <span style="display:inline-block; padding:2px;">@curPage</span>
            }
            else
            {
                uri.Set("PageNum", curPage.ToString());
                <span style="display:inline-block; background-color:gainsboro; padding:2px;">
                    <a href="@uri.ToString()">@curPage</a>
                </span>
            }
        }

        if (pager.EndPage + 3 < pager.TotalPages)
        {
            uri.Set("PageNum", pager.TotalPages.ToString());
            <span>&nbsp;...</span>
            <span style="display:inline-block; background-color:gainsboro; padding:2px;">
                <a href="@uri.ToString()">@pager.TotalPages</a>
            </span>
        }
    }
}


