@page
@using Serverless.Forum.Utilities
@using Serverless.Forum.Pages.CustomPartials.Admin;

@model Serverless.Forum.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/_Layout.cshtml";
    var dateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
}

<h2>Panoul administratorului</h2>

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<link rel="stylesheet" href="~/css/admin.css" />

<div class="tab">
    <button class="@(Model.Category == AdminCategories.Users ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Users')">Administrare utilizatori</button>
    <button class="@(Model.Category == AdminCategories.Forums ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Forums')">Administrare forumuri</button>
    <button class="@(Model.Category == AdminCategories.WritingTools ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Writing')">Unelte scriere</button>
</div>

<span class="@Model.MessageClass">@Model.Message</span>

<div id="Users" class="tabcontent" style="@(Model.Category == AdminCategories.Users ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
    "_AdminUsersPartial",
    new _AdminUsersPartialModel(dateFormat, Model.UserSearchResults),
    ViewData
)
</div>

<div id="Forums" class="tabcontent" style="@(Model.Category == AdminCategories.Forums ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminForumsPartial",
        new _AdminForumsPartialModel(Model.Forum, Model.ForumChildren, Model.Permissions, Model.ShowForum),
        ViewData
    )
</div>

<div id="Writing" class="tabcontent" style="@(Model.Category == AdminCategories.WritingTools ? "display:inherit" : "display:none")">
    <center>
        <img src="~/images/loading.gif" width="50" height="50" alt="loading..." />
    </center>
</div>

<script type="text/javascript" async>
    $.ajax({
        type: "GET",
        url: "/Admin?handler=Writing",
        success: function (data) {
            $("#Writing").html(data);
        }, error: function (data) {
            $("#Writing").html(data);
        }
    });
</script>

<script type="text/javascript">
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>