@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Http

<h2>Forumul Metrou Ușor</h2>

    @foreach (var category in Model.Forums)
    {
        <div class="ForumListRow">
            @category.Name
        </div>
        @foreach (var forum in category.Children)
        {
            <div class="ForumListRow">
                <span class="ForumListLeft" style="padding-left:20px">
                    <a asp-page="/ViewForum" asp-route-ForumId="@forum.Id" class="nav-link">@forum.Name</a>
                </span>
                <span class="ForumListRight">
                    Ultimul mesaj: @forum.LastPostTime?.ToString(Model.LoggedUser?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")
                    <br />
                    de @forum.LastPosterName
                </span>
            </div>
        }
    }
