@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Forumul Metrou Ușor</h2>

@foreach (var category in Model.Forums)
{
    <div class="ForumListRowCategory">
        @category.Name
    </div>
    @foreach (var forum in category.Children)
    {
        var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";
        <div class="@divClass">
            <span class="ForumListLeft" style="padding-left:20px">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link">@forum.Name</a>
            </span>
            <span class="ForumListRight">
                Ultimul mesaj: @forum.LastPostTime?.ToString((await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")
                <br />
                de&nbsp;
                @if (forum.LastPosterId == null)
                {
                    Html.Raw(forum.LastPosterName);
                }
                else
                {
                    <a asp-page="/User" asp-route-userId="@forum.LastPosterId">@forum.LastPosterName</a>
                }
            </span>
        </div>
    }
}
