@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Http
@using Serverless.Forum.Utilities
@inject IHttpContextAccessor _httpContext

<h2>Forumul Metrou Ușor</h2>
<table border="0" width="100%">
    @foreach (var category in Model.Forums)
    {
        <tr>
            <td colspan="3">
                @category.Name
            </td>
        </tr>
        @foreach (var forum in category.Children)
        {
            <tr>
                <td width="3%">&nbsp;</td>
                <td width="66%">
                    <a asp-page="/ViewForum" asp-route-ForumId="@forum.Id" class="nav-link">@forum.Name</a>
                </td>
                <td width="31%">
                    Ultimul mesaj: @forum.LastPostTime?.ToString(Model.LoggedUser?.UserDateformat ?? "dddd, dd.MM.yyyy, HH:mm") 
                    <br/>
                    de @forum.LastPosterName
                </td>
            </tr>
        }
    }
</table>