@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
}

<h2>Forumul Metrou Ușor</h2>

@foreach (var category in Model.Forums)
{
    <div class="ForumListRowCategory">
        @category.Name
    </div>
    @foreach (var forum in category.ChildrenForums)
    {
        var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";
    <div class="@divClass">
        <span class="ForumListLeft" style="padding-left:20px">
            <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br/>
            @Html.Raw(forum.Description)
        </span>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new _SummaryPartialModel
            {
                AuthorId = forum.LastPosterId,
                AuthorName = forum.LastPosterName,
                CreationTime = forum.LastPostTime,
                AssetId = forum.Id.Value,
                DateFormat = UserDateFormat,
                AuthorColor = forum.LastPosterColor,
                LinkHref = forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                LinkText = forum.LastPostId == null ? null : $"Mergi la ultimul mesaj"
            }
        )
    </div>
    }
}
