@page
@using Serverless.Forum.Utilities
@model Serverless.Forum.Pages.PostingModel
@{
    ViewData["Title"] = "Posting";
    Layout = "~/Pages/_Layout.cshtml";
}

@await Html.PartialAsync(
    "_PostingScriptsPartial",
    new _PostingScriptsPartialModel
    {
        BbCodes = Model.BbCodesForJs.Codes,
        BbCodeHelpLines = Model.BbCodesForJs.HelpLines
    },
    ViewData)

<h2>Răspunde: </h2>
<form name="postform" method="post">
        <table style="clear: left; width:79%; vertical-align:middle; display:block; border:none">
            <tr>
                <td style="width:100px">Subiect</td>
                <td>
                    <input type="text" name="subject" id="subject" size="45" maxlength="256" tabindex="2" value="@Model.PostTitle" class="inputbox fullwidth">
                </td>
            </tr>  
            <tr id="colour_palette" style="position:absolute; visibility:hidden;">
                <td>Culoare font:</td>
                <td>
                    <br/>
                    <table class="ColorPaletteTable">
                        @{
                            var color = new[] { 0x0, 0x40, 0x80, 0xbf, 0xff };
                            for (var r = 0; r < 5; r++)
                            {
                                <tr>
                                    @for (var g = 0; g < 5; g++)
                                    {
                                        for (var b = 0; b < 5; b++)
                                        {
                                            var value = $"#{color[r]:X2}{color[g]:X2}{color[b]:X2}";
                                            <td style="width: 15px; height: 10px; background-color: @value; border:solid 1px white">
                                                <a href="#a" onclick="bbfontstyle('[color=@value]', '[/color]'); return false;" >
                                                    <img src="./images/spacer.gif" alt="@value" title="@value" style="width: 15px; height: 10px">
                                                </a>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                         }
                    </table>
                </td>
            </tr>
        </table>
    <br/>

    <div class="bbcodebuttons">
        <input type="button" class="button2" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" title="Text bold: [b]text[/b]">
        <input type="button" class="button2" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" title="Text italic: [i]text[/i]">
        <input type="button" class="button2" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" title="Text subliniat: [u]text[/u]">
        <input type="button" class="button2" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" title="Citează text: [quote]text[/quote]">
        <input type="button" class="button2" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" title="Afişează cod: [code]cod[/code]">
        <input type="button" class="button2" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" title="Listă: [list]text[/list]">
        <input type="button" class="button2" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" title="Listă ordonată: [list=]text[/list]">
        <input type="button" class="button2" accesskey="t" name="addlitsitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" title="Listează articolele: [*]text[/*]">
        <input type="button" class="button2" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" title="Adaugă imagine: [img]http://cale_imagine[/img]">
        <input type="button" class="button2" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" title="Adaugă URL: [url]http://url[/url] sau [url=http://url]text URL[/url]">
        <select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="Mărime font: [size=85]text mic[/size]">
            <option value="50">Micuţ</option>
            <option value="85">Mic</option>
            <option value="100" selected="selected">Normal</option>
            <option value="150">Mare</option>
            <option value="200">Imens</option>
        </select>
        <input type="button" class="button2" name="bbpalette" id="bbpalette" value="Culoare font" onclick="change_palette();" title="Culoare font: [color=red]text[/color]  Sfat: de asemenea puteţi folosi culorile hexazecimale culoare=#FF0000">
        @foreach (var code in Model.DbBbCodes.Value)
        {
            var index = Model.BbCodes.Value.IndexOf($"[{code.BbcodeTag}]");
            var name = $"addbbcode{index}";
            <input type="button" class="button2" name="@name" value="@code.BbcodeTag" onclick="bbstyle(@index)" title="@code.BbcodeHelpline" />
        }
    </div>
    <div id="messageHolder">
        <textarea name="message" id="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">@Model.PostText</textarea>
    </div>
    <div id="smiley-box" class="smileybox">

        <strong>Zâmbete</strong><br />

        @foreach (var smiley in Model.Smilies.Value.Where(s => s.DisplayOnPosting == 1))
        {
            <a href="#a" onclick="insert_text('@smiley.Code', true); return false;">
                <img src="@($"{Constants.SMILEY_PATH}/{smiley.SmileyUrl}")" alt="@smiley.Code" title="@smiley.Emotion" width="@smiley.SmileyWidth" height="@smiley.SmileyHeight" style="margin:2px" />
            </a>
        }
        <p>&nbsp;</p>
        <a href="#a" onclick="show_hidden_smilies(this)">Arată mai multe</a>
        <p>&nbsp;</p>
        <div id="hiddenSmilies" style="visibility:hidden">
            @foreach (var smiley in Model.Smilies.Value.Where(s => s.DisplayOnPosting == 0))
            {
                <a href="#a" onclick="insert_text('@smiley.Code', true); return false;">
                    <img src="@($"{Constants.SMILEY_PATH}/{smiley.SmileyUrl}")" alt="@smiley.Code" title="@smiley.Emotion" width="@smiley.SmileyWidth" height="@smiley.SmileyHeight" style="margin:2px" />
                </a>
            }
        </div>
    </div>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<input type="button" onclick="showAttachPanel()" value="Adaugă fișier atașat" />
<p>&nbsp;</p>
<p>&nbsp;</p>
<form method="post" asp-page-handler="Attachment" name="attachForm" style="visibility:hidden" enctype="multipart/form-data">
    <div>
        <dl>
            <dt class="AttachFieldsetDt">Fișier: </dt>
            <dd class="AttachFieldsetDd"><!--<input asp-for="Attachment" type="file" />--><input type="file" name="files" multiple /></dd>
        </dl>
        <dl>
            <dt class="AttachFieldsetDt">Comentariu fișier: </dt>
            <dd class="AttachFieldsetDd"><textarea name="fileComment" id="fileComment" rows="1" cols="40"></textarea></dd>
        </dl>
    </div>
    <input type="submit" value="Încarcă fișier" />
</form>
<script>
    var tribute = new Tribute({
        // menuContainer: document.getElementById('content'),
        values: [
            {
                key: "Jordan Humphreys",
                value: "[user]1[/user]"
            },
            {
                key: "Sir Walter Riley",
                value: "[user]2[/user]"
            }
        ],
        selectTemplate: function (item) {
            if (typeof item === "undefined") return null;
            if (this.range.isContentEditable(this.current.element)) {
                return (
                    '<span contenteditable="false"><a href="http://zurb.com" target="_blank" title="' +
                    item.original.email +
                    '">' +
                    item.original.value +
                    "</a></span>"
                );
            }

            return item.original.value;
        },
        trigger: "@@",
        allowSpaces: true
    });

   

    tribute.attach(document.getElementById("message"));
</script>