@page
@using Serverless.Forum.Utilities;
@model Serverless.Forum.Pages.ViewTopicModel
@{
    ViewData["Title"] = "ViewTopic";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@Model.TopicTitle</h2>
<p style="margin:20px;">
    Mergi la pagina: @await Html.PartialAsync("_PaginationPartial", Model.Pagination, ViewData)
</p>
@foreach (var post in Model.Posts)
{
    <div class="ForumListRow">
        <span class="ForumListLeft" id="@post.Id">
            <span class="PostTitle">
                <a href="#@post.Id">@Html.Raw(post.PostTitle)</a>
            </span>
            <p>&nbsp;</p>
            @Html.Raw(post.PostText)
        </span>
        <span class="ForumListRight">
            @if (post.AuthorId == null)
            {
                <span>Autor: @Html.Raw(post.AuthorName)</span>
                <br />
                <span>Scris la: @post.PostCreationTime?.ToString(User?.ToLoggedUser()?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")</span>
            }
            else
            {
                <span>Autor: <a asp-page="/User" asp-route-UserId="@post.AuthorId">@post.AuthorName</a></span>
                <br />
                <span>Scris la: @post.PostCreationTime?.ToString(User?.ToLoggedUser()?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")</span>
            }
        </span>
    </div>
}
<p style="margin:20px;">
    Mergi la pagina: @await Html.PartialAsync("_PaginationPartial", Model.Pagination, ViewData)
</p>

<!-- Begin Media resizer -->
<!--
    use this https://stackoverflow.com/questions/4100252/javascript-executing-function-after-full-image-load
    or just move the logic to the future File class
-->
<script type="text/javascript">
        /*var posts = document.getElementsByClassName("ForumListLeft");
        for (var i = 0; i < posts.length; i++) {
            var imgs = posts[i].getElementsByTagName("img");
            //alert(imgs.length);
            var w = posts[i].offsetWidth;
            var h = window.innerHeight;
            for (var j = 0; j < imgs.length; j++) {
                var oh = imgs[j].naturalHeight, ow = imgs[j].naturalWidth,
                    x = h / oh, y = w / ow;
                imgs[j].style.maxWidth = w + "px";
                imgs[j].style.maxHeight = h + "px";
                //alert(imgs[j].src);
                /*if (x < 1 || y < 1) {
                    imgs[j].style.width = Math.round(0.9 * ow * Math.min(x, y)) + "px";
                    imgs[j].style.height = Math.round(0.9 * oh * Math.min(x, y)) + "px";
                    //alert(imgs[j].src);
                    if (imgs[j].parentNode.nodeName != "A") {
                        imgs[j].setAttribute("onclick", "window.open(this.src);");
                        imgs[j].setAttribute("title", "Click pentru imaginea marita.");
                        imgs[j].style.cursor = "pointer";
                    }
                }*
            }
            var frames = posts[i].getElementsByTagName("iframe");
            for (var j = 0; j < frames.length; j++) {
                frames[j].width = (w - 20);
                frames[j].height = Math.max(Math.round(h / 1.8), Math.round((w - 20) * 9 / 16));
                frames[j].style.width = (w - 20) + "px";
                frames[j].style.height = Math.max(Math.round(h / 1.8), Math.round((w - 20) * 9 / 16)) + "px";
                if (frames[j].src.indexOf("imgur") != -1)
                    frames[j].src += "?w=" + (w - 20);
            }
        }*/
    /*var imgs = document.images,
        len = imgs.length,
        counter = 0;
    //alert('a');
    [].forEach.call(imgs, function (img) {
        var w = img.parentNode.offsetWidth;
        var h = window.innerHeight;
        var oh = img.naturalHeight,
            ow = img.naturalWidth,
            x = h / oh, y = w / ow;
        if (x < 1 || y < 1) {
            img.style.width = Math.round(0.9 * ow * Math.min(x, y)) + "px";
            img.style.height = Math.round(0.9 * oh * Math.min(x, y)) + "px";
            //alert(img.src);
            if (img.parentNode.nodeName != "A") {
                img.setAttribute("onclick", "window.open(this.src);");
                img.setAttribute("title", "Click pentru imaginea marita.");
                img.style.cursor = "pointer";
            }
        }
    });*/
    
</script>

<!-- End media resizer-->
