@page
@using Serverless.Forum.Utilities;
@model Serverless.Forum.Pages.ViewTopicModel
@{
    ViewData["Title"] = $"{Model.ForumTitle} - {Model.TopicTitle}";
    Layout = "~/Pages/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        var posts = document.getElementsByClassName("ForumListLeft");
        for (var i = 0; i < posts.length; i++) {
            var imgs = posts[i].getElementsByTagName("img");
            var w = posts[i].offsetWidth;
            var h = window.innerHeight;
            for (var j = 0; j < imgs.length; j++) {
                var oh = imgs[j].naturalHeight,
                    ow = imgs[j].naturalWidth,
                    x = h / oh,
                    y = w / ow;
                imgs[j].style.maxWidth = w + "px";
                imgs[j].style.maxHeight = h + "px";
                if (x < 1 || y < 1) {
                    imgs[j].style.width = Math.round(0.9 * ow * Math.min(x, y)) + "px";
                    imgs[j].style.height = Math.round(0.9 * oh * Math.min(x, y)) + "px";
                    if (imgs[j].parentNode.nodeName != "A") {
                        imgs[j].setAttribute("onclick", "window.open(this.src);");
                        imgs[j].setAttribute("title", "Click pentru imaginea marita.");
                        imgs[j].style.cursor = "pointer";
                    }
                }
            }
            var frames = posts[i].getElementsByTagName("iframe");
            for (var j = 0; j < frames.length; j++) {
                frames[j].width = (w - 20);
                frames[j].height = Math.max(Math.round(h / 1.8), Math.round((w - 20) * 9 / 16));
                frames[j].style.width = (w - 20) + "px";
                frames[j].style.height = Math.max(Math.round(h / 1.8), Math.round((w - 20) * 9 / 16)) + "px";
                if (frames[j].src.indexOf("imgur") != -1)
                    frames[j].src += "?w=" + (w - 20);
            }
        }
        var postId = @Json.Serialize(Model.PostId ?? -1);
        var highlight = @Json.Serialize(Model.Highlight ?? true);
        if (postId != -1) {
            element = document.getElementById(postId);
            elementRect = element.getBoundingClientRect();
            absoluteElementTop = elementRect.top + window.pageYOffset;
            middle = absoluteElementTop - (window.innerHeight / 2);
            if (element.parentNode && highlight) {
                element.parentNode.style.borderWidth = "5px"
                element.parentNode.style.borderColor = "#33beff";
            }
            window.scrollTo(0, middle);
        }
    }
</script>

@if (Model.ForumId != null)
{
    <h4>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ForumId">@Model.ForumTitle</a></h4>
}
<h2>Subiect: @Model.TopicTitle</h2>

<table style="border:none">
    <tr>

        <td style="padding-right:20px">
            @await Html.PartialAsync("_PaginationPartial", Model.Pagination, ViewData)
        </td>

        @if ((await Model.GetCurrentUserAsync()).UserId != 1)
        {
            <td>
                <form method="post">
                    <label>Mesaje afișate pe pagină:&nbsp;</label>
                    <input type="hidden" name="topicId" value="@Model.TopicId" />
                    <input type="hidden" name="postId" value="@Model.Posts.FirstOrDefault()?.Id" />
                    @Html.DropDownList("userPostsPerPage", Model.PostsPerPage)
                    &nbsp;
                    <input type="submit" value="Salvează" />
                </form>
            </td>
        }

    </tr>
</table>

@foreach (var post in Model.Posts)
{
    <div class="ForumListRow">
        <span class="ForumListLeft" id="@post.Id">
            <span class="PostTitle">
                <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@post.Id">@Html.Raw(post.PostTitle)</a>
            </span>
            <p>&nbsp;</p>
            @Html.Raw(post.PostText)
            @foreach (var attachment in from a in post.Attachments
                                       where !a.IsDisplayedInline
                                       select a)
            {
                <p>------------------</p>
                @await Html.PartialAsync("_AttachmentPartial", attachment, ViewData)
            }
            <br />
            @if (!Model.IsLocked)
            {
                <a asp-page="/Posting" asp-page-handler="QuoteForumPost" asp-route-postId="@post.Id">Răspunde cu citat</a>
            }
            else
            {
                <a href="#" title="Subiectul este închis, nu se mai pot trimite răspunsuri."><s>Răspunde cu citat</s></a>
            }
        </span>
        <span class="ForumListRight">
            @if (post.AuthorId == null)
            {
                <span>Autor: @Html.Raw(post.AuthorName)</span>
                <br />
                <span>Scris la: @post.PostCreationTime?.ToString(User?.ToLoggedUser()?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")</span>
            }
            else
            {
                <span>Autor: <a asp-page="/User" asp-route-UserId="@post.AuthorId">@post.AuthorName</a></span>
                <br />
                <span>Scris la: @post.PostCreationTime?.ToString(User?.ToLoggedUser()?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")</span>
            }
        </span>
    </div>
}
<p></p>
@if (!Model.IsLocked)
{
    <a asp-page="/Posting" asp-page-handler="ForumPost" asp-route-topicTitle="@Model.TopicTitle">Scrie un răspuns</a>
}
else
{
    <a title="Subiectul este închis, nu se mai pot trimite răspunsuri."><s>Scrie un răspuns</s></a>
}
<p></p>

<table style="border:none;">
    <tr>
        @if (!Model.IsFirstPage)
        {
            <td style="padding-right:20px">
                <a asp-page="/ViewTopic" asp-route-topicId="@Model.TopicId" asp-route-pageNum="@(Model.CurrentPage - 1)" style="text-decoration:none">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="font-size:3em; vertical-align:middle; padding-right:10px">
                                &#x1F880;
                            </td>
                            <td style="vertical-align:middle;">
                                Pagina<br />precedentă
                            </td>
                        </tr>
                    </table>
                </a>
            </td>
        }
        <td style="padding-right:20px">
            @await Html.PartialAsync("_PaginationPartial", Model.Pagination, ViewData)
        </td>
        @if ((await Model.GetCurrentUserAsync()).UserId != 1)
        {
            <td style="padding-right:20px">
                <form method="post">
                    <label>Mesaje afișate pe pagină:&nbsp;</label>
                    <input type="hidden" name="topicId" value="@Model.TopicId" />
                    <input type="hidden" name="postId" value="@Model.Posts.FirstOrDefault()?.Id" />
                    @Html.DropDownList("userPostsPerPage", Model.PostsPerPage)
                    &nbsp;
                    <input type="submit" value="Salvează" />
                </form>
            </td>
        }
        @if (!Model.IsLastPage)
        {
            <td>
                <a asp-page="/ViewTopic" asp-route-topicId="@Model.TopicId" asp-route-pageNum="@(Model.CurrentPage + 1)" style="text-decoration:none">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="vertical-align:middle;">
                                Pagina<br />următoare
                            </td>
                            <td style="font-size:3em; vertical-align:middle; padding-left:10px">
                                &#x1F882;
                            </td>
                        </tr>
                    </table>
                </a>
            </td>
        }
    </tr>
</table>



