@page
@model Serverless.Forum.Pages.ViewForumModel
@{
    ViewData["Title"] = Model.ForumTitle;
    Layout = "~/Pages/_Layout.cshtml";
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = Model.CurrentUserId == 1;
}
<form asp-page-handler="Forums" method="post" name="MarkForumsRead">
    <input name="forumId" type="hidden" value="@Model.ForumId" />
</form>
<form asp-page-handler="Topics" method="post" name="MarkTopicsRead">
    <input name="forumId" type="hidden" value="@Model.ForumId" />
</form>
<script type="text/javascript" src="~/js/site.js"></script>

@if (Model.ParentForumId != 0)
{
    <h4>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@Model.ParentForumTitle</a></h4>
}
else
{
    <h4><a href="/">Prima pagină</a></h4>
}
<h2>Forum: @Model.ForumTitle</h2>
<p>&nbsp;</p>
@if (Model.Forums.Any())
{
    <h4 style="float:left">Forumuri</h4>
    @if (!IsAnonymous)
    {
        <a href="#" onclick="MarkForumsRead.submit()" style="float:right; margin-top:10px; margin-bottom:10px">Marchează forumurile ca citite</a>
    }
    @foreach (var forum in Model.Forums)
    {
        var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";<div class="@divClass">
            <span class="ForumListLeft">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br />
                @Html.Raw(forum.Description)
            </span>
            @await Html.PartialAsync(
                "_SummaryPartial",
                new CustomPartials._SummaryPartialModel
                {
                    AuthorId = forum.LastPosterId,
                    AuthorName = forum.LastPosterName,
                    CreationTime = forum.LastPostTime,
                    AssetId = forum.Id.Value,
                    DateFormat = UserDateFormat,
                    AuthorColor = forum.LastPosterColor,
                    LinkHref = forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                    LinkText = forum.LastPostId == null ? null : $"Mergi la ultimul mesaj"
                }
            )
        </div>
    }

    <p>&nbsp;</p>
}
@if (Model.Topics.Any())
{
    /*https://stackoverflow.com/questions/5144265/an-equally-quick-alternative-to-securityelement-escapestring-to-escape-xml-spe#comment88712318_5144356
     * use SecurityElement.Escape when using Html.Raw*/
    var topicsDisplayed = false;
    if (!IsAnonymous)
    {
        <a href="#" onclick="MarkTopicsRead.submit()" style="float:right; margin-top:10px; margin-bottom:10px">Marchează subiectele ca citite</a>
    }
    foreach (var topicGroup in Model.Topics)
    {
        @if ((topicGroup.TopicType ?? 0) == 2)
        {
            <h4 style="float:left">Anunțuri</h4>
        }
        else if (!topicsDisplayed)
        {
            <h4 style="float:left">Subiecte</h4>
            topicsDisplayed = true;
        }
        foreach (var topic in topicGroup?.Topics ?? new List<TopicDisplay>())
        {
            var divClass = topic.Unread ? "ForumListRow Unread" : "ForumListRow";
            <div class="@divClass">
                <span class="ForumListLeft">
                    @if (topicGroup.TopicType == 1)
                    {
                        <span>&#x26A0;&#xFE0F;&nbsp;</span>
                    }
                    @if (topic.Unread)
                    {

                        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@Model.GetFirstUnreadPost(topic.Id ?? 0)" asp-route-highlight="false" class="nav-link" style="font-weight:bold">@Html.Raw(topic.Title)</a>
                    }
                    else
                    {
                        <a asp-page="/ViewTopic" asp-route-topicId="@topic.Id" asp-route-pageNum="1" class="nav-link" style="font-weight:bold">@Html.Raw(topic.Title)</a>
                    }
                    <br />
                    @await Html.PartialAsync("_PaginationPartial", topic.Pagination, ViewData)
                </span>
                @await Html.PartialAsync(
                    "_SummaryPartial",
                    new CustomPartials._SummaryPartialModel
                    {
                        AuthorId = topic.LastPosterId,
                        AuthorName = topic.LastPosterName,
                        CreationTime = topic.LastPostTime,
                        AssetId = topic.Id.Value,
                        DateFormat = UserDateFormat,
                        AuthorColor = topic.LastPosterColor,
                        LinkHref = topic.LastPostId == null ? null : $"./ViewTopic?postId={topic.LastPostId}&handler=ByPostId",
                        LinkText = topic.LastPostId == null ? null : $"Mergi la ultimul mesaj"
                    }
                )
            </div>
        }
    }
}

<p></p>
<span onclick="showElement('forumTree')" style="cursor:pointer; font-weight:bold">Navigare - alege destinația &#x2935;</span>
<p></p>
<div id="forumTree" style=" display:none">
    <div style="height:400px; max-height:600px; overflow-y:scroll;">
        @await Html.PartialAsync(
            "_ForumTreePartial",
             new CustomPartials._ForumTreePartialModel
             {
                 Forums = await Model.GetForumTree(),
                 ForumId = Model.ForumId,
                 TopicId = null,
                 PathToForumOrTopic = await Model.PathToForumOrTopic(Model.ForumId, null)
             },
            ViewData
        )
    </div>
    <p></p>
    <form action="/ViewForum">
        <input type="hidden" name="ForumId" id="ForumIdInput" />
        <input type="submit" value="Du-te" />
    </form>
</div>