@page
@model Serverless.Forum.Pages.ViewTopicModel
@{
    ViewData["Title"] = $"{Model.ForumTitle} - {Model.TopicTitle}";
    Layout = "~/Pages/_Layout.cshtml";
    var IsAnonymous = Model.CurrentUserId == 1;
    var IsLocked = Model.IsLocked
                && !(await Model.IsCurrentUserAdminHereAsync(Model.ForumId.Value))
                && !(await Model.IsCurrentUserModeratorHereAsync(Model.ForumId.Value));
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
}

<script type="text/javascript">
    window.onload = function () {
        onPostLoad();
        var postId = @Json.Serialize(Model.PostId ?? 0);
        var highlight = @Json.Serialize(Model.Highlight ?? true);
        if (postId != -1) {
            element = document.getElementById(postId);
            elementRect = element.getBoundingClientRect();
            absoluteElementMiddle = ((elementRect.top + elementRect.bottom) / 2) + window.pageYOffset;
            middle = absoluteElementMiddle - (window.innerHeight / 2);
            if (element.parentNode && highlight) {
                element.parentNode.style.borderWidth = "5px"
                element.parentNode.style.borderColor = "#87ceeb";
            }
            window.scrollTo(0, middle);
        }
    }

    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("ForumIdInput");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }
</script>

@if (Model.ForumId != null)
{
    <h4>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ForumId">@Model.ForumTitle</a></h4>
}
<h2>Subiect: @Model.TopicTitle</h2>

@if (Model.Poll != null)
{
    if (Model.Poll.CanVoteNow(Model.CurrentUserId))
    {
        <span>to do</span>
    }
    else
    {
        <h4>@Model.Poll.PollTitle</h4>
        <div>Chestionarul @(Model.Poll.PollEnd < DateTime.UtcNow ? "a fost" : "va fi") inchis: @(Model.Poll.PollEnd.ToString(UserDateFormat)).</div>
        <p></p>
        <table style="border:none; padding:unset; margin:unset; width:100%">
            @foreach (var option in Model.Poll.PollOptions)
            {
                <tr style="border-bottom:solid 1px black">
                    <td style="width:50%; padding-right:10px; padding-top: 5px; padding-bottom: 5px">
                        @Html.Raw(option.PollOptionText)
                        @if (await Model.IsCurrentUserAdminHereAsync(Model.ForumId ?? 0))
                        {
                            <div class="Caption">
                                Votanti: @string.Join(", ", option.PollOptionVoters.Select(v => v.Username))
                            </div>
                        }
                    </td>
                    <td style="width:50%; padding-top: 5px; padding-bottom: 5px">
                        @{var percentage = (option.PollOptionVotes * 100m / Model.Poll.TotalVotes).ToString("##0.##'%'", System.Globalization.CultureInfo.InvariantCulture);}
                        <span style="width: 100%; background: linear-gradient(to right, #87ceeb @percentage, #ffffff 0%); border: solid 1px black; display: inline-block; padding:2px">
                            @option.PollOptionVotes @(option.PollOptionVotes == 1 ? "vot" : "voturi") @(percentage)
                        </span>
                    </td>
                </tr>
            }
        </table>
    }
    <p></p>
}

@await  Html.PartialAsync(
    "_PaginationControlsPartial",
    new CustomPartials._PaginationControlsPartialModel(
        pagination: Model,
        allowPaginationChange: true,
        back: $"ViewTopic?TopicId={Model.TopicId}&PageNum={Model.Pagination.CurrentPage - 1}",
        forward: $"ViewTopic?TopicId={Model.TopicId}&PageNum={Model.Pagination.CurrentPage + 1}",
        includeEasyNavigation: false,
        topicId: Model.TopicId,
        lastPostId: Model.Posts.LastOrDefault()?.PostId
    ),
    ViewData
)

@foreach (var post in Model.Posts)
{
    var divClass = post.Unread ? "ForumListRow Unread" : "ForumListRow";
    <div class="@divClass">
        <div class="ForumListLeft" id="@post.PostId">
            <span class="PostTitle">
                <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@post.PostId">@Html.Raw(post.PostSubject)</a>
            </span>
            <span class="CollapsedMenu" onclick="expandCollapsedMenu('#summary@(post.PostId.Value)', '#button@(post.PostId.Value)')" id="button@(post.PostId.Value)" style="color:#@post.AuthorColor">
                @Html.Raw(post.AuthorName)
            </span>
            <p>&nbsp;</p>
            <span style="display:flex; flex-direction:column">
                <span style="display:inline-block">
                    @Html.Raw(post.PostText)
                    @foreach (var attachment in post.Attachments)
                    {
                        <br />
                        @await Html.PartialAsync("_AttachmentPartial", attachment, ViewData)
                    }
                    <br />
                </span>
                <span style="margin-top:auto; display:inline-block">
                    <span style="float:right">
                        @if (!IsLocked)
                        {
                            <a asp-page="/Posting" asp-page-handler="QuoteForumPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@post.PostId">Răspunde cu citat</a>
                        }
                        else
                        {
                            <a href="#" title="Subiectul este închis, nu se mai pot trimite răspunsuri."><s>Răspunde cu citat</s></a>
                        }
                    </span>
                    @if (!string.IsNullOrWhiteSpace(post.AuthorSignature))
                    {
                        <br/>
                        <span style="width:25%; display:inline-block; border-bottom:solid 1px black">&nbsp;</span>
                        <br/>
                        <span class="Caption">@Html.Raw(post.AuthorSignature)</span>
                    }
                </span>
            </span>
        </div>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new CustomPartials._SummaryPartialModel
            {
                AuthorId = post.AuthorId,
                AuthorName = post.AuthorName,
                CreationTime = post.PostCreationTime,
                AssetId = post.PostId.Value,
                DateFormat = UserDateFormat,
                AuthorColor = post.AuthorColor,
                ShowAvatar = post.AuthorHasAvatar
            }
        )
    </div>
}
<p></p>
@if (!IsLocked)
{
    <a asp-page="/Posting" asp-page-handler="ForumPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId">Scrie un răspuns</a>
}
else
{
    <a title="Subiectul este închis, nu se mai pot trimite răspunsuri."><s>Scrie un răspuns</s></a>
}
<p></p>

@await  Html.PartialAsync(
    "_PaginationControlsPartial",
    new CustomPartials._PaginationControlsPartialModel(
        pagination: Model,
        allowPaginationChange: true,
        back: $"ViewTopic?TopicId={Model.TopicId}&PageNum={Model.Pagination.CurrentPage - 1}",
        forward: $"ViewTopic?TopicId={Model.TopicId}&PageNum={Model.Pagination.CurrentPage + 1}",
        includeEasyNavigation: true,
        topicId: Model.TopicId,
        lastPostId: Model.Posts.LastOrDefault()?.PostId
    ),
    ViewData
)

<p></p>
<span onclick="showElement('forumTree')" style="cursor:pointer; font-weight:bold">Navigare - alege destinația &#x2935;</span>
<p></p>
<div id="forumTree" style=" display:none">
    <div style="height:400px; max-height:600px; overflow-y:scroll;">
        @await Html.PartialAsync(
            "_ForumTreePartial",
             new CustomPartials._ForumTreePartialModel
             {
                 Forums = await Model.GetForumTreeAsync(),
                 ForumId = Model.ForumId,
                 TopicId = Model.TopicId,
                 PathToForumOrTopic = await Model.PathToForumOrTopic(Model.ForumId.Value, Model.TopicId)
             },
            ViewData
        )
    </div>
    <p></p>
    <form action="/ViewForum">
        <input type="hidden" name="ForumId" id="ForumIdInput" />
        <input type="submit" value="Du-te" />
    </form>
</div>