@page
@model Serverless.Forum.Pages.ViewForumModel
@using Serverless.Forum.Utilities
@inject Services.ForumTreeService _forumService
@{
    ViewData["Title"] = Model.ForumTitle;
    Layout = "~/Pages/_Layout.cshtml";
    var UserDateFormat = (await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = Model.CurrentUserId == Constants.ANONYMOUS_USER_ID;
}

<link rel="stylesheet" href="~/css/pagination.css" />

<form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>
<form asp-page-handler="MarkTopicsRead" method="post" name="MarkTopicsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>

<script type="text/javascript">
    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("ForumIdInput");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }
</script>

@if (Model.ParentForumId != 0 && !Model.IsNewPostView)
{
    <span>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@Model.ParentForumTitle</a></span>
}
else
{
    <h4><a href="/">Prima pagină</a></h4>
}
@if (Model.IsNewPostView)
{
    <h2>Mesaje necitite</h2>
}
else
{
    <h2>Forum: @Model.ForumTitle</h2>
}
@if (!IsAnonymous && !Model.IsNewPostView)
{
    <ul class="Shortcuts">
        @if (Model.Forums?.Any() ?? false)
        {
            <li><a href="javascript:MarkForumsRead.submit()">Marchează forumurile ca citite</a></li>
        }
        @if (Model.Topics?.Any() ?? false)
        {
            <li><a href="javascript:MarkTopicsRead.submit()">Marchează subiectele ca citite</a></li>
        }
        <li><a asp-page="/Posting" asp-page-handler="NewTopic" asp-route-forumId="@Model.ForumId">Deschide un subiect nou</a></li>
    </ul>
}

@if (Model.Forums?.Any() ?? false)
{
    @await Html.PartialAsync(
        "_ForumDisplayPartial",
        new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(Model.Forums, UserDateFormat, true),
        ViewData
    )
    <hr />
}

@if (Model.Topics?.Any() ?? false)
{
    /*https://stackoverflow.com/questions/5144265/an-equally-quick-alternative-to-securityelement-escapestring-to-escape-xml-spe#comment88712318_5144356
     * use SecurityElement.Escape when using Html.Raw*/
    var topicsDisplayed = false;
    var announcementsDisplayed = false;
    var globalsDisplayed = false;
    foreach (var topicGroup in Model.Topics)
    {
        var index = 0;
        if (!globalsDisplayed && topicGroup.TopicType == TopicType.Global)
        {
            <h3 style="float:left">Subiecte globale</h3>
            globalsDisplayed = true;
        }
        else if (!announcementsDisplayed && topicGroup.TopicType == TopicType.Announcement)
        {
            <h3 style="float:left">Anunțuri</h3>
            announcementsDisplayed = true;
        }
        else if (!topicsDisplayed)
        {
            <h3 style="float:left">Subiecte</h3>
            topicsDisplayed = true;
        }
        foreach (var topic in topicGroup?.Topics ?? new List<TopicDto>())
        {
            var divClass = topic.Unread ? $"FlexRow Unread RowMargin Color{index % 2}" : $"FlexRow RowMargin Color{index % 2}";
            index++;
            <div class="@divClass">
                <span class="ForumContent">
                    @if (Model.IsNewPostView)
                    {
                        var tree = await Model.GetForumTreeAsync();
                        @Html.Raw(string.Join(" → ", _forumService.GetPathInTree(tree, f => f.Name, -1, topic.Id ?? -1).Skip(1)))
                        <br />
                    }
                    @if (topicGroup.TopicType == TopicType.Important)
                    {
                        <span>&#x26A0;&#xFE0F;&nbsp;</span>
                    }
                    @if (topic.Unread)
                    {

                        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@Model.GetFirstUnreadPost(topic.Id ?? 0)" asp-route-highlight="false" class="nav-link" style="font-weight:bold">@Html.Raw(topic.Title)</a>
                    }
                    else
                    {
                        <a asp-page="/ViewTopic" asp-route-topicId="@topic.Id" asp-route-pageNum="1" class="nav-link" style="font-weight:bold">@Html.Raw(topic.Title)</a>
                    }
                    <br />
                    @await Html.PartialAsync("_PaginationPartial", topic.Pagination, ViewData)
                </span>
                @await Html.PartialAsync(
                    "_SummaryPartial",
                    new CustomPartials._SummaryPartialModel(topic.LastPosterId, topic.LastPosterName, topic.LastPosterColor, topic.LastPostTime, topic.Id.Value,
                        UserDateFormat, false, null,
                        topic.LastPostId == null ? null : $"./ViewTopic?postId={topic.LastPostId}&handler=ByPostId",
                        topic.LastPostId == null ? null : "&#x1F4C3;",
                        topic.LastPostId == null ? null : "Vezi ultimul mesaj",
                        false, true, topic.PostCount, topic.ViewCount
                    )
                )
            </div>
        }
        <hr />
    }
}
else if (Model.IsNewPostView)
{
    <h4>Nu există mesaje noi.</h4>
}
@if (!IsAnonymous && !Model.IsNewPostView)
{
    <a asp-page="/Posting" asp-page-handler="NewTopic" asp-route-forumId="@Model.ForumId">Deschide un subiect nou</a>
}

<p></p>
<span onclick="showElement('forumTree', null, () => $('html, body').animate({ scrollTop: $(this).position().top + $('#topBanner').outerHeight() + 1000 }, 'slow'));" style="cursor:pointer; font-weight:bold">Navigare - alege destinația &#x2935;</span>
<p></p>
<div id="forumTree" style=" display:none">
    @await Html.PartialAsync(
        "_ForumTreePartial",
        new CustomPartials._ForumTreePartialModel(
            forums: await Model.GetForumTreeAsync(),
            forumId: Model.ForumId,
            topicId: null,
            path: await Model.PathToForumOrTopic(Model.ForumId),
            constrainSize: true
        ),
        ViewData
    )
    <p></p>
    <form action="/ViewForum">
        <input type="hidden" name="ForumId" id="ForumIdInput" />
        <input type="submit" value="Du-te" />
    </form>
</div>