@page
@using Serverless.Forum.Utilities;
@model Serverless.Forum.Pages.ViewForumModel
@{
    ViewData["Title"] = Model.ForumTitle;
    Layout = "~/Pages/_Layout.cshtml";
}
@if (Model.ParentForumId != 0)
{
    <h4>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@Model.ParentForumTitle</a></h4>
}
else
{
    <h4><a href="/">Prima pagină</a></h4>
}
<h2>Forum: @Model.ForumTitle</h2>
<p>&nbsp;</p>
@if (Model.Forums.Any())
{
    <h4>Forumuri</h4>
    @foreach (var forum in Model.Forums)
    {
        var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";
        <div class="@divClass">
            <span class="ForumListLeft">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link">@forum.Name</a>
            </span>
            <span class="ForumListRight">
                Ultimul mesaj: @forum.LastPostTime?.ToString((await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")
                <br />
                de @forum.LastPosterName
            </span>
        </div>
    }

    <p>&nbsp;</p>
}
@if (Model.Topics.Any())
{
    /*https://stackoverflow.com/questions/5144265/an-equally-quick-alternative-to-securityelement-escapestring-to-escape-xml-spe#comment88712318_5144356
     * use SecurityElement.Escape when using Html.Raw*/
    var topicsDisplayed = false;
    foreach (var topicGroup in Model.Topics)
    {
        @if ((topicGroup.TopicType ?? 0) == 2)
        {
            <h4>Anunțuri</h4>
        }
        else if (!topicsDisplayed)
        {
            <h4>Subiecte</h4>
            topicsDisplayed = true;
        }
        foreach (var topic in topicGroup?.Topics ?? new List<TopicDisplay>())
        {
            var divClass = topic.Unread ? "ForumListRow Unread" : "ForumListRow";
            <div class="@divClass">
                <span class="ForumListLeft">
                    @if (topicGroup.TopicType == 1)
                    {
                        <span>&#x26A0;&#xFE0F;&nbsp;</span>
                    }
                    @if (topic.Unread)
                    {

                        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@Model.GetFirstUnreadPost(topic.Id ?? 0)" asp-route-highlight="false" class="nav-link">@Html.Raw(topic.Title)</a>
                    }
                    else
                    {
                        <a asp-page="/ViewTopic" asp-route-topicId="@topic.Id" asp-route-pageNum="1" class="nav-link">@Html.Raw(topic.Title)</a>
                    }
                    <br />
                    @await Html.PartialAsync("_PaginationPartial", topic.Pagination, ViewData)
                </span>
                <span class="ForumListRight">
                    Ultimul mesaj: @topic.LastPostTime?.ToString((await Model.GetCurrentUserAsync())?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm")
                    <br />
                    de&nbsp;
                    <span style="font-weight:bold; color:@topic.LastPosterColor">
                        @if (topic.LastPosterId == null)
                        {
                            Html.Raw(topic.LastPosterName);
                        }
                        else
                        {
                            <a asp-page="/User" asp-route-userId="@topic.LastPosterId">@topic.LastPosterName</a>
                        }
                    </span>
                </span>
            </div>
        }
    }
}

