@page
@model Serverless.Forum.Pages.ViewForumModel

@using Serverless.Forum.Utilities
@using System.Web

@inject Services.ForumTreeService _forumService

@{
    ViewData["Title"] = Model.ForumTitle;
    Layout = "~/Pages/_Layout.cshtml";
    var CurrentUser = await Model.GetCurrentUserAsync();
    var UserDateFormat = CurrentUser?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = CurrentUser?.IsAnonymous ?? true;
    var hasSubForums = _forumService.HasUnrestrictedChildren((await Model.GetForumTree()).Tree, Model.ForumId);
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>
<form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>
<form asp-page-handler="MarkTopicsRead" method="post" name="MarkTopicsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>

<script type="text/javascript">
    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("ForumIdInput");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }
</script>

@if ((Model.ParentForumId ?? 0) != 0 && !Model.IsNewPostView && !Model.IsOwnPostView)
{
    <span>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@Model.ParentForumTitle</a></span>
}
else
{
    <h4><a href="/">Prima pagină</a></h4>
}
@if (Model.IsNewPostView)
{
    <h2>Subiecte necitite</h2>
}
else if (Model.IsOwnPostView)
{
    <h2>Subiectele proprii</h2>
    <span>Subiecte în care ai scris cel puțin un mesaj</span>
    <p>&nbsp;</p>
}
else
{
    <h2>Forum: @Model.ForumTitle</h2>
}
@if (!IsAnonymous && !Model.IsNewPostView && !Model.IsOwnPostView)
{
    <ul class="Shortcuts">
        @if (hasSubForums)
        {
            <li><a href="javascript:MarkForumsRead.submit()">Marchează forumurile ca citite</a></li>
        }
        @if (Model.Topics?.Any() ?? false)
        {
            <li><a href="javascript:MarkTopicsRead.submit()">Marchează subiectele ca citite</a></li>
        }
        <li><a asp-page="/Posting" asp-page-handler="NewTopic" asp-route-forumId="@Model.ForumId">Deschide un subiect nou</a></li>
    </ul>
}

@if (hasSubForums)
{
    @await Html.PartialAsync(
        "_ForumDisplayPartial",
        new Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel(Model.ForumId, Model.Forums, UserDateFormat, true, CurrentUser),
        ViewData
    )
    <hr />
}

@if (Model.Topics?.SelectMany(x => x.Topics).Any() ?? false)
{
    /*https://stackoverflow.com/questions/5144265/an-equally-quick-alternative-to-securityelement-escapestring-to-escape-xml-spe#comment88712318_5144356
     * use SecurityElement.Escape when using Html.Raw*/
    var topicsDisplayed = false;
    var announcementsDisplayed = false;
    var globalsDisplayed = false;

    if (Model.IsNewPostView || Model.IsOwnPostView)
    {
        var view = Model.IsNewPostView ? "new" : "own";
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new CustomPartials._PaginationControlsPartialModel(
                paginator: Model.Paginator,
                allowPaginationChange: true,
                back: $"/ViewForum?handler={view}Posts&pageNum={(Model.PageNum ?? 1) - 1}",
                forward: $"/ViewForum?handler={view}Posts&pageNum={(Model.PageNum ?? 1) + 1}",
                includeEasyNavigation: true
            ),
            ViewData
        );
    }


    foreach (var topicGroup in Model.Topics)
    {
        var index = 0;
        if (!Model.IsNewPostView && !Model.IsOwnPostView)
        {
            if (!globalsDisplayed && topicGroup.TopicType == TopicType.Global)
            {
                <h3 style="float:left">Subiecte globale</h3>
                globalsDisplayed = true;
            }
            else if (!announcementsDisplayed && topicGroup.TopicType == TopicType.Announcement)
            {
                <h3 style="float:left">Anunțuri</h3>
                announcementsDisplayed = true;
            }
            else if (!topicsDisplayed)
            {
                <h3 style="float:left">Subiecte</h3>
                topicsDisplayed = true;
            }
        }
        foreach (var topic in topicGroup?.Topics ?? new List<TopicDto>())
        {
            var pageSize = CurrentUser.TopicPostsPerPage.ContainsKey(topic.TopicId ?? 0) ? CurrentUser.TopicPostsPerPage[topic.TopicId ?? 0] : Constants.DEFAULT_PAGE_SIZE;
            topic.Unread = await Model.IsTopicUnread(topic.TopicId ?? 0);
            topic.Pagination = new CustomPartials._PaginationPartialModel($"/ViewTopic?topicId={topic.TopicId}&pageNum=1", topic.PostCount ?? 0, pageSize, 1, "PageNum");

            var divClass = topic.Unread ? $"FlexRow Unread RowMargin Color{index % 2}" : $"FlexRow RowMargin Color{index % 2}";
            index++;
            <div class="@divClass">
                <span class="ForumContent">
                    @if (Model.IsNewPostView || Model.IsOwnPostView)
                    {
                        <span class="Caption">
                            @Html.Raw(_forumService.GetPathText((await Model.GetForumTree()).Tree, topic.ForumId ?? 0))
                        </span>
                        <br />
                    }
                    @if (topicGroup.TopicType == TopicType.Important)
                    {
                        <span>&#x26A0;&#xFE0F;&nbsp;</span>
                    }
                    @if (topic.Unread)
                    {

                        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@await Model.GetFirstUnreadPost(topic.TopicId ?? 0)" asp-route-highlight="false" class="nav-link" style="font-weight:bold">@Html.Raw(topic.TopicTitle)</a>
                    }
                    else
                    {
                        <a asp-page="/ViewTopic" asp-route-topicId="@topic.TopicId" asp-route-pageNum="1" class="nav-link" style="font-weight:bold">@Html.Raw(topic.TopicTitle)</a>
                    }
                    <br />
                    @await Html.PartialAsync("_PaginationPartial", topic.Pagination, ViewData)
                </span>
                @await Html.PartialAsync(
                     "_SummaryPartial",
                     new CustomPartials._SummaryPartialModel(topic.TopicLastPosterId, topic.TopicLastPosterName, topic.TopicLastPosterColour, topic.LastPostTime, topic.TopicId.Value,
                         UserDateFormat, false, null,
                         topic.TopicLastPostId == null ? null : $"./ViewTopic?postId={topic.TopicLastPostId}&handler=ByPostId",
                         topic.TopicLastPostId == null ? null : "&#x1F4C3;",
                         topic.TopicLastPostId == null ? null : "Vezi ultimul mesaj",
                         false, true, topic.PostCount, topic.ViewCount
                     )
                 )
            </div>
        }
        @if (!Model.IsNewPostView && !Model.IsOwnPostView)
        {
            <hr />
        }
    }

    if (Model.IsNewPostView || Model.IsOwnPostView)
    {
        var view = Model.IsNewPostView ? "new" : "own";
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new CustomPartials._PaginationControlsPartialModel(
                paginator: Model.Paginator,
                allowPaginationChange: true,
                back: $"/ViewForum?handler={view}Posts&pageNum={(Model.PageNum ?? 1) - 1}",
                forward: $"/ViewForum?handler={view}Posts&pageNum={(Model.PageNum ?? 1) + 1}",
                includeEasyNavigation: true
            ),
            ViewData
        );
        <hr />
    }
}
else if (Model.IsNewPostView)
{
    <h4>Nu există mesaje noi.</h4>
}
else if (Model.IsOwnPostView)
{
    <h4>Nu ai scris nici un mesaj în nici un topic până acum.</h4>
}
@if (!IsAnonymous && !Model.IsNewPostView && !Model.IsOwnPostView)
{
    <a asp-page="/Posting" asp-page-handler="NewTopic" asp-route-forumId="@Model.ForumId">Deschide un subiect nou</a>
}

<p></p>
<span onclick="showForumTree(this)" style="cursor:pointer; font-weight:bold">Navigare - alege destinația &#x2935;</span>
<p></p>
<div id="forumTree" style=" display:none">
    @await Html.PartialAsync(
        "_ForumTreePartial",
        new CustomPartials._ForumTreePartialModel(
            tree: (await Model.GetForumTree()).Tree,
            forumId: Model.ForumId,
            topicId: null,
            constrainSize: true
        ),
        ViewData
    )
    <p></p>
    <form action="/ViewForum">
        <input type="hidden" name="ForumId" id="ForumIdInput" />
        <input type="submit" value="Du-te" />
    </form>
</div>
