@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminWritingPartialModel


@using PhpbbInDotnet.Utilities
@using PhpbbInDotnet.Services

@inject WritingToolsService _writingService
@inject CommonUtils _utils

<h4 onclick="expandSection('bannedWordsSection', 'bannedWordsChar')" style="cursor:pointer" id="bannedWordsTitle">
    Cuvinte cenzurate
    <span id="bannedWordsChar">&#x1F53D;</span>
</h4>
@{
    var words = await _writingService.GetBannedWordsAsync();
}
<div id="bannedWordsSection" style="display:none">
    <form method="post" asp-page-handler="BanWords">
        @for (var i = 0; i < words.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    Cuvânt
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(words[i].Word)
                    <input type="hidden" name="words[@i].Word" value="@words[i].Word" />
                    <input type="hidden" name="words[@i].WordId" value="@words[i].WordId" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    Înlocuitor
                </div>
                <div class="FlexRight PostInputWidth">
                    <input type="text" name="words[@i].Replacement" value="@words[i].Replacement" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    Șterge?
                </div>
                <div class="FlexRight PostInputWidth">
                    <label><input type="checkbox" name="toRemove" value="@i" /> Da, șterge</label>
                </div>
            </div>
            @if (i < words.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <div id="newBannedWords"></div>
        <input type="button" onclick="addBannedWord()" value="Adaugă un cuvânt nou" class="MyButton SpacedButton" />
        <input type="submit" value="Salvează modificările" class="MyButton SpacedButton" />
    </form>
    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#bannedWordsTitle">&#x23EB;</a>
    </div>
</div>
<hr class="BoxSeparator" />
<h4 onclick="expandSection('orphanFilesSection', 'orphanFilesChar')" style="cursor:pointer" id="orphanFilesTitle">
    Fișiere orfane
    <span id="orphanFilesChar">&#x1F53D;</span>
</h4>
@{
    var files = await _writingService.GetOrphanedFiles();
}
<div id="orphanFilesSection" style="display:none">
    <form method="post" asp-page-handler="OrphanedFiles" id="orphanedFilesForm">
        <input name="action" id="action" type="hidden" />
    </form>
    <h5>
        <b>Fișiere pe server fără corespondență într-un mesaj (@files.Count fișiere, în total @_utils.ReadableFileSize(files.Sum(f => f.Filesize)))</b>
    </h5>
    <p>
        <select id="sortOptions" onchange="sort()" style="width:auto">
            <option value="-1" selected disabled>Sortează după...</option>
            <option value="0">Nume fișier (A → Z)</option>
            <option value="1">Nume fișier (Z → A)</option>
            <option value="2">Autor (A → Z)</option>
            <option value="3">Autor (Z → A)</option>
            <option value="4">Ultima dată modificat (crescător)</option>
            <option value="5">Ultima dată modificat (descrescător)</option>
            <option value="6">Dimensiune (crescător)</option>
            <option value="7">Dimensiune (descrescător)</option>
        </select>
    </p>
    <p>
        <button type="button" onclick="$('#orphanedFilesForm').submit()" class="MyButton SpacedButton">Șterge aceste fișiere</button>
    </p>
    <div id="fileHolder">
        @foreach (var f in files)
        {
            <div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        Nume fișier
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @Html.Raw(f.RealFilename)
                    </div>
                    <meta content="@Html.Raw(f.RealFilename)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        Autor
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @Html.Raw(f.Username)
                    </div>
                    <meta content="@Html.Raw(f.Username)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        Ultima dată modificat
                    </div>
                    <div class="FlexRight PostInputWidth">
                        <script>writeDate('@f.Filetime.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
                    </div>
                    <meta content="@Html.Raw(f.Filetime)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        Dimensiune
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @_utils.ReadableFileSize(f.Filesize)
                    </div>
                    <meta content="@Html.Raw(f.Filesize)" />
                </div>
                <hr class="SubtypeSeparator" />
            </div>
        }
    </div>
    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#orphanFilesTitle">&#x23EB;</a>
    </div>
</div>
<hr class="BoxSeparator" />
<h4 onclick="expandSection('customBBCodesSection', 'customBBCodesChar')" style="cursor:pointer" id="customBBCodesTitle">
    Coduri BB personalizate
    <span id="customBBCodesChar">&#x1F53D;</span>
</h4>
@{
    var codes = await _writingService.GetCustomBBCodes();
}
<div id="customBBCodesSection" style="display:none">
    <span class="Caption">
        <b>Ghid pentru codul HTML</b><br />
        Folosiți <b>${content}</b> pentru a accesa conținutul din interiorul tag-ului ([b]...conținut...[/b])<br />
        Folosiți <b>${NUME}</b> pentru a accesa un atribut numit 'NUME' ([size=...atribut...]...conținut...[/size])<br />
        Exemplu: <span style="font-family:'Ubuntu Mono'">&lt;a href="${LINK}"&gt;${content}&lt;/a&gt;</span> pentru tag-ul "url" ([url=LINK]content[/url]).
    </span>
    <hr class="SubtypeSeparator" />
    <form method="post" asp-page-handler="BBCodes" id="bbCodes">

        @for (var i = 0; i < codes.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    Nume tag
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(codes[i].BbcodeTag)
                    <input type="hidden" name="codes[@i].BbcodeTag" value="@codes[i].BbcodeTag" />
                    <input type="hidden" name="codes[@i].BbcodeId" value="@codes[i].BbcodeId" />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    Cod HTML
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="codes[@i].BbcodeTpl" rows="3" class="InputBox" style="font-family:'Ubuntu Mono'">@codes[i].BbcodeTpl</textarea><br />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    Explicație
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="codes[@i].BbcodeHelpline" rows="3" class="InputBox">@codes[i].BbcodeHelpline</textarea>
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="toDisplay" value="@i" @(codes[i].DisplayOnPosting == 1 ? "checked" : "") />
                        Arată în pagina de postare
                    </label>
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                    <input type="checkbox" name="toRemove" value="@i" />
                    Șterge
                    </label>
                </div>
            </div>
            @if (i < codes.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <p></p>
        <div id="newBBCodes"></div>
        <input type="button" onclick="addBBCode()" value="Adaugă un cod nou" class="MyButton SpacedButton" />
        <input type="submit" value="Salvează modificările" class="MyButton SpacedButton" />
    </form>

    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#customBBCodesTitle">&#x23EB;</a>
    </div>
</div>


<script type="text/javascript">
    function sort() {
        let val = $('#sortOptions').val();
        let mod = val % 2;
        let index = (val - mod) / 2;
        let parent = $('#fileHolder');
        let direction = mod == 1 ? -1 : 1;
        let rows = parent.children('div').sort((a, b) => {
            let valA = $(a).children().eq(index).children('meta').first().attr('content');
            let valB = $(b).children().eq(index).children('meta').first().attr('content')
            var asNumbers = parseInt(valA) - parseInt(valB);
            return direction * (asNumbers ? asNumbers : valA.toString().localeCompare(valB));
        });
        parent.append(rows);
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }

    var wordIndex = @words.Count;
    var codeIndex = @codes.Count;

    function addBannedWord() {
        $("#newBannedWords").append(
            "<div>" +
            "<hr class='SubtypeSeparator' />" +
            "<b>Cuvânt:</b><br /><input type='text' name='words[" + wordIndex + "].Word' />" +
            "<p style='clear:both'></p>" +
            "<b>Înlocuitor:</b><br /><input type='text' name='words[" + wordIndex + "].Replacement' />" +
            "<p style='clear:both'></p>" +
            "<a href=\"#!\" onclick=\"cancelAddBannedWord(this)\">Anulează</a>" +
            "</div>"
        );
        wordIndex++;
    }

    function cancelAddBannedWord(elem) {
        $(elem).parent().remove();
        wordIndex--;
    }

    function addBBCode() {
        $("#newBBCodes").append(
            "<div>" +
                "<hr class='SubtypeSeparator' />" +
                "<b>Nume tag:</b><br /><input type='text' name='codes[" + codeIndex + "].BbcodeTag' />" +
                "<p style='clear:both'></p>" +
                "<b>Cod HTML:</b><br /><textarea name='codes[" + codeIndex + "].BbcodeTpl' class='InputBox' ></textarea>" +
                "<p style='clear:both'></p>" +
                "<b>Explicație:</b><br /><textarea name='codes[" + codeIndex + "].BbcodeHelpline' class='InputBox' ></textarea>" +
                "<p style='clear:both'></p>" +
                "<label><input type='checkbox' name='toDisplay' value='" + codeIndex + "' />Arată în pagina de postare</label>" +
                "<p style='clear:both'></p>" +
                "<a href=\"#!\" onclick=\"cancelAddBBCode(this)\">Anulează</a>" +
            "</div>"
        );
        codeIndex++;
    }

    function cancelAddBBCode(elem) {
        $(elem).parent().remove();
        codeIndex--;
    }
</script>
