@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminWritingModel


@using PhpbbInDotnet.Forum.Utilities
@using PhpbbInDotnet.Forum.Services

@inject WritingToolsService _writingService
@inject Utils _utils

<style>
    .writingTable {
        border: none;
        padding: 5px;
        width: 80%
    }

    .writingTable td {
        padding-bottom: 10px;
    }

    .writingTable tr {
        margin-bottom: 10px
    }
</style>

<h4>Cuvinte cenzurate</h4>
@{
    var words = (await _writingService.GetBannedWords()).ToList();

    <form method="post" asp-page-handler="BanWords">
        <table id="bannedWords" class="writingTable">
            <tr>
                <th style="width:45%">Cuvânt</th>
                <th style="width:45%">Înlocuitor</th>
                <th style="width:10%">Șterge?</th>
            </tr>

            @for (var i = 0; i < words.Count; i++)
            {
                <tr>
                    <td>
                        @words[i].Word
                        <input type="hidden" name="words[@i].Word" value="@words[i].Word" />
                        <input type="hidden" name="words[@i].WordId" value="@words[i].WordId" />
                    </td>
                    <td>
                        <input type="text" name="words[@i].Replacement" value="@words[i].Replacement" />
                    </td>
                    <td>
                        <input type="checkbox" name="toRemove" value="@i" />
                    </td>
                </tr>
            }

        </table>
        <input type="button" onclick="addBannedWord()" value="Adaugă un cuvânt nou" /> &nbsp; <input type="submit" value="Salvează modificările" />
    </form>
    <script type="text/javascript">
        var index = @words.Count;

        function addBannedWord() {
            $("#bannedWords > tbody:last-child").append(
                "<tr style='margin-bottom: 10px'>" +
                    "<td>" +
                        "<input type='text' name='words[" + index + "].Word' />" +
                    "</td>" +
                    "<td>" +
                        "<input type='text' name='words[" + index + "].Replacement' />" +
                    "</td>" +
                    "<td>" +
                        "<a href=\"#!\" onclick=\"cancelAddBannedWord(this)\">Anulează</a>" +
                    "</td>" +
                "</tr>"
            );
            index++;
        }

        function cancelAddBannedWord(elem) {
            $(elem).parent().parent().remove();
            index--;
        }
    </script>
}
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Fișiere orfane</h4>
@{
    var files = await _writingService.GetOrphanedFiles();
    <form method="post" asp-page-handler="OrphanedFiles" id="orphanedFilesForm">
        <input name="action" id="action" type="hidden" />
    </form>
    <h5>
        <b>Fișiere pe server fără corespondență într-un mesaj (@files.Count() fișiere, în total @_utils.ReadableFileSize(files.Sum(f => f.Filesize)))</b>
        <br /><i>Click pe titlul coloanei pentru sortare.</i>
        <br /><a href="javascript:$('#orphanedFilesForm').submit()">Șterge aceste fișiere</a>
    </h5>
    <table class="writingTable">
        <tr>
            <th onclick="sort(this)" style="cursor:pointer">Nume fișier</th>
            <th onclick="sort(this)" style="cursor:pointer">Autor</th>
            <th onclick="sort(this)" style="cursor:pointer">Ultima dată modificat</th>
            <th onclick="sort(this)" style="cursor:pointer">Dimensiune</th>
        </tr>

        @foreach (var f in files)
        {
            <tr>
                <td>@f.RealFilename</td>
                <td>@System.Web.HttpUtility.HtmlDecode(f.Username)</td>
                <td>@f.Filetime.ToUtcTime().ToString("o")</td>
                <td>@_utils.ReadableFileSize(f.Filesize)</td>
            </tr>
        }
    </table>

    <p>&nbsp;</p>
}

<script type="text/javascript">
    function sort(elem) {
        var table = $(elem).parents('table').eq(0);
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(elem).index()));
        elem.asc = !elem.asc;
        if (!elem.asc) {
            rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
        }
    }

    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index);
            var asDates = Date.parse(valA) - Date.parse(valB);
            console.log(Date.parse(valA));
            var asNumbers = parseInt(valA) - parseInt(valB);
            return asDates ? asDates : (asNumbers ? asNumbers : valA.toString().localeCompare(valB));
        }
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }

</script>
