@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminWritingPartialModel


@using Domain
@using Services
@using Domain.Extensions;

@inject IStorageService _storageService
@inject ICommonUtils _utils
@inject Languages.ITranslationProvider _translationProvider
@inject Microsoft.Extensions.Configuration.IConfiguration _config

<h4 onclick="expandSection('bannedWordsSection', 'bannedWordsChar')" style="cursor:pointer" id="bannedWordsTitle">
    @Html.Raw(_translationProvider.Admin[Model.Language, "BANNED_WORDS"])
    <span id="bannedWordsChar">&#x1F53D;</span>
</h4>

<div id="bannedWordsSection" style="display:none">
    <form method="post" asp-page-handler="BanWords">
        @for (var i = 0; i < Model.BannedWords?.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "WORD"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(Model.BannedWords[i].Word)
                    <input type="hidden" name="words[@i].Word" value="@Model.BannedWords[i].Word" />
                    <input type="hidden" name="words[@i].WordId" value="@Model.BannedWords[i].WordId" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "REPLACEMENT"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <input type="text" name="words[@i].Replacement" value="@Model.BannedWords[i].Replacement" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "ASK_DELETE"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <label>
                        <input type="checkbox" name="toRemove" value="@i" />
                        @Html.Raw(_translationProvider.Admin[Model.Language, "YES_DELETE"])
                    </label>
                </div>
            </div>
            @if (i < Model.BannedWords.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <div id="newBannedWords"></div>
        <input type="button" onclick="addBannedWord()" value="@Html.Raw(_translationProvider.Admin[Model.Language, "ADD_NEW_WORD"])" class="MyButton SpacedButton" />
        <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "SAVE_CHANGES"])" class="MyButton SpacedButton" />
    </form>
    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#bannedWordsTitle">&#x23EB;</a>
    </div>
</div>

<hr class="BoxSeparator" />
<h4 onclick="expandSection('customBBCodesSection', 'customBBCodesChar')" style="cursor:pointer" id="customBBCodesTitle">
    @Html.Raw(_translationProvider.Admin[Model.Language, "CUSTOM_BB_CODES"])
    <span id="customBBCodesChar">&#x1F53D;</span>
</h4>

<div id="customBBCodesSection" style="display:none">
    <span class="Caption">
        @Html.Raw(_translationProvider.CustomBBCodeGuide[Model.Language!])
    </span>
    <hr class="SubtypeSeparator" />
    <form method="post" asp-page-handler="BBCodes" id="bbCodes">

        @for (var i = 0; i < Model.CustomBbCodes?.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "TAG_NAME"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(Model.CustomBbCodes[i].BbcodeTag)
                    <input type="hidden" name="codes[@i].BbcodeTag" value="@Model.CustomBbCodes[i].BbcodeTag" />
                    <input type="hidden" name="codes[@i].BbcodeId" value="@Model.CustomBbCodes[i].BbcodeId" />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "HTML_CODE"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="codes[@i].BbcodeTpl" rows="3" class="InputBox" style="font-family:'Ubuntu Mono'">@Model.CustomBbCodes[i].BbcodeTpl</textarea><br />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "EXPLANATION"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "UPDATE_LANGUAGE_FILE_HINT"])
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="toDisplay" value="@i" @(Model.CustomBbCodes[i].DisplayOnPosting == 1 ? "checked" : "") />
                        @Html.Raw(_translationProvider.Admin[Model.Language, "SHOW_IN_POSTING"])
                    </label>
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="toRemove" value="@i" />
                        @Html.Raw(_translationProvider.BasicText[Model.Language, "DO_DELETE"])
                    </label>
                </div>
            </div>
            @if (i < Model.CustomBbCodes.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <p></p>
        <div id="newBBCodes"></div>
        <input type="button" onclick="addBBCode()" value="@Html.Raw(_translationProvider.Admin[Model.Language, "ADD_NEW_CODE"])" class="MyButton SpacedButton" />
        <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "SAVE_CHANGES"])" class="MyButton SpacedButton" />
    </form>

    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#customBBCodesTitle">&#x23EB;</a>
    </div>
</div>

<hr class="BoxSeparator" />
<h4 onclick="expandSection('smiliesSection', 'smiliesChar')" style="cursor:pointer" id="smiliesTitle">
    @Html.Raw(_translationProvider.BasicText[Model.Language, "EMOJI"])
    <span id="smiliesChar">&#x1F53D;</span>
</h4>

@{
    var smilies = Model.Smilies?.GroupBy(s => new { s.SmileyUrl, s.Emotion }).ToList();
    var smileyCodeCounts = new int[smilies?.Count ?? 0];
    var smileyMaxSize = _config.GetObject<Objects.Configuration.ImageSize>("EmojiMaxSize");
}
<div id="smiliesSection" style="display:none">
    <hr class="SubtypeSeparator" />
    <form method="post" asp-page-handler="Smilies" id="smilies" enctype="multipart/form-data">
        @for (var smileyIndex = 0; smileyIndex < smilies?.Count; smileyIndex++)
        {
            <div>
                <button type="button" class="collapsible">
                    <img src="@_storageService.GetFileUrl(smilies[smileyIndex].Key.SmileyUrl, FileType.Emoji)" />
                    @Html.Raw(smilies[smileyIndex].Key.SmileyUrl)
                </button>
                <div class="content">
                    <input type="hidden" name="dto[@smileyIndex].Url" value="@Html.Raw(smilies[smileyIndex].Key.SmileyUrl)" />
                    <input type="hidden" name="newOrder" value="@Html.Raw(smilies[smileyIndex].Key.SmileyUrl)" />
                    <div class="FlexCenter FlexSpaced">
                        <div class="FlexCaption">
                            @Html.Raw(_translationProvider.Admin[Model.Language, "EMOTION"])
                        </div>
                        <div class="FlexRight PostInputWidth">
                            <input type="text" name="dto[@smileyIndex].Emotion" value="@smilies[smileyIndex].Key.Emotion" />
                        </div>
                    </div>
                    <div class="FlexCenter FlexSpaced">
                        <div class="FlexCaption">
                            @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_FILE"])
                        </div>
                        <div class="FlexRight PostInputWidth">
                            <input type="file" name="dto[@smileyIndex].File" id="dto[@smileyIndex].File" class="HiddenFileInput" onchange="showElement('loadingConfirmation_@smileyIndex')" />
                            <label for="dto[@smileyIndex].File" class="MyButton">@Html.Raw(_translationProvider.Admin[Model.Language, "CHOOSE_NEW_EMOJI"])</label><br />
                            <div style="display:none" id="loadingConfirmation_@smileyIndex">
                                @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_LOADED_CONFIRMATION"])
                            </div>
                            <span class="Caption">@Html.Raw(string.Format(_translationProvider.Admin[Model.Language, "EMOJI_CAPTION_FORMAT"], smileyMaxSize.Width, smileyMaxSize.Height))</span><br />
                        </div>
                    </div>
                    <div class="FlexCenter FlexSpaced">
                        <div class="FlexCaption">
                            @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_CODES"])
                        </div>
                        <div class="FlexRight PostInputWidth">
                            @{
                                var codeIndex = 0;
                                @foreach (var smiley in smilies[smileyIndex])
                                {
                                    <div class="FlexCenter" style="padding-bottom:10px">
                                        <div>
                                            <input type="text" name="dto[@smileyIndex].Codes[@codeIndex].Value" value="@Html.Raw(smiley.Code)" />
                                            <input type="hidden" name="dto[@smileyIndex].Codes[@codeIndex].Id" value="@Html.Raw(smiley.SmileyId)" />
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" name="codesToDelete" value="@smiley.SmileyId" />
                                                @Html.Raw(_translationProvider.Admin[Model.Language, "REMOVE_EMOJI_CODE"])
                                            </label>
                                        </div>
                                    </div>
                                    codeIndex++;
                                }
                                smileyCodeCounts[smileyIndex] = codeIndex;
                                <div id="newCodes_@smileyIndex"></div>
                                <input type="button" onclick="addSmileyCode(@smileyIndex)" value="@Html.Raw(_translationProvider.Admin[Model.Language, "ADD_NEW_EMOJI_CODE"])" class="MyButton SpacedButton" />
                            }
                        </div>
                    </div>
                    <div class="FlexCenter FlexSpaced">
                        <div class="FlexLeft PostInputWidth">
                            <label>
                                <input type="checkbox" name="smileyGroupsToDelete" value="@smilies[smileyIndex].Key.SmileyUrl" />
                                @Html.Raw(_translationProvider.Admin[Model.Language, "REMOVE_EMOJI"])
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }

        <p></p>
        <div id="newSmilies"></div>
        <input type="button" onclick="addSmiley()" value="@Html.Raw(_translationProvider.Admin[Model.Language, "ADD_NEW_EMOJI"])" class="MyButton SpacedButton" />
        <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "SAVE_CHANGES"])" class="MyButton SpacedButton" />
    </form>

    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#smiliesTitle">&#x23EB;</a>
    </div>
</div>

<script type="text/javascript">
    var smilies = document.getElementById('smilies');
    if (smilies) {
        Sortable.create(smilies, { animation: 150 });
    }

    function sort() {
        let val = $('#sortOptions').val();
        let mod = val % 2;
        let index = (val - mod) / 2;
        let parent = $('#fileHolder');
        let direction = mod == 1 ? -1 : 1;
        let rows = parent.children('div').sort((a, b) => {
            let valA = $(a).children().eq(index).children('meta').first().attr('content');
            let valB = $(b).children().eq(index).children('meta').first().attr('content')
            var asNumbers = parseInt(valA) - parseInt(valB);
            return direction * (asNumbers ? asNumbers : valA.toString().localeCompare(valB));
        });
        parent.append(rows);
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }

    var wordIndex = @(Model.BannedWords?.Count ?? 0);
    var codeIndex = @(Model.CustomBbCodes?.Count ?? 0);
    var smileyIndex = @(smilies?.Count ?? 0);
    var smileyCodeIndexes = @Json.Serialize(smileyCodeCounts);

    function addBannedWord() {
        $("#newBannedWords").append(
            `<div>
                <hr class='SubtypeSeparator' />
                <b>@Html.Raw(_translationProvider.Admin[Model.Language, "WORD"])</b><br /><input type='text' name='words[${wordIndex}].Word' />
                <p style='clear:both'></p>
                <b>@Html.Raw(_translationProvider.Admin[Model.Language, "REPLACEMENT"])</b><br /><input type='text' name='words[${wordIndex}].Replacement' />
                <p style='clear:both'></p>
                <a href="#!" onclick="cancelAddBannedWord(this)">@Html.Raw(_translationProvider.Admin[Model.Language, "CANCEL"])</a>
            </div>`
        );
        wordIndex++;
    }

    function cancelAddBannedWord(elem) {
        $(elem).parent().remove();
        wordIndex--;
    }

    function addBBCode() {
        $("#newBBCodes").append(
            `<div>
                <hr class='SubtypeSeparator' />
                <b>@Html.Raw(_translationProvider.Admin[Model.Language, "TAG_NAME"])</b><br /><input type='text' name='codes[${codeIndex}].BbcodeTag' />
                <p style='clear:both'></p>
                <b>@Html.Raw(_translationProvider.Admin[Model.Language, "HTML_CODE"])</b><br /><textarea name='codes[${codeIndex}].BbcodeTpl' class='InputBox' ></textarea>
                <p style='clear:both'></p>
                <b>@Html.Raw(_translationProvider.Admin[Model.Language, "EXPLANATION"])</b><br />@Html.Raw(_translationProvider.Admin[Model.Language, "UPDATE_LANGUAGE_FILE_HINT"])
                <p style='clear:both'></p>
                <label><input type='checkbox' name='toDisplay' value='${codeIndex}' /> @Html.Raw(_translationProvider.Admin[Model.Language, "SHOW_IN_POSTING"])</label>
                <p style='clear:both'></p>
                <a href="#!" onclick="cancelAddBBCode(this)">@Html.Raw(_translationProvider.Admin[Model.Language, "CANCEL"])</a>
            </div>`
        );
        codeIndex++;
    }

    function cancelAddBBCode(elem) {
        $(elem).parent().remove();
        codeIndex--;
    }

    function addSmileyCode(smileyIndex) {
        $('#newCodes_' + smileyIndex).append(
            `<div class="FlexCenter" style="padding-bottom:10px">
                <div>
                    <input type="text" name="dto[${smileyIndex}].Codes[${smileyCodeIndexes[smileyIndex]}].Value" />
                </div>
                <div>
                    <a href="#!" onclick="cancelAddSmileyCode(this)">@Html.Raw(_translationProvider.Admin[Model.Language, "CANCEL"])</a>
                </div>
            </div>`
        );
        smileyCodeIndexes[smileyIndex]++;
    }

    function cancelAddSmileyCode(elem) {
        $(elem).parent().parent().remove();
        smileyCodeIndexes[smileyIndex]--;
    }

    function addSmiley() {
        smileyCodeIndexes.push(1);
        $('#newSmilies').append(
            `<div>
                <div class="FlexCenter FlexSpaced">
                    <div class="FlexCaption">
                        @Html.Raw(_translationProvider.Admin[Model.Language, "EMOTION"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        <input type="text" name="dto[${smileyIndex}].Emotion" />
                    </div>
                </div>
                <div class="FlexCenter FlexSpaced">
                    <div class="FlexCaption">
                        @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_FILE"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        <input type="file" name="dto[${smileyIndex}].File" id="dto[${smileyIndex}].File" class="HiddenFileInput" onchange="showElement('loadingConfirmation_${smileyIndex}')" />
                        <label for="dto[${smileyIndex}].File" class="MyButton">@Html.Raw(_translationProvider.Admin[Model.Language, "CHOOSE_NEW_EMOJI"])</label><br />
                        <div style="display:none" id="loadingConfirmation_${smileyIndex}">
                            @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_LOADED_CONFIRMATION"])
                        </div>
                        <span class="Caption">@Html.Raw(string.Format(_translationProvider.Admin[Model.Language, "EMOJI_CAPTION_FORMAT"], smileyMaxSize.Width, smileyMaxSize.Height))</span><br />
                    </div>
                </div>
                <div class="FlexCenter FlexSpaced">
                    <div class="FlexCaption">
                        @Html.Raw(_translationProvider.Admin[Model.Language, "EMOJI_CODES"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        <div class="FlexCenter" style="padding-bottom:10px">
                            <div>
                                <input type="text" name="dto[${smileyIndex}].Codes[0].Value" />
                            </div>
                        </div>
                        <div id="newCodes_${smileyIndex}"></div>
                        <input type="button" onclick="addSmileyCode(${smileyIndex})" value="@Html.Raw(_translationProvider.Admin[Model.Language, "ADD_NEW_EMOJI_CODE"])" class="MyButton SpacedButton" />
                    </div>
                </div>
                <p></p>
                <a href="#!" onclick="cancelAddSmiley(this)">@Html.Raw(_translationProvider.Admin[Model.Language, "CANCEL"])</a>
                <hr class="BoxSeparator" />
            </div>`
        );
        smileyIndex++;
    }

    function cancelAddSmiley(elem) {
        $(elem).parent().remove();
        smileyCodeIndexes.splice(smileyIndex, 1);
        smileyIndex--;
    }

</script>
