@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminUsersSummaryPartialModel

@using Microsoft.Extensions.Configuration
@using Utilities
@using System.Web

@inject Languages.LanguageProvider _languageProvider
@inject IConfiguration _config

@foreach (var user in Model.Users ?? new List<Database.Entities.PhpbbUsers>())
{
    var emailSearchLink = string.Format(_config.GetValue<string>("InternetSearchUrlFormat"), HttpUtility.UrlEncode($"\"{user.UserEmail}\""));
    var ipWhoIsLink = string.Format(_config.GetValue<string>("IpWhoIsUrlFormat"), user.UserIp);
    <button type="button" class="collapsible">@user.Username</button>
    <div class="content">
        @if (user.UserInactiveReason == UserInactiveReason.NewlyRegisteredNotConfirmed)
        {
            <div class="FlexCenter FlexSpacedMini">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="userIds" value="@user.UserId" form="batchAdminUsers" />
                        @Html.Raw(_languageProvider.Admin[Model.Language, "SELECT_USER_FOR_DELETION"])
                    </label>
                </div>
            </div>
        }
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.BasicText[Model.Language, "EMAIL", Casing.FirstUpper])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(user.UserEmail)
                &bull;
                <a href="@emailSearchLink" target="_blank">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "EMAIL_LOOKUP"])
                </a>
                &bull;
                <a href="#" onclick="addBannedItem('@user.UserEmail', '')">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "BAN_EMAIL"])
                </a>
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                IP
            </div>
            <div class="FlexRight PostInputWidth">
                @user.UserIp
                &bull;
                <a href="@ipWhoIsLink" target="_blank">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "IP_LOOKUP"])
                </a>
                &bull;
                <a asp-page="IPLookup" asp-route-ip="@user.UserIp" target="_blank">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "FORUM_IP_SEARCH"])
                </a>
                &bull;
                <a href="#" onclick="addBannedItem('', '@user.UserIp')">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "BAN_IP"])
                </a>
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "REGISTRATION_DATE"])
            </div>
            <div class="FlexRight PostInputWidth">
                <script>writeDate('@user.UserRegdate.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "DEACTIVATION_DATE"])
            </div>
            <div class="FlexRight PostInputWidth">
                @if (user.UserInactiveTime != 0)
                {
                    <script>writeDate('@user.UserInactiveTime.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "DEACTIVATION_REASON"])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(_languageProvider.Enums[Model.Language, user.UserInactiveReason])
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "LAST_ACTIVE"])
            </div>
            <div class="FlexRight PostInputWidth">
                @if (user.UserLastvisit != 0)
                {
                    <script>writeDate('@user.UserLastvisit.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "REMINDERS"])
            </div>
            <div class="FlexRight PostInputWidth">
                @if (user.UserReminded.ToBool())
                {
                    <script>writeDate('@user.UserRemindedTime.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>
        <div class="FlexCenter FlexSpacedMini">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "QUICK_ACTIONS"])
            </div>
            <ul class="FlexRight PostInputWidth">
                <li>
                    @if (user.UserInactiveReason == UserInactiveReason.NewlyRegisteredNotConfirmed || user.UserInactiveReason == UserInactiveReason.ChangedEmailNotConfirmed)
                    {
                        <s>
                            <a href="#" title="@Html.Raw(_languageProvider.Admin[Model.Language, "CANT_ACTIVATE_EMAIL_NOT_CONFIRMED_TOOLTIP"])">
                                @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Activate])
                            </a>
                        </s>
                    }
                    else if (user.UserInactiveReason == UserInactiveReason.NotInactive)
                    {
                        <s>
                            <a href="#" title="@Html.Raw(_languageProvider.Admin[Model.Language, "CANT_ACTIVATE_ALREADY_ACTIVE_TOOLTIP"])">
                                @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Activate])
                            </a>
                        </s>
                    }
                    else
                    {
                        <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Activate', '@Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Activate])')">
                            @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Activate])
                        </a>
                    }
                </li>
                <li>
                    @if (user.UserInactiveTime > 0)
                    {
                        <s>
                            <a href="#" title="@Html.Raw(_languageProvider.Admin[Model.Language, "CANT_DEACTIVATE_ALREADY_INACTIVE_TOOLTIP"])">
                                @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Deactivate])
                            </a>
                        </s>
                    }
                    else
                    {
                        <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Deactivate', '@Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Deactivate])')">
                            @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Deactivate])
                        </a>
                    }
                </li>
                <li>
                    <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Delete_KeepMessages', '@Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Delete_KeepMessages])')">
                        @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Delete_KeepMessages])
                    </a>
                </li>
                <li>
                    <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Delete_DeleteMessages', '@Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Delete_DeleteMessages])')">
                        @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Delete_DeleteMessages])
                    </a>
                </li>
                @if (user.UserInactiveReason == UserInactiveReason.NewlyRegisteredNotConfirmed || user.UserInactiveReason == UserInactiveReason.ChangedEmailNotConfirmed)
                {
                    <li>
                        <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Remind', '@Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Remind])')">
                            @Html.Raw(_languageProvider.Enums[Model.Language, AdminUserActions.Remind])
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="FlexCenter FlexSpacedMini" style="padding-bottom:20px; font-weight:bold">
            <div class="FlexLeft PostInputWidth">
                <a asp-page="/User" asp-route-UserId="@user.UserId" target="_blank">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "VIEW_EDIT_FULL_PROFILE"])
                </a>
            </div>
        </div>
    </div>
}
