@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminWritingPartialModel


@using PhpbbInDotnet.Utilities
@using PhpbbInDotnet.Services

@inject WritingToolsService _writingService
@inject CommonUtils _utils
@inject Languages.LanguageProvider _languageProvider

<h4 onclick="expandSection('bannedWordsSection', 'bannedWordsChar')" style="cursor:pointer" id="bannedWordsTitle">
    @Html.Raw(_languageProvider.Admin[Model.Language, "BANNED_WORDS"])
    <span id="bannedWordsChar">&#x1F53D;</span>
</h4>
@{
    var words = await _writingService.GetBannedWordsAsync();
}
<div id="bannedWordsSection" style="display:none">
    <form method="post" asp-page-handler="BanWords">
        @for (var i = 0; i < words.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "WORD"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(words[i].Word)
                    <input type="hidden" name="words[@i].Word" value="@words[i].Word" />
                    <input type="hidden" name="words[@i].WordId" value="@words[i].WordId" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "REPLACEMENT"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <input type="text" name="words[@i].Replacement" value="@words[i].Replacement" />
                </div>
            </div>
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "ASK_DELETE"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <label>
                        <input type="checkbox" name="toRemove" value="@i" />
                        @Html.Raw(_languageProvider.Admin[Model.Language, "YES_DELETE"])
                    </label>
                </div>
            </div>
            @if (i < words.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <div id="newBannedWords"></div>
        <input type="button" onclick="addBannedWord()" value="@Html.Raw(_languageProvider.Admin[Model.Language, "ADD_NEW_WORD"])" class="MyButton SpacedButton" />
        <input type="submit" value="@Html.Raw(_languageProvider.Admin[Model.Language, "SAVE_CHANGES"])" class="MyButton SpacedButton" />
    </form>
    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#bannedWordsTitle">&#x23EB;</a>
    </div>
</div>
<hr class="BoxSeparator" />
<h4 onclick="expandSection('orphanFilesSection', 'orphanFilesChar')" style="cursor:pointer" id="orphanFilesTitle">
    @Html.Raw(_languageProvider.Admin[Model.Language, "ORPHAN_FILES"])
    <span id="orphanFilesChar">&#x1F53D;</span>
</h4>
@{
    var files = await _writingService.GetOrphanedFiles();
}
<div id="orphanFilesSection" style="display:none">
    <form method="post" asp-page-handler="OrphanedFiles" id="orphanedFilesForm">
        <input name="action" id="action" type="hidden" />
    </form>
    <h5>
        <b>
            @Html.Raw(string.Format(_languageProvider.Admin[Model.Language, "ORPHAN_FILES_CAPTION_FORMAT"], files.Count, _utils.ReadableFileSize(files.Sum(f => f.Filesize))))
        </b>
    </h5>
    <p>
        <select id="sortOptions" onchange="sort()" style="width:auto">
            <option value="-1" selected disabled>@Html.Raw(_languageProvider.BasicText[Model.Language, "ORDER_BY"])</option>
            <option value="0">@Html.Raw(_languageProvider.Admin[Model.Language, "FILENAME_ASC"])</option>
            <option value="1">@Html.Raw(_languageProvider.Admin[Model.Language, "FILENAME_DESC"])</option>
            <option value="2">@Html.Raw(_languageProvider.Admin[Model.Language, "AUTHOR_ASC"])</option>
            <option value="3">@Html.Raw(_languageProvider.Admin[Model.Language, "AUTHOR_DESC"])</option>
            <option value="4">@Html.Raw(_languageProvider.Admin[Model.Language, "LAST_MODIFIED_ASC"])</option>
            <option value="5">@Html.Raw(_languageProvider.Admin[Model.Language, "LAST_MODIFIED_DESC"])</option>
            <option value="6">@Html.Raw(_languageProvider.Admin[Model.Language, "SIZE_ASC"])</option>
            <option value="7">@Html.Raw(_languageProvider.Admin[Model.Language, "SIZE_DESC"])</option>
        </select>
    </p>
    <p>
        <button type="button" onclick="$('#orphanedFilesForm').submit()" class="MyButton SpacedButton">
            @Html.Raw(_languageProvider.Admin[Model.Language, "DELETE_THESE_FILES"])
        </button>
    </p>
    <div id="fileHolder">
        @foreach (var f in files)
        {
            <div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        @Html.Raw(_languageProvider.BasicText[Model.Language, "FILE_NAME"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @Html.Raw(f.RealFilename)
                    </div>
                    <meta content="@Html.Raw(f.RealFilename)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        @Html.Raw(_languageProvider.Admin[Model.Language, "AUTHOR"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @Html.Raw(f.Username)
                    </div>
                    <meta content="@Html.Raw(f.Username)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        @Html.Raw(_languageProvider.Admin[Model.Language, "LAST_MODIFIED"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        <script>writeDate('@f.Filetime.ToUtcTime().ToString("o")', '@Model.DateFormat')</script>
                    </div>
                    <meta content="@Html.Raw(f.Filetime)" />
                </div>
                <div class="FlexCenter">
                    <div class="FlexCaption">
                        @Html.Raw(_languageProvider.Admin[Model.Language, "SIZE"])
                    </div>
                    <div class="FlexRight PostInputWidth">
                        @_utils.ReadableFileSize(f.Filesize)
                    </div>
                    <meta content="@Html.Raw(f.Filesize)" />
                </div>
                <hr class="SubtypeSeparator" />
            </div>
        }
    </div>
    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#orphanFilesTitle">&#x23EB;</a>
    </div>
</div>
<hr class="BoxSeparator" />
<h4 onclick="expandSection('customBBCodesSection', 'customBBCodesChar')" style="cursor:pointer" id="customBBCodesTitle">
    @Html.Raw(_languageProvider.Admin[Model.Language, "CUSTOM_BB_CODES"])
    <span id="customBBCodesChar">&#x1F53D;</span>
</h4>
@{
    var codes = await _writingService.GetCustomBBCodes();
}
<div id="customBBCodesSection" style="display:none">
    <span class="Caption">
        @Html.Raw(_languageProvider.CustomBBCodeGuide[Model.Language])
    </span>
    <hr class="SubtypeSeparator" />
    <form method="post" asp-page-handler="BBCodes" id="bbCodes">

        @for (var i = 0; i < codes.Count; i++)
        {
            <div class="FlexCenter">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "TAG_NAME"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(codes[i].BbcodeTag)
                    <input type="hidden" name="codes[@i].BbcodeTag" value="@codes[i].BbcodeTag" />
                    <input type="hidden" name="codes[@i].BbcodeId" value="@codes[i].BbcodeId" />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "HTML_CODE"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="codes[@i].BbcodeTpl" rows="3" class="InputBox" style="font-family:'Ubuntu Mono'">@codes[i].BbcodeTpl</textarea><br />
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexCaption">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "EXPLANATION"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.Raw(_languageProvider.Admin[Model.Language, "UPDATE_LANGUAGE_FILE_HINT"])
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="toDisplay" value="@i" @(codes[i].DisplayOnPosting == 1 ? "checked" : "") />
                        @Html.Raw(_languageProvider.Admin[Model.Language, "SHOW_IN_POSTING"])
                    </label>
                </div>
            </div>
            <div class="FlexCenter FlexSpaced">
                <div class="FlexLeft PostInputWidth">
                    <label>
                        <input type="checkbox" name="toRemove" value="@i" />
                        @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_DELETE"])
                    </label>
                </div>
            </div>
            @if (i < codes.Count - 1)
            {
                <hr class="SubtypeSeparator" />
            }
        }
        <p></p>
        <div id="newBBCodes"></div>
        <input type="button" onclick="addBBCode()" value="@Html.Raw(_languageProvider.Admin[Model.Language, "ADD_NEW_CODE"])" class="MyButton SpacedButton" />
        <input type="submit" value="@Html.Raw(_languageProvider.Admin[Model.Language, "SAVE_CHANGES"])" class="MyButton SpacedButton" />
    </form>

    <div style="width:100%; text-align:right; font-size:1.5em">
        <a href="#customBBCodesTitle">&#x23EB;</a>
    </div>
</div>


<script type="text/javascript">
    function sort() {
        let val = $('#sortOptions').val();
        let mod = val % 2;
        let index = (val - mod) / 2;
        let parent = $('#fileHolder');
        let direction = mod == 1 ? -1 : 1;
        let rows = parent.children('div').sort((a, b) => {
            let valA = $(a).children().eq(index).children('meta').first().attr('content');
            let valB = $(b).children().eq(index).children('meta').first().attr('content')
            var asNumbers = parseInt(valA) - parseInt(valB);
            return direction * (asNumbers ? asNumbers : valA.toString().localeCompare(valB));
        });
        parent.append(rows);
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }

    var wordIndex = @words.Count;
    var codeIndex = @codes.Count;

    function addBannedWord() {
        $("#newBannedWords").append(
            "<div>" +
            "<hr class='SubtypeSeparator' />" +
            "<b>@Html.Raw(_languageProvider.Admin[Model.Language, "WORD"])</b><br /><input type='text' name='words[" + wordIndex + "].Word' />" +
            "<p style='clear:both'></p>" +
            "<b>@Html.Raw(_languageProvider.Admin[Model.Language, "REPLACEMENT"])</b><br /><input type='text' name='words[" + wordIndex + "].Replacement' />" +
            "<p style='clear:both'></p>" +
            "<a href=\"#!\" onclick=\"cancelAddBannedWord(this)\">@Html.Raw(_languageProvider.Admin[Model.Language, "CANCEL"])</a>" +
            "</div>"
        );
        wordIndex++;
    }

    function cancelAddBannedWord(elem) {
        $(elem).parent().remove();
        wordIndex--;
    }

    function addBBCode() {
        $("#newBBCodes").append(
            "<div>" +
                "<hr class='SubtypeSeparator' />" +
                "<b>@Html.Raw(_languageProvider.Admin[Model.Language, "TAG_NAME"])</b><br /><input type='text' name='codes[" + codeIndex + "].BbcodeTag' />" +
                "<p style='clear:both'></p>" +
                "<b>@Html.Raw(_languageProvider.Admin[Model.Language, "HTML_CODE"])</b><br /><textarea name='codes[" + codeIndex + "].BbcodeTpl' class='InputBox' ></textarea>" +
                "<p style='clear:both'></p>" +
                "<b>@Html.Raw(_languageProvider.Admin[Model.Language, "EXPLANATION"])</b><br />@Html.Raw(_languageProvider.Admin[Model.Language, "UPDATE_LANGUAGE_FILE_HINT"])" +
                "<p style='clear:both'></p>" +
                "<label><input type='checkbox' name='toDisplay' value='" + codeIndex + "' /> @Html.Raw(_languageProvider.Admin[Model.Language, "SHOW_IN_POSTING"])</label>" +
                "<p style='clear:both'></p>" +
                "<a href=\"#!\" onclick=\"cancelAddBBCode(this)\">@Html.Raw(_languageProvider.Admin[Model.Language, "CANCEL"])</a>" +
            "</div>"
        );
        codeIndex++;
    }

    function cancelAddBBCode(elem) {
        $(elem).parent().remove();
        codeIndex--;
    }
</script>
