@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminForumsPartialModel
@using PhpbbInDotnet.Domain

@inject Services.IForumTreeService _forumTreeService
@inject Services.IAdminForumService _adminForumService
@inject ICommonUtils _utils
@inject Languages.ITranslationProvider _translationProvider

<environment include="Development">
    <link rel="stylesheet" href="~/css/posting.css" />
</environment>
<div style="float:left">
    <h4>@Html.Raw(_translationProvider.Admin[Model.Language, "ADMIN_FORUMS"])</h4>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
@await Html.PartialAsync(
    "_ForumTreePartial",
    new CustomPartials._ForumTreePartialModel(
        tree: await _forumTreeService.GetForumTree(Model.CurrentUser, false, false),
        forumId: Model.Forum?.ForumId ?? 0,
        topicId: null
    ),
    ViewData
)
<form method="post" asp-page-handler="ShowForum">
    <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "EDIT_SELECTED_FORUM"])" class="MyButton SpacedButton" />
    <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "DELETE_SELECTED_FORUM"])" form="deleteForumForm" class="MyButton SpacedButton" />
    <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "CREATE_NEW_FORUM"])" onclick="selectNewForum()" class="MyButton SpacedButton" />
    <input id="forumIdUpsert" name="forumId" type="hidden" />
    <input id="parentIdCreate" name="parentForumId" type="hidden" />
</form>
<form method="post" asp-page-handler="DeleteForum" id="deleteForumForm">
    <input type="hidden" name="forumId" id="forumIdDelete" />
</form>
@if (Model.Show)
{
    <form id="forumFields" method="post" asp-page-handler="ForumManagement" class="MiddleBox" style="display: none; padding: 10px; overflow-y: scroll">
        @if ((Model.Forum?.ForumId ?? 0) != 0)
        {
            <h4 style="float:left">@Html.Raw(string.Format(_translationProvider.Admin[Model.Language, "ADMIN_FORUM_TITLE_FORMAT"], Model.Forum?.ForumName))</h4>
        }
        else if (!Model.IsRoot)
        {
            <h4 style="float:left">@Html.Raw(_translationProvider.Admin[Model.Language, "CREATE_NEW_FORUM"])</h4>
        }
        <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">@Html.Raw(_translationProvider.BasicText[Model.Language, "CLOSE_BUTTON"])</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        @if (!Model.IsRoot)
        {
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_NAME"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <input type="Text" name="dto.forumName" value="@Html.Raw(Model.Forum?.ForumName)" autocomplete="new-password" />
                </div>
            </div>
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_DESCRIPTION"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="dto.forumDesc">@Html.Raw(Model.Forum?.ForumDesc)</textarea>
                </div>
            </div>
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.BasicText[Model.Language, "FORUM_PASSWORD", Casing.FirstUpper])
                </div>
                <div class="FlexRight PostInputWidth">
                    @{
                        var hasPassword = !string.IsNullOrWhiteSpace(Model.Forum?.ForumPassword);
                        @if (hasPassword)
                        {
                            <label>
                                @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_HAS_PASSWORD"])
                                @Html.CheckBox("dto.hasPassword", hasPassword)
                            </label>
                            <br />
                            <span class="Caption DarkCaption">@Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_HAS_PASSWORD_CAPTION"])</span>
                            <br /> <br />
                            <button type="button" class="MyButton" onclick="showElement('newPasswordInput')">
                                @Html.Raw(_translationProvider.BasicText[Model.Language, "CHANGE_PASSWORD"])
                            </button>
                            <br />
                        }
                <div id="newPasswordInput" style="@(hasPassword ? "display:none" : "display:unset")">
                    <br />
                    <input type="password" name="dto.forumPassword" id="forumPassword" autocomplete="new-password" style="width:75% !important;" />
                    <span>&nbsp;</span>
                    <label>
                        <input type="checkbox" onclick="Toggle()" />
                        @Html.Raw(_translationProvider.Admin[Model.Language, "SHOW_PASSWORD"])
                    </label>
                    <br />
                    <span class="Caption DarkCaption">@Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_PASSWORD_CAPTION"])</span>
                </div>
                    }
                </div>
            </div>
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_TYPE"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @Html.DropDownList("dto.forumType", _utils.EnumToDropDownList<ForumType>(Model.Forum?.ForumType ?? ForumType.SubForum, ft => _translationProvider.Enums[Model.Language, ft]))
                </div>
            </div>
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_PARENT"])
                </div>
                <div class="FlexRight PostInputWidth">
                    @{
                        var parentId = Model.Forum?.ParentId ?? 0;
                        if (parentId == 0)
                        {
                            parentId = Model.ParentId ?? 0;
                        }
                    }
                    @Html.DropDownList("dto.parentId", await _adminForumService.FlatForumTreeAsListItem(parentId, Model.CurrentUser))
                </div>
            </div>
            <hr class="SubtypeSeparator" />
        }
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                @Html.Raw(_translationProvider.Admin[Model.Language, "REORDER_SUBFORUMS"])
            </div>
            <div class="FlexRight PostInputWidth">
                <div id="children" style="width:100%">
                    @foreach (var child in Model?.ForumChildren ?? Enumerable.Empty<Database.Entities.PhpbbForums>())
                    {
                        <div style="padding:5px; margin:5px; border: solid 1px black; border-radius:5px; cursor:move; width: 95%">
                            @Html.Raw(child.ForumName)
                            <input type="hidden" name="dto.childrenForums" value="@child.ForumId" style="width:0px" />
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (!Model!.IsRoot)
        {
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_RULES_LINK"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <input type="text" name="dto.forumRulesLink" value="@Html.Raw(Model.Forum?.ForumRulesLink)" autocomplete="new-password" />
                </div>
            </div>
            <hr class="SubtypeSeparator" />
            <div class="FlexCenter">
                <div style="font-weight:bold; text-align: right">
                    @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_RULES"])
                </div>
                <div class="FlexRight PostInputWidth">
                    <textarea name="dto.forumRules">@Html.Raw(Model.Forum?.ForumRules)</textarea>
                </div>
            </div>
            <hr />
            <div style="font-weight:bold; vertical-align:top; font-size:1.2em">
                @Html.Raw(_translationProvider.Admin[Model.Language, "FORUM_PERMISSIONS"])
            </div>
            <br />
            <span style="font-weight:bold">@Html.Raw(_translationProvider.Admin[Model.Language, "USER_PERMISSIONS"])</span>
            <br />
            @await Html.PartialAsync(
                         "_AdminForumPermissionsPartial",
                         new _AdminForumPermissionsPartialModel
                         {
                             Forum = Model.Forum,
                             ForumChildren = Model.ForumChildren,
                             Permissions = Model.Permissions?.Where(p => p.Type == AclEntityType.User),
                             EntityType = AclEntityType.User,
                             Language = Model.Language
                         },
                         ViewData
                     )
            <hr class="SubtypeSeparator" />
            <span style="font-weight:bold">@Html.Raw(_translationProvider.Admin[Model.Language, "GROUP_PERMISSIONS"])</span>
            <br />
            @await Html.PartialAsync(
                "_AdminForumPermissionsPartial",
                new _AdminForumPermissionsPartialModel
                {
                    Forum = Model.Forum,
                    ForumChildren = Model.ForumChildren,
                    Permissions = Model.Permissions?.Where(p => p.Type == AclEntityType.Group),
                    EntityType = AclEntityType.Group,
                    Language = Model.Language
                },
                ViewData
            )
            <hr />
        }
        <input type="submit" value="@Html.Raw(_translationProvider.Admin[Model.Language, "SAVE_CHANGES"])" style="margin-bottom:10px; float: left;" class="MyButton" /> &nbsp;
        <input type="hidden" name="dto.forumId" value="@Model.Forum?.ForumId" />
        <input type="hidden" name="dto.isRoot" value="@Model.IsRoot.ToString()" />
        <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">@Html.Raw(_translationProvider.BasicText[Model.Language, "CLOSE_BUTTON"])</div>

    </form>
}

<script>
    var children = document.getElementById('children');
    if (children) {
        Sortable.create(children, { animation: 150 });
    }

    //forum tree callback
    function forumSelectCallback(forumId) {
        $('#forumIdUpsert').val(forumId);
        $('#forumIdDelete').val(forumId);
    }

    function Toggle() {
        if ($('#forumPassword').attr('type') == 'password') {
            $('#forumPassword').attr('type', 'text');
        } else {
            $('#forumPassword').attr('type', 'password');
        }
    }

    function selectNewForum() {
        $('#parentIdCreate').val($('#forumIdUpsert').val());
        $('#forumIdUpsert').val('');
    }
</script>

@if (Model.Show)
{
    <script>
        showElement('forumFields', null, null, true);
    </script>
}