@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminForumsPartialModel
@using PhpbbInDotnet.Utilities

@inject Services.ForumTreeService _forumTreeService
@inject Services.AdminForumService _adminForumService
<environment include="Development">
    <link rel="stylesheet" href="~/css/posting.css" />
</environment>
<div style="float:left">
    <h4>Administrare forumuri</h4>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
@{ var tree = await _forumTreeService.GetForumTree(Model.CurrentUser, false, false); }
@await Html.PartialAsync(
    "_ForumTreePartial",
    new CustomPartials._ForumTreePartialModel(
        tree: tree,
        forumId: Model.Forum?.ForumId ?? 0,
        topicId: null
    ),
    ViewData
)
<form method="post" asp-page-handler="ShowForum">
    <input type="submit" value="Modifică forumul selectat" class="MyButton" /> &nbsp;
    <input type="submit" value="Șterge forumul selectat" form="deleteForumForm" class="MyButton" /> &nbsp;
    <input type="submit" value="Creează un forum nou" onclick="$('#forumIdUpsert').val('')" class="MyButton" />
    <input id="forumIdUpsert" name="forumId" type="hidden" />
</form>
<form method="post" asp-page-handler="DeleteForum" id="deleteForumForm">
    <input type="hidden" name="forumId" id="forumIdDelete" />
</form>
@if (Model.Show)
{
    <form id="forumFields" method="post" asp-page-handler="ForumManagement" class="MiddleBox" style="display: none; padding: 10px; overflow-y: scroll">
        @if ((Model.Forum?.ForumId ?? 0) != 0)
        {
            <h4 style="float:left">Administrează forum - @Model.Forum?.ForumName</h4>
        }
        else
        {
            <h4 style="float:left">Creează un forum nou</h4>
        }
        <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">Închide [X]</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Nume forum
            </div>
            <div class="FlexRight PostInputWidth">
                <input asp-for="Forum.ForumName" name="dto.forumName" autocomplete="new-password" />
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Descriere forum
            </div>
            <div class="FlexRight PostInputWidth">
                <textarea asp-for="Forum.ForumDesc" name="dto.forumDesc"></textarea>
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Parolă forum
            </div>
            <div class="FlexRight PostInputWidth">
                Forumul are parolă&nbsp;
                @Html.CheckBox("dto.hasPassword", !string.IsNullOrWhiteSpace(Model.Forum?.ForumPassword))
                <br />
                <span class="Caption">Debifați pentru a elimina parola existentă.</span>
                <br /> <br />
                <input asp-for="Forum.ForumPassword" name="dto.forumPassword" type="password" id="forumPassword" autocomplete="new-password" style="width:75% !important" />&nbsp;
                <input type="checkbox" onclick="Toggle()" />&nbsp;Arată parola<br />
                <span class="Caption">Introduceți noua parolă. Va fi schimbată dacă forumul are deja una.</span>
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Tip forum
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.DropDownList("dto.forumType", Enum.GetValues(typeof(ForumType)).Cast<ForumType>().Select(
                    ft => new SelectListItem(ft.ToString("g"), ft.ToString("g"), Model.Forum?.ForumType == ft)))
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Părinte forum
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.DropDownList("dto.parentId", await _adminForumService.FlatForumTreeAsListItem(Model.Forum?.ParentId ?? 0, Model.CurrentUser))
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Ordonează sub-forumuri
            </div>
            <div class="FlexRight PostInputWidth">
                <div id="children" style="width:100%">
                    @foreach (var child in Model?.ForumChildren ?? Enumerable.Empty<Database.Entities.PhpbbForums>())
                    {
                        <div style="padding:5px; margin:5px; border: solid 1px black; border-radius:5px; cursor:move; width: 95%">
                            @Html.Raw(child.ForumName)
                            <input type="hidden" name="dto.childrenForums" value="@child.ForumId" style="width:0px" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Link reguli forum
            </div>
            <div class="FlexRight PostInputWidth">
                <input asp-for="Forum.ForumRulesLink" name="dto.forumRulesLink" autocomplete="new-password" />
            </div>
        </div>
        <hr class="SubtypeSeparator" />
        <div class="FlexCenter">
            <div style="font-weight:bold; text-align: right">
                Reguli forum
            </div>
            <div class="FlexRight PostInputWidth">
                <textarea asp-for="Forum.ForumRules" name="dto.forumRules"></textarea>
            </div>
        </div>
        <hr />
        <div style="font-weight:bold; vertical-align:top; font-size:1.2em">
            Permisiuni pentru forum
        </div>
        <br />
        <span style="font-weight:bold">Permisiuni utilizatori</span>
        <br />
        @await Html.PartialAsync(
            "_AdminForumPermissionsPartial",
            new _AdminForumPermissionsPartialModel(
                Model.Forum,
                Model.ForumChildren,
                Model.Permissions?.Where(p => p.Type == AclEntityType.User),
                AclEntityType.User
            ),
            ViewData
        )
        <hr class="SubtypeSeparator" />
        <span style="font-weight:bold">Permisiuni grupuri</span>
        <br />
        @await Html.PartialAsync(
            "_AdminForumPermissionsPartial",
            new _AdminForumPermissionsPartialModel(
                Model.Forum,
                Model.ForumChildren,
                Model.Permissions?.Where(p => p.Type == AclEntityType.Group),
                AclEntityType.Group
            ),
            ViewData
        )
        <hr />
        <input type="submit" value="Salvează modificările" style="margin-bottom:10px; float: left;" class="MyButton" /> &nbsp;
        <input asp-for="Forum.ForumId" type="hidden" name="dto.forumId" />
        <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">Închide [X]</div>

    </form>
}

<script type="text/javascript">
    var children = document.getElementById('children');
    if (children) {
        Sortable.create(children, { animation: 150 });
    }

    //forum tree callback
    function forumSelectCallback(forumId) {
        $('#forumIdUpsert').val(forumId);
        $('#forumIdDelete').val(forumId);
    }

    function Toggle() {
        var temp = document.getElementById("forumPassword");
        if (temp.type === "password") {
            temp.type = "text";
        }
        else {
            temp.type = "password";
        }
    }
</script>

@if (Model.Show)
{
    <script>
        showElement('forumFields', null, null, true);
    </script>
}