@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminUsersSummaryPartialModel
@using PhpbbInDotnet.Utilities

@foreach (var user in Model.Users)
{
    <button type="button" class="collapsible">@user.Username</button>
    <table class="content" style="border:none; padding:5px">
        @if (user.UserInactiveReason == UserInactiveReason.NewlyRegisteredNotConfirmed)
        {
            <tr>
                <td colspan="2">
                    <label>
                        <input type="checkbox" name="userIds" value="@user.UserId" form="batchAdminUsers" />
                        Selectează pentru ștergere
                    </label>
                </td>
            </tr>
        }
        <tr>
            <td style="font-weight:bold; padding:5px">E-mail</td>
            <td>@user.UserEmail</td>
        </tr>
        <tr>
            <td style="font-weight:bold; padding:5px">IP</td>
            <td>@user.UserIp <a href="https://whatismyipaddress.com/ip/@user.UserIp" target="_blank">[IP Lookup]</a></td>
        </tr>
        <tr>
            <td style="font-weight:bold; padding:5px">Data inactivării</td>
            <td>
                @if(user.UserInactiveTime != 0)
                {
                    <script>
                        writeDate('@user.UserInactiveTime.ToUtcTime().ToString("o")', '@Model.DateFormat')
                    </script>
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold; padding:5px">Motivul inactivării</td>
            <td>@user.UserInactiveReason.ToString()</td>
        </tr>
        <tr>
            <td style="font-weight:bold; padding:5px">Acțiuni rapide</td>
            <td>
                @if (user.UserInactiveReason == UserInactiveReason.NewlyRegisteredNotConfirmed || 
                     user.UserInactiveReason == UserInactiveReason.ChangedEmailNotConfirmed)
                {
                    <s><a href="#" title="Nu poate fi activat deoarece nu și-a confirmat adresa de e-mail.">Activează</a></s>
                }
                else if (user.UserInactiveReason == UserInactiveReason.NotInactive)
                {
                    <s><a href="#" title="Nu poate fi activat deoarece este deja activ.">Activează</a></s>
                }
                else
                {
                    <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Activate')">Activează</a>
                }
                <span>&nbsp;|&nbsp;</span>
                @if (user.UserInactiveTime > 0)
                {
                    <s><a href="#" title="Nu poate fi dezactivat deoarece este deja inactiv.">Dezactivează</a></s>
                }
                else
                {
                    <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Deactivate')">Dezactivează</a>
                }
                <span>&nbsp;|&nbsp;</span>
                <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Delete_KeepMessages')">Șterge (păstrează mesajele)</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="#" onclick="submitUserForm(@user.UserId, '@user.Username', '@AdminUserActions.Delete_DeleteMessages')">Șterge (șterge mesajele)</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold; padding:5px">
                <a asp-page="/User" asp-route-UserId="@user.UserId">Vezi / modifică profilul complet</a>
            </td>
        </tr>
    </table>
}
