@model PhpbbInDotnet.Forum.Pages.CustomPartials.Admin._AdminViewLogsModel

@using Utilities
@using System.Web

@inject Languages.LanguageProvider _languageProvider
@inject CommonUtils _utils

@{
    var paginator = new Paginator(Model.TotalLogItemCount, Model.LogPage, link: $"/Admin?LogType={Model.LogType}&LogPage=1&AuthorName={HttpUtility.UrlEncode(Model.AuthorName)}&handler=forumLogs", pageSize: Services.OperationLogService.LOG_PAGE_SIZE, pageNumKey: "LogPage");
}
<h4>@Html.Raw(_languageProvider.Admin[Model.Language, "SYSTEM_LOGS"])</h4>
<form method="post" asp-page-handler="systemLogs">
    @Html.DropDownList(
        nameof(AdminModel.SystemLogPath),
        Model.SystemLogs.Select(l => new SelectListItem(l.LogDate.ToString("D", new System.Globalization.CultureInfo(Model.Language)), l.LogPath)),
        _languageProvider.Admin[Model.Language, "GET_SYSTEM_LOG_FOR_DATE"],
        new { style = "height: 30px; padding-top: 0px" }
    )
    @*<input type="hidden" name="handler" value="systemLogs" />*@
    <p style="clear:both"></p>
    <input type="submit" value="@Html.Raw(_languageProvider.BasicText[Model.Language, "SUBMIT", Casing.FirstUpper])" class="MyButton" />
</form>
<p></p>
<hr class="BoxSeparator" />
<p></p>
<h4>@Html.Raw(_languageProvider.Admin[Model.Language, "OPERATION_LOGS"])</h4>
<form method="get">
    @Html.DropDownListFor(
        m => m.LogType,
        _utils.EnumToDropDownList(selectedItem: Model.LogType, textTransform: x => x.ToString()),
        _languageProvider.Admin[Model.Language, "SORT_BY_LOG_TYPE"],
        new { style = "height: 30px; padding-top: 0px" }
    )
    <p style="clear:both"></p>
    <input asp asp-for="AuthorName" placeholder="@Html.Raw(_languageProvider.BasicText[Model.Language, "SEARCH_BY_AUTHOR"])" style="width:100%; height: 30px" autocomplete="new-password" class="InputBox" />
    <p style="clear:both"></p>
    <p id="tributeHolder" style="position:relative"></p>
    <input type="hidden" name="authorId" id="authorId" />
    <input type="hidden" name="handler" value="forumLogs" />
    <input type="submit" value="@Html.Raw(_languageProvider.BasicText[Model.Language, "SUBMIT", Casing.FirstUpper])" class="MyButton" />
</form>

@await Html.PartialAsync("_PaginationControlsPartial", new _PaginationControlsPartialModel(
    paginator: paginator,
    allowPaginationChange: false,
    back: $"/Admin?LogType={Model.LogType}&LogPage={Model.LogPage - 1}&AuthorName={HttpUtility.UrlEncode(Model.AuthorName)}&handler=forumLogs",
    forward: $"/Admin?LogType={Model.LogType}&LogPage={Model.LogPage + 1}&AuthorName={HttpUtility.UrlEncode(Model.AuthorName)}&handler=forumLogs",
    includeEasyNavigation: false,
    language: Model.Language
), ViewData)

<p></p>
<div>
    @foreach (var item in Model.CurrentLogItems)
    {
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "LOG_TYPE"])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(item.LogType.ToString())
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "OPERATION"])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(item.LogOperation)
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "LOG_DATE"])
            </div>
            <div class="FlexRight PostInputWidth">
                <script>writeDate('@item.LogTime.ToUtcTime().ToString("o")', '@Model.DateFormat');</script>
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.BasicText[Model.Language, "USER", Casing.FirstUpper])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(item.Username)
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.BasicText[Model.Language, "FORUM", Casing.FirstUpper])
            </div>
            <div class="FlexRight PostInputWidth">
                @if (item.ForumId > 0)
                {
                    <a href="/ViewForum?forumId=@item.ForumId" target="_blank">@Html.Raw(item.ForumName)</a>
                }
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.BasicText[Model.Language, "TOPIC", Casing.FirstUpper])
            </div>
            <div class="FlexRight PostInputWidth">
                @if (item.TopicId > 0)
                {
                    <a href="/ViewTopic?topicId=@item.TopicId" target="_blank">@Html.Raw(item.TopicTitle)</a>
                }
            </div>
        </div>
        <div class="FlexCenter">
            <div class="FlexCaption">
                @Html.Raw(_languageProvider.Admin[Model.Language, "ADDITIONAL_INFO"])
            </div>
            <div class="FlexRight PostInputWidth">
                @Html.Raw(item.LogData)
            </div>
        </div>
        @if (item != Model.CurrentLogItems.Last())
        {
            <hr class="SubtypeSeparator" />
        }
    }
</div>

@await Html.PartialAsync("_PaginationControlsPartial", new _PaginationControlsPartialModel(
    paginator: paginator,
    allowPaginationChange: false,
    back: $"/Admin?LogType={Model.LogType}&LogPage={Model.LogPage - 1}&handler=forumLogs",
    forward: $"/Admin?LogType={Model.LogType}&LogPage={Model.LogPage + 1}&handler=forumLogs",
    includeEasyNavigation: true,
    language: Model.Language
), ViewData)

