@model Serverless.Forum.Pages.CustomPartials.Email._ResetPasswordPartialModel
@using Microsoft.Extensions.Configuration 
@using Serverless.Forum.Utilities
@inject Utils _utils
@inject IConfiguration _config

<h2>Resetează-ți parola pe "@(_config.GetValue<string>("ForumName"))"</h2>
<p>
    Pentru a continua, trebuie să îți setezi o nouă parolă.<br />
    <a href="@(_config.GetValue<string>("BaseUrl"))/Login?resetPasswordCode=@Model.Code&userId=@Model.UserId&init=@Model.IV.ToString("n")&handler=newPassword">Apasă aici</a> pentru a o seta.
</p>
<p style="font-size:0.7em">
    Ai primit acest mesaj deoarece această adresă de e-mail a fost asociată contului '@Model.UserName' pe <a href="@(_config.GetValue<string>("BaseUrl"))">@(_config.GetValue<string>("ForumName"))</a>.<br />
    Dacă această solicitare nu îți aparține, te rugăm să răspunzi imediat la acest mesaj (reply) și să semnalezi problema. Cineva din echipa administrativă va răspunde în cel mai scurt timp.
</p>
O zi bună!