@model PhpbbInDotnet.Objects.AttachmentDto

@using Domain.Extensions
@using Domain.Utilities

@inject Services.IBBCodeRenderingService _renderingService
@inject Languages.ITranslationProvider _translationProvider

<div style="margin: 20px 0px 20px 0px">
    @if (StringUtility.IsImageMimeType(Model.MimeType))
    {
        <img src="@Model.FileUrl" class="ImageSize" onload="openImageInNewWindowOnClick(this)" />
    }
    else if (StringUtility.IsPlayableVideoMimeType(Model.MimeType))
    {
		<video src="@Model.FileUrl" class="VideoSize" preload="metadata" controls />
    }
    else
    {
        <a href="@Model.FileUrl">@Model.DisplayName</a>
    }
    <div class="Caption" style="clear:both">
        @if (!string.IsNullOrWhiteSpace(Model.Comment))
        {
            @Html.Raw(_renderingService.BbCodeToHtml(Model.Comment, string.Empty))
        }
        <div>
            @Html.Raw($"{Model.DisplayName} ({StringUtility.ReadableFileSize(Model.FileSize)}; {(Model.DownloadCount == 1 ? _translationProvider.BasicText[Model.Language, "DOWNLOADED_ONCE"] : string.Format(_translationProvider.BasicText[Model.Language, "DOWNLOADED_COUNT_FORMAT"], Model.DownloadCount))})")
        </div>
    </div>
</div>
