@model PhpbbInDotnet.Objects.AttachmentDto

@using Domain.Extensions
@using Domain.Utilities

@inject Services.IBBCodeRenderingService _renderingService
@inject Languages.ITranslationProvider _translationProvider

@if (Model != null)
{
    <div style="margin: 20px 0px 20px 0px">
        @if (StringUtility.IsMimeTypeInline(Model.MimeType))
        {
            //if (Model.MimeType.StartsWith("image", StringComparison.InvariantCultureIgnoreCase))
            //{
            <img src="@(Model.FileUrl)" onload="resizeImage(this)" style="width: 100px; height: 100px" />
            //}
            /*else
            {
                <div style="display:flex; width:100%; height:100%">
                    <video style="width:100%; height:100%" controls>
                        <source src="@(Model.FileUrl)" type="@Model.MimeType" />
                    </video>
                </div>
            }*/
        }
        else
        {
            <a href="@(Model.FileUrl)">@Model.DisplayName</a>
        }
        <div class="Caption" style="clear:both">
            @if (!string.IsNullOrWhiteSpace(Model.Comment))
            {
                @Html.Raw(_renderingService.BbCodeToHtml(Model.Comment, string.Empty))
            }
            <div>
                @Html.Raw($"{Model.DisplayName} ({StringUtility.ReadableFileSize(Model.FileSize)}; {(Model.DownloadCount == 1 ? _translationProvider.BasicText[Model.Language, "DOWNLOADED_ONCE"] : string.Format(_translationProvider.BasicText[Model.Language, "DOWNLOADED_COUNT_FORMAT"], Model.DownloadCount))})")
            </div>
        </div>
    </div>
}
