@model PhpbbInDotnet.Forum.Pages.CustomPartials._ForumDisplayPartialModel

@inject Services.IBBCodeRenderingService _renderingService
@inject Services.IForumTreeService _forumService
@inject Languages.LanguageProvider _languageProvider

@using Utilities
@using CustomPartials

<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>

@if (Model.ShowTitle && Model.Categories.Any(x => !x.IsRestricted))
{
    <h3 style="float:left">
        @Html.Raw(_languageProvider.BasicText[Model.Language, "CATEGORIES", Casing.FirstUpper])
    </h3>
}
@{
    var categoriesShown = false;
    bool isFirst;
    foreach (var category in Model.Categories)
    {
        if (category.IsRestricted)
        {
            continue;
        }

        <div class="FlexRow Category RowMargin">
            @Html.Raw(category.ForumName)
        </div>

        var children = Model.GetChildrenForums(category.ForumId);
        isFirst = true;
        @foreach (var forum in children)
        {
            if (forum.IsRestricted)
            {
                continue;
            }

            var isUnread = false;
            if (!(Model.AuthenticatedUser?.IsAnonymous ?? true))
            {
                isUnread = await _forumService.IsForumUnread(forum.ForumId, Model.AuthenticatedUser);
            }

            if (!isFirst)
            {
                <hr class="BoxSeparator" />
            }

            if (Model.AuthenticatedUser?.Foes?.Contains(forum.ForumLastPosterId ?? 0) ?? false)
            {
                forum.ForumLastPosterColour = null;
                forum.ForumLastPosterName = $"[{_languageProvider.BasicText[Model.Language, "HIDDEN", Casing.FirstUpper]}]";
                forum.ForumLastPosterId = 1;
            }

            var divClass = "FlexRow RowMargin";
            var titleClass = isUnread ? "nav-link UnreadTitle" : "nav-link";
            <div class="@divClass">
                <span class="ForumContent">
                    <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="@titleClass" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
                    @Html.Raw(_renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
                </span>
                @await Html.PartialAsync("_SummaryPartial", new _SummaryPartialModel(
                    authorId: forum.ForumLastPosterId!.Value,
                    authorName: forum.ForumLastPosterName!,
                    authorColor: forum.ForumLastPosterColour!,
                    creationTime: forum.ForumLastPostTime!.Value.ToUtcTime(),
                    assetId: forum.ForumId,
                    dateFormat:Model.DateFormat,
                    language: Model.Language,
                    authorOnFoeList: Model.AuthenticatedUser?.Foes?.Contains(forum.ForumLastPosterId ?? 0) == true)
                {
                    LinkHref = forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                    AlignLeft = false,
                    IsLastPostSummary = true,
                    Forums = forum.TotalSubforumCount,
                    Topics = forum.TotalTopicCount,
                })

            </div>
            isFirst = false;
        }
        categoriesShown = true;
    }

    @if (Model.ShowTitle && Model.SubForums.Any(x => !x.IsRestricted))
    {
        @if (categoriesShown)
        {
            <hr class="BoxSeparator" />
            <p>&nbsp;</p>
        }
        <h3 style="float:left">
            @Html.Raw(_languageProvider.BasicText[Model.Language, "FORUMS", Casing.FirstUpper])
        </h3>
    }

    isFirst = true;
    @foreach (var forum in Model.SubForums)
    {
        if (forum.IsRestricted)
        {
            continue;
        }

        var isUnread = false;
        if (!(Model.AuthenticatedUser?.IsAnonymous ?? true))
        {
            isUnread = await _forumService.IsForumUnread(forum.ForumId, Model.AuthenticatedUser);
        }

        if (!isFirst)
        {
            <hr class="BoxSeparator" />
        }

        var titleClass = isUnread ? "nav-link UnreadTitle" : "nav-link";
        <div class="FlexRow RowMargin">
            <span class="ForumContent">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="@titleClass" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
                @Html.Raw(_renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
            </span>
                @await Html.PartialAsync("_SummaryPartial", new _SummaryPartialModel(
                    authorId: forum.ForumLastPosterId!.Value,
                    authorName: forum.ForumLastPosterName!,
                    authorColor: forum.ForumLastPosterColour!,
                    creationTime: forum.ForumLastPostTime!.Value.ToUtcTime(),
                    assetId: forum.ForumId,
                    dateFormat:Model.DateFormat,
                    language: Model.Language,
                    authorOnFoeList: Model.AuthenticatedUser?.Foes?.Contains(forum.ForumLastPosterId ?? 0) == true)
                {
                    LinkHref = forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                    AlignLeft = false,
                    IsLastPostSummary = true,
                    Forums = forum.TotalSubforumCount,
                    Topics = forum.TotalTopicCount,
                })
        </div>
        isFirst = false;
    }

    if (Model.ShowLastSeparator)
    {
        <hr class="BoxSeparator" />
    }
}
