@model PhpbbInDotnet.Forum.Pages.CustomPartials._PaginationControlsPartialModel

@using Domain

@inject Languages.LanguageProvider _languageProvider

@if ((Model.Paginator?.Pagination?.HasPages ?? false) || Model.Paginator!.PageSize != Constants.DEFAULT_PAGE_SIZE)
{
    <div class="PaginationHolder">
        <div class="LeftArrow">
            @if ((Model.Paginator?.Pagination?.HasPages ?? false) && !Model.Paginator.IsFirstPage && Model.IncludeEasyNavigation)
            {
                <a href="@Model.Back" style="text-decoration:none">
                    <div style="display:table">
                        <div style="display:table-cell; vertical-align:middle; font-size:2.5em; line-height:1.1em; padding-right: 5px">
                            ◄
                        </div>
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height:1.1em">
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "PREVIOUS_PAGE"])
                        </div>
                    </div>
                </a>
            }
            else
            {
                <span>&nbsp;</span>
            }
        </div>
        <div class="ControlsMiddleFull">
            <span style="white-space:nowrap; display: inline">
                @await Html.PartialAsync(
                    "_PaginationPageListPartial",
                    new _PaginationPageListPartialModel
                    {
                        Pagination = Model.Paginator!.Pagination,
                        Language = Model.Language
                    },
                    ViewData
                )
            </span>
            @if (!Model.Paginator.IsAnonymous && (Model.AllowPaginationChange || Model.Paginator.PageSize != Constants.DEFAULT_PAGE_SIZE))
            {
                <form method="post" asp-page-handler="Pagination" style="line-height:1.5em; display: inline; white-space:nowrap">
                    <span style="white-space:nowrap; display: inline">
                        &nbsp;@Html.Raw(_languageProvider.BasicText[Model.Language, "POSTS_PER_PAGE"]):&nbsp;
                    </span>
                    <span style="white-space:nowrap; display: inline">
                        <input type="hidden" name="topicId" value="@Model.TopicId" />
                        <input type="hidden" name="postId" value="@Model.FirstPostId" />
                        @Html.DropDownList("userPostsPerPage", Model.Paginator.PostsPerPage, new { style = "height:30px" })
                        &nbsp;
                        <input type="submit" value="@Html.Raw(_languageProvider.BasicText[Model.Language, "SUBMIT", Casing.FirstUpper])" class="MyButton" style="height:30px" />
                    </span>
                </form>
            }
        </div>
        <div class="Filler">&nbsp;</div>
        <div class="RightArrow">
            @if ((Model.Paginator?.Pagination?.HasPages ?? false) && !Model.Paginator.IsLastPage && Model.IncludeEasyNavigation)
            {
                <a href="@Model.Forward" style="text-decoration:none">
                    <div style="display:table">
                        <div style="display:table-cell; vertical-align:middle; text-align:right; line-height:1.1em; padding-right: 5px">
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "NEXT_PAGE"])
                        </div>
                        <div style="display:table-cell; vertical-align:middle; font-size:2.5em; line-height:1.1em">
                            ►
                        </div>
                    </div>
                </a>
            }
            else
            {
                <span>&nbsp;</span>
            }
        </div>
    </div>
    <div class="ControlsMiddleCollapsed">
        <p></p>
        <span class="MyButton MyMiniButton" onclick="showElement('paginationControls_@(Model.Self)')" style="white-space:nowrap">
            &#x1F4D6;&nbsp;@Html.Raw(_languageProvider.BasicText[Model.Language, "PAGINATION_OPTIONS"])
        </span>
        <div id="paginationControls_@(Model.Self)" style="display: none; width: 100%; line-height: 1.5em">
            <p></p>
            @await Html.PartialAsync(
                "_PaginationPageListPartial",
                new _PaginationPageListPartialModel
                {
                    Pagination = Model.Paginator!.Pagination,
                    Language = Model.Language
                },
                ViewData
            )
            <p></p>
            @if (!Model.Paginator.IsAnonymous && (Model.AllowPaginationChange || Model.Paginator.PageSize != Constants.DEFAULT_PAGE_SIZE))
            {
                <form method="post" asp-page-handler="Pagination" style="line-height:1.5em">
                    <span style="white-space:nowrap; display: inline">
                        @Html.Raw(_languageProvider.BasicText[Model.Language, "POSTS_PER_PAGE"]):&nbsp;
                    </span>
                    <span style="white-space:nowrap; display: inline">
                        <input type="hidden" name="topicId" value="@Model.TopicId" />
                        <input type="hidden" name="postId" value="@Model.FirstPostId" />
                        @Html.DropDownList("userPostsPerPage", Model.Paginator.PostsPerPage, new { style = "height:30px" })
                        &nbsp;
                        <input type="submit" value="@Html.Raw(_languageProvider.BasicText[Model.Language, "SUBMIT", Casing.FirstUpper])" class="MyButton" style="height:30px" />
                    </span>
                </form>
            }
        </div>
    </div>
}