@model PhpbbInDotnet.Forum.Pages.CustomPartials._PaginationPartialModel

<!DOCTYPE html>
@if (Model.HasPages)
{
    <span style="display:inline">
        <span style="white-space:nowrap; line-height: 1.5em">Mergi la pagina:&nbsp;</span>
        <span style="white-space:nowrap; line-height: 1.5em">
            @if (Model.Pager.StartPage > 1)
            {
                Model.Link.Set(Model.PageNumKey, "1");
                <span class="PageNum">
                    <a href="@Model.Link.ToString()">1</a>
                </span>
                <span>&nbsp;...</span>
            }

            @foreach (var curPage in Model.Pager.Pages)
            {
                if (curPage == Model.CurrentPage)
                {
                    <span style="display: inline-block; padding: 2px;">@curPage</span>
                }
                else
                {
                    Model.Link.Set(Model.PageNumKey, curPage.ToString());
                    <span class="PageNum">
                        <a href="@Model.Link.ToString()">@curPage</a>
                    </span>
                }
            }

            @if (Model.Pager.EndPage + 3 < Model.Pager.TotalPages)
            {
                Model.Link.Set(Model.PageNumKey, Model.Pager.TotalPages.ToString());
                <span>&nbsp;...</span>
                <span class="PageNum">
                    <a href="@Model.Link.ToString()">@Model.Pager.TotalPages</a>
                </span>
            }
            else if (Model.Pager.EndPage < Model.Pager.TotalPages)
            {
                for (var num = Model.Pager.EndPage + 1; num <= Model.Pager.TotalPages; num++)
                {
                    Model.Link.Set(Model.PageNumKey, num.ToString());
                    <span class="PageNum">
                        <a href="@Model.Link.ToString()">@num</a>
                    </span>
                }
            }
        </span>
    </span>
}
