@model PhpbbInDotnet.Forum.Pages.CustomPartials._PaginationPageListPartialModel

@inject Languages.ITranslationProvider _translationProvider

@if (Model.Pagination?.HasPages ?? false)
{
    <span style="display:inline">
        <span style="white-space:nowrap; line-height: 1.5em">@Html.Raw(_translationProvider.BasicText[Model.Language, "GO_TO_PAGE"]):&nbsp;</span>
        <span style="white-space:nowrap; line-height: 1.5em">
            @if (Model.Pagination.Pager.StartPage > 1)
            {
                Model.Pagination.UpdatePageNum("1");
                <span class="PageNum">
                    <a href="@Model.Pagination.Url">1</a>
                </span>
                <span>&nbsp;...</span>
            }

            @foreach (var curPage in Model.Pagination.Pager.Pages)
            {
                if (curPage == Model.Pagination.CurrentPage)
                {
                    <span style="display: inline-block; padding: 2px;">@curPage</span>
                }
                else
                {
                    Model.Pagination.UpdatePageNum(curPage.ToString());
                    <span class="PageNum">
                        <a href="@Model.Pagination.Url">@curPage</a>
                    </span>
                }
            }

            @if (Model.Pagination.Pager.EndPage + 3 < Model.Pagination.Pager.TotalPages)
            {
                Model.Pagination.UpdatePageNum(Model.Pagination.Pager.TotalPages.ToString());
                <span>&nbsp;...</span>
                <span class="PageNum">
                    <a href="@Model.Pagination.Url">@Model.Pagination.Pager.TotalPages</a>
                </span>
            }
            else if (Model.Pagination.Pager.EndPage < Model.Pagination.Pager.TotalPages)
            {
                for (var num = Model.Pagination.Pager.EndPage + 1; num <= Model.Pagination.Pager.TotalPages; num++)
                {
                    Model.Pagination.UpdatePageNum(num.ToString());
                    <span class="PageNum">
                        <a href="@Model.Pagination.Url">@num</a>
                    </span>
                }
            }
        </span>
    </span>
}

