@model _PostPartialModel

@using System.Web
@using System.Text
@using Newtonsoft.Json
@using Utilities
@using Objects

@inject Services.UserService _userService
@inject CommonUtils _utils
@inject Database.ForumDbContext _context
@inject Services.BBCodeRenderingService _renderingService
@inject Services.UserService _userService
@inject Services.ForumTreeService _forumService
@inject Languages.LanguageProvider _languageProvider

@{
    var userDateFormat = Model.CurrentUser?.UserDateFormat ?? _languageProvider.GetDefaultDateFormat(Model.Language);
    var lastOpenReport = Model.Post!.Reports?.LastOrDefault(r => !r.ReportClosed.ToBool());
    var rowClass = lastOpenReport != null && (Model.IsCurrentUserMod || lastOpenReport.ReporterId == Model.CurrentUser?.UserId) ? "ReportedPost" : string.Empty;
    var titleClass = Model.Post.Unread ? "UnreadTitle" : "";
    var color = string.IsNullOrWhiteSpace(Model.Post.AuthorColor) || Model.Post.AuthorColor == Constants.DEFAULT_USER_COLOR ? "auto" : $"#{Model.Post.AuthorColor}";

    @if (Model.CurrentUser?.Foes?.Contains(Model.Post.AuthorId) == true)
    {
        Model.HasCurrentUserPM = false;
        Model.Post.AuthorId = 1;
        Model.Post.AuthorName = $"[{_languageProvider.BasicText[Model.Language, "HIDDEN", Casing.FirstUpper]}]";
        Model.Post.AuthorColor = null;
        Model.Post.AuthorAvatar = null;
        Model.Post.Attachments?.Clear();
        Model.Post.BbcodeUid = string.Empty;
        Model.Post.PostSubject = $"[{_languageProvider.BasicText[Model.Language, "HIDDEN", Casing.FirstUpper]}]";
        Model.Post.PostText = _languageProvider.BasicText[Model.Language, "CONTENT_HIDDEN_WARNING_BBCODE", Casing.FirstUpper];
    }

    await _renderingService.ProcessPost(Model.Post, Model.ParentPageContext!, Model.ParentHttpContext!, true, Model.ToHighlight);

    @if (!Model.IsPostFirstInPage)
    {
        <hr class="BoxSeparator" style="margin-top: 0px" />
    }
}
<div class="RowMargin @rowClass" style="max-width:100%; overflow-wrap: break-word">
    <div class="FlexRow" style="max-width:100%; overflow-wrap: break-word; padding-bottom: 0px">
        @await Html.PartialAsync("_SummaryPartial", new CustomPartials._SummaryPartialModel
        {
            AuthorId = Model.Post.AuthorId,
            AuthorName = Model.Post.AuthorName,
            AuthorColor = Model.Post.AuthorColor,
            CreationTime = Model.Post.PostCreationTime,
            AssetId = Model.Post.PostId,
            DateFormat = userDateFormat,
            AuthorAvatar = Model.Post.AuthorAvatar,
            AuthorRank = Model.Post.AuthorRank,
            Left = true,
            ShowAsLast = false,
            PMLink = Model.HasCurrentUserPM ? $"<a href=\"./Posting?handler=PrivateMessage&postId={Model.Post.PostId}\">&#x1F5E8; {_languageProvider.BasicText[Model.Language, "PRIVATE_MESSAGE", Casing.FirstUpper]}</a>" : null,
            Language = Model.Language,
            CorrelationId = Model.CorrelationId
        })
        <div class="ForumContent VerticalContent FlexRight" id="@Model.Post.PostId" style="max-width:100%; overflow-wrap: break-word; display:flex">
            @if (Model.ShowPath)
            {
                <div class="Caption">
                    @Html.Raw(_forumService.GetPathText((await _forumService.GetForumTree(Model.CurrentUser, false, false)), Model.Post.ForumId))
                </div>
            }
            <span style="display:flex">
                <span class="PostTitle">
                    @if (Model.DisablePostTitleLink)
                    {
                        @Html.Raw(Model.Post.PostSubject)
                    }
                    else
                    {
                        <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@Model.Post.PostId" class="@titleClass" target="@(Model.OpenPostLinkInNewTab ? "_blank" : "_self")">
                            @Html.Raw(Model.Post.PostSubject)
                        </a>
                    }
                </span>
                <span style="margin-left:auto">
                    <span class="CollapsedMenu ThemeColor" onclick="expandCollapsedMenu('summary@(Model.Post.PostId)', 'button@(Model.Post.PostId)')" id="button@(Model.Post.PostId)" style="color:@color;margin-left: auto; height:auto; width: min-content">
                        @Html.Raw(Model.Post.AuthorName)
                    </span>
                </span>
                @if (Model.ShowQuoteButton)
                {
                    <span style="margin-left: auto; min-width: max-content; padding-top: 3px; padding-bottom: 30px; margin-top: 4px; margin-bottom: 4px">
                        <a href="javascript:posting.addquote(texts['@Model.Post.PostId'], '@Model.Post.AuthorName', @Model.Post.PostId)">
                            &#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_QUOTE", Casing.FirstUpper])
                        </a>
                    </span>
                }
            </span>
            <div style="max-width:100%; overflow-wrap: break-word">
                @if (lastOpenReport != null && (Model.IsCurrentUserMod || lastOpenReport.ReporterId == Model.CurrentUser?.UserId))
                {
                    var data = new
                    {
                        postId = Model.Post.PostId,
                        reportId = lastOpenReport.Id,
                        reportReasonTitle = lastOpenReport.ReasonTitle,
                        reportReasonDescription = lastOpenReport.ReasonDescription,
                        reportDetails = _renderingService.BbCodeToHtml(lastOpenReport.Details, string.Empty),
                        reportUsername = lastOpenReport.ReporterUsername
                    };
                    <a href="javascript:vt.showReportViewer(@Newtonsoft.Json.JsonConvert.SerializeObject(data))" style="font-weight:bold; font-size:1.2em">
                        @Html.Raw(_languageProvider.BasicText[Model.Language, "SHOW_REPORT", Casing.FirstUpper])
                    </a>
                    <br />
                }
                <br />
                @Html.Raw(Model.Post.PostText)
                @foreach (var attachment in Model.Post?.Attachments ?? new List<AttachmentDto>())
                {
                    @await Html.PartialAsync("_AttachmentPartial", attachment, ViewData)
                }
            </div>

            @if (Model.ShowFooter)
            {
                <p>&nbsp;</p>
                <div class="PostFooter" style="margin-top: auto">
                    @if (Model.ShowEditHistory)
                    {
                        <div class="Caption ThemeColor">
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "LAST_EDITED_BY"]) @Model.Post!.PostEditUser
                            <script>writeDate("@Model.Post.PostEditTime.ToUtcTime().ToString("o")", "@userDateFormat");</script>.
                            @if (!string.IsNullOrWhiteSpace(Model.Post.PostEditReason))
                            {
                                <span>@Html.Raw(_languageProvider.BasicText[Model.Language, "REASON", Casing.FirstUpper]): @HttpUtility.HtmlDecode(Model.Post.PostEditReason).</span>
                            }
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "TOTAL_EDITS"]): @Model.Post.PostEditCount.
                        </div>
                        <p></p>
                    }
                    <div class="PostActions">
                        @if ((!Model.IsTopicLocked || Model.IsCurrentUserMod) && Model.CurrentUser?.IsAnonymous == false && (!Model.IsPostLastInPage || !Model.IsLastPage))
                        {
                            <span>
                                <a asp-page="/Posting" asp-page-handler="QuoteForumPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@Model.Post!.PostId">
                                    @if (Model.IsTopicLocked)
                                    {
                                        <span>&#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC", Casing.FirstUpper])</span>
                                    }
                                    else
                                    {
                                        <span>&#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "REPLY_AS_QUOTE"])</span>
                                    }
                                </a>
                            </span>
                        }
                        else if (Model.CurrentUser?.IsAnonymous == false && (!Model.IsPostLastInPage || !Model.IsLastPage))
                        {
                            <span>
                                <a href="javascript:;" title="@Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC_CAPTION"])">
                                    <s>&#x1F5E8; @Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC", Casing.FirstUpper])</s>
                                </a>
                            </span>
                        }

                        @if (Model.CurrentUser?.IsAnonymous == false)
                        {
                            <span>
                                <a asp-page="/Confirm" asp-page-handler="DestinationPicker" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@Model.Post!.PostId" asp-route-showTopicSelector="true" asp-route-quotePostInDifferentTopic="true" asp-route-destination="./Posting" asp-route-destinationHandler="QuoteForumPost">
                                    <span>&#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "REPLY_AS_QUOTE_IN_ANOTHER_TOPIC"])</span>
                                </a>
                            </span>
                        }

                        @if (Model.CurrentUser?.IsAnonymous == false)
                        {
                            <span>
                                <a href="javascript:vt.showReportForm(@Model.Post!.PostId);">
                                    &#x2757; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_REPORT", Casing.FirstUpper])
                                </a>
                            </span>
                        }
                        @if (Model.IsCurrentUserMod)
                        {
                            var reports = Convert.ToBase64String(Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(Model.Post!.Reports?.Select(ReportDto.HtmlEncode))));
                            <span>
                                <a href="javascript:vt.showMessageDetails('@Model.Post!.IP', '@Model.Post.PostEditTime.ToUtcTime().ToString("o")', '@userDateFormat', @Model.Post.PostEditCount, '@Model.Post.PostEditUser', '@reports');">
                                    &#x2753; @Html.Raw(_languageProvider.BasicText[Model.Language, "INFORMATION", Casing.FirstUpper])
                                </a>
                            </span>
                            <span>
                                <label>
                                    @Html.Raw(_languageProvider.Moderator[Model.Language, "SELECT_FOR_MODERATION", Casing.FirstUpper])
                                    <input name="PostIdsForModerator" type="checkBox" value="@Model.Post.PostId" form="moderatorForm" onchange="mod.appendToStringList(this, 'selectedPostIds')" @(Model.PostIdsForModerator?.Contains(Model.Post.PostId) == true ? "checked" : "") />
                                </label>
                            </span>
                            <span>
                                <a href="javascript:mod.duplicatePost(@Model.Post.PostId)">
                                    2️⃣ @Html.Raw(_languageProvider.Moderator[Model.Language, "DUPLICATE_POST"])
                                </a>
                            </span>
                        }
                        @if (Model.IsCurrentUserMod || (Model.Post!.AuthorId == Model.CurrentUser?.UserId && (Model.CurrentUser.PostEditTime == 0 || DateTime.UtcNow.Subtract(Model.Post.PostCreationTime ?? default).TotalMinutes <= Model.CurrentUser.PostEditTime)))
                        {
                            <span>
                                <a asp-page="/Posting" asp-page-handler="EditPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@Model.Post!.PostId">
                                    &#x1F4DD; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_EDIT", Casing.FirstUpper])
                                </a>
                            </span>
                            if (Model.IsCurrentUserMod || (Model.IsPostLastInPage && Model.IsLastPage))
                            {
                                if (!Model.IsCurrentUserMod)
                                {
                                    <input name="PostIdsForModerator" type="checkBox" value="@Model.Post.PostId" form="moderatorForm" onchange="mod.appendToStringList(this, 'selectedPostIds')" @(Model.PostIdsForModerator?.Contains(Model.Post.PostId) == true ? "checked" : "") style="display:none" />
                                }
                                <span>
                                    <a href="javascript:mod.deletePost(@Model.Post.PostId, @Model.ClosestPostId)">
                                        &#x1F6AE; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_DELETE", Casing.FirstUpper])
                                    </a>
                                </span>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p></p>
            }
        </div>
    </div>
</div>