@model _PostPartialModel

@using System.Web
@using Utilities

@inject Services.UserService _userService
@inject CommonUtils _utils
@inject Database.ForumDbContext _context
@inject Services.BBCodeRenderingService _renderingService
@inject Services.UserService _userService
@inject Languages.LanguageProvider _languageProvider

@{
    var userDateFormat = Model.CurrentUser?.UserDateFormat ?? _languageProvider.GetDefaultDateFormat(Model.Language);
    var rowClass = Model.Post.Report != null && (Model.IsCurrentUserMod || Model.Post.Report.ReporterId == Model.CurrentUser.UserId) ? "ReportedPost" : string.Empty;
    var titleClass = Model.Post.Unread ? "UnreadTitle" : "";
    var color = string.IsNullOrWhiteSpace(Model.Post.AuthorColor) || Model.Post.AuthorColor == "000000" ? "auto" : $"#{Model.Post.AuthorColor}";

    @if (Model.CurrentUser.Foes?.Contains(Model.Post.AuthorId ?? 0) ?? false)
    {
        Model.HasCurrentUserPM = false;
        Model.Post.AuthorId = 1;
        Model.Post.AuthorName = $"[{_languageProvider.BasicText[Model.Language, "HIDDEN", Casing.FirstUpper]}]";
        Model.Post.AuthorColor = null;
        Model.Post.AuthorHasAvatar = false;
        Model.Post.Attachments?.Clear();
        Model.Post.BbcodeUid = string.Empty;
        Model.Post.PostSubject = $"[{_languageProvider.BasicText[Model.Language, "HIDDEN", Casing.FirstUpper]}]";
        Model.Post.PostText = _languageProvider.BasicText[Model.Language, "CONTENT_HIDDEN_WARNING_BBCODE", Casing.FirstUpper];
    }

    await _renderingService.ProcessPost(Model.Post, Model.ParentPageContext, Model.ParentHttpContext, true, Model.ToHighlight);

    @if (!Model.IsPostFirstInPage)
    {
        <hr class="BoxSeparator" style="margin-top: 0px" />
    }
}
<div class="RowMargin @rowClass" style="max-width:100%; overflow-wrap: break-word">
    <div class="FlexRow" style="max-width:100%; overflow-wrap: break-word; padding-bottom: 0px">
        @await Html.PartialAsync("_SummaryPartial", new CustomPartials._SummaryPartialModel
        {
            AuthorId = Model.Post.AuthorId,
            AuthorName = Model.Post.AuthorName,
            AuthorColor = Model.Post.AuthorColor,
            CreationTime = Model.Post.PostCreationTime,
            AssetId = Model.Post.PostId.Value,
            DateFormat = userDateFormat,
            ShowAvatar = Model.Post.AuthorHasAvatar,
            AuthorRank = Model.Post.AuthorRank,
            Left = true,
            ShowAsLast = false,
            PMLink = Model.HasCurrentUserPM ? $"<a href=\"./Posting?handler=PrivateMessage&postId={Model.Post.PostId}\">&#x1F5E8; {_languageProvider.BasicText[Model.Language, "PRIVATE_MESSAGE", Casing.FirstUpper]}</a>" : null,
            Language = Model.Language
        })
        <div class="ForumContent VerticalContent FlexRight" id="@Model.Post.PostId" style="max-width:100%; overflow-wrap: break-word; display:flex">
            <span style="display:flex">
                <span class="PostTitle">
                    <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@Model.Post.PostId" class="@titleClass" target="@(Model.OpenPostLinkInNewTab ? "_blank" : "_self")">
                        @Html.Raw(Model.Post.PostSubject)
                    </a>
                </span>
                <span style="margin-left:auto">
                    <span class="CollapsedMenu ThemeColor" onclick="expandCollapsedMenu('summary@(Model.Post.PostId.Value)', 'button@(Model.Post.PostId.Value)')" id="button@(Model.Post.PostId.Value)" style="color:@color;margin-left: auto; height:auto; width: min-content">
                        @Html.Raw(Model.Post.AuthorName)
                    </span>
                </span>
                @if (Model.ShowQuoteButton)
                {
                    <span style="margin-left: auto; min-width: max-content; padding-top: 3px; padding-bottom: 30px; margin-top: 4px; margin-bottom: 4px">
                        <a href="javascript:posting.addquote(texts['@Model.Post.PostId'], '@Model.Post.AuthorName')">
                            &#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_QUOTE", Casing.FirstUpper])
                        </a>
                    </span>
                }
            </span>
            <div style="max-width:100%; overflow-wrap: break-word">
                @if (Model.Post.Report != null && (Model.IsCurrentUserMod || Model.Post.Report.ReporterId == Model.CurrentUser.UserId))
                {
                    <a href="javascript:vt.showReportViewer(@Model.Post.PostId, @Model.Post.Report.Id, '@Html.Raw(Model.Post.Report.ReasonTitle)', '@Model.Post.Report.ReasonDescription', '@Html.Raw(_renderingService.BbCodeToHtml(Model.Post.Report.Details, string.Empty))', '@Html.Raw(Model.Post.Report.ReporterUsername)')" style="font-weight:bold; font-size:1.2em">
                        @Html.Raw(_languageProvider.BasicText[Model.Language, "SHOW_REPORT", Casing.FirstUpper])
                    </a>
                    <br />
                }
                <br />
                @Html.Raw(Model.Post.PostText)
                @foreach (var attachment in Model.Post.Attachments)
                {
                    @await Html.PartialAsync("_AttachmentPartial", attachment, ViewData)
                }
            </div>

            @if (Model.ShowFooter)
            {
                <p>&nbsp;</p>
                <div class="PostFooter" style="margin-top: auto">
                    @if (Model.ShowEditHistory)
                    {
                        <div class="Caption ThemeColor">
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "LAST_EDITED_BY"]) @Model.Post.LastEditUser
                            <script>writeDate("@Model.Post.LastEditTime.ToUtcTime().ToString("o")", "@userDateFormat");</script>.
                            @if (!string.IsNullOrWhiteSpace(Model.Post.LastEditReason))
                            {
                                <span>@Html.Raw(_languageProvider.BasicText[Model.Language, "REASON", Casing.FirstUpper]): @HttpUtility.HtmlDecode(Model.Post.LastEditReason).</span>
                            }
                            @Html.Raw(_languageProvider.BasicText[Model.Language, "TOTAL_EDITS"]): @Model.Post.EditCount.
                        </div>
                        <p></p>
                    }
                    <div class="PostActions">
                        @if ((!Model.IsTopicLocked || Model.IsCurrentUserMod) && !Model.CurrentUser.IsAnonymous && (!Model.IsPostLastInPage || !Model.IsLastPage))
                        {
                            <span>
                                <a asp-page="/Posting" asp-page-handler="QuoteForumPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@Model.Post.PostId">
                                    @if (Model.IsTopicLocked)
                                    {
                                        <span>&#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC", Casing.FirstUpper])</span>
                                    }
                                    else
                                    {
                                        <span>&#x1F4AC; @Html.Raw(_languageProvider.BasicText[Model.Language, "REPLY_AS_QUOTE"])</span>
                                    }
                                </a>
                            </span>
                        }
                        else if (!Model.CurrentUser.IsAnonymous && (!Model.IsPostLastInPage || !Model.IsLastPage))
                        {
                            <span>
                                <a href="javascript:;" title="@Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC_CAPTION"])">
                                    <s>&#x1F5E8; @Html.Raw(_languageProvider.BasicText[Model.Language, "CLOSED_TOPIC", Casing.FirstUpper])</s>
                                </a>
                            </span>
                        }

                        @if (Model.Post.Report == null && !Model.CurrentUser.IsAnonymous)
                        {
                            <span>
                                <a href="javascript:vt.showReportForm(@Model.Post.PostId);">
                                    &#x2757; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_REPORT", Casing.FirstUpper])
                                </a>
                            </span>
                        }
                        @if (Model.IsCurrentUserMod)
                        {
                            <span>
                                <a href="javascript:vt.showMessageDetails('@Model.Post.IP', '@Model.Post.LastEditTime.ToUtcTime().ToString("o")', '@userDateFormat', @Model.Post.EditCount, '@Model.Post.LastEditUser');">
                                    &#x2753; @Html.Raw(_languageProvider.BasicText[Model.Language, "INFORMATION", Casing.FirstUpper])
                                </a>
                            </span>
                            <span>
                                <label>
                                    @Html.Raw(_languageProvider.Moderator[Model.Language, "SELECT_FOR_MODERATION", Casing.FirstUpper])
                                    <input name="PostIdsForModerator" type="checkBox" value="@Model.Post.PostId" form="moderatorForm" onchange="vt.appendPostId(this, @(Model.Post.PostId ?? -1))" @(Model.PostIdsForModerator.Contains(Model.Post.PostId ?? -1) ? "checked" : "") />
                                </label>
                            </span>
                        }
                        @if (Model.IsCurrentUserMod || (Model.Post.AuthorId == Model.CurrentUser.UserId && (Model.CurrentUser.PostEditTime == 0 || DateTime.UtcNow.Subtract(Model.Post.PostCreationTime ?? default).TotalMinutes <= Model.CurrentUser.PostEditTime)))
                        {
                            <span>
                                <a asp-page="/Posting" asp-page-handler="EditPost" asp-route-forumId="@Model.ForumId" asp-route-topicId="@Model.TopicId" asp-route-postId="@Model.Post.PostId">
                                    &#x1F4DD; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_EDIT", Casing.FirstUpper])
                                </a>
                            </span>
                            if (Model.IsCurrentUserMod || (Model.IsPostLastInPage && Model.IsLastPage))
                            {
                                if (!Model.IsCurrentUserMod)
                                {
                                    <input name="PostIdsForModerator" type="checkBox" value="@Model.Post.PostId" form="moderatorForm" onchange="vt.appendPostId(this, @(Model.Post.PostId ?? -1))" @(Model.PostIdsForModerator.Contains(Model.Post.PostId ?? -1) ? "checked" : "") style="display:none" />
                                }
                                <span>
                                    <a href="javascript:vt.deletePost(@(Model.Post.PostId ?? -1), @Model.ClosestPostId)">
                                        &#x1F6AE; @Html.Raw(_languageProvider.BasicText[Model.Language, "DO_DELETE", Casing.FirstUpper])
                                    </a>
                                </span>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p></p>
            }
        </div>
    </div>
</div>