@model PhpbbInDotnet.Forum.Pages.CustomPartials._SummaryPartialModel

<ul class="Summary @(Model.Left ? "FlexLeft" : "FlexRight")" id="summary@(Model.AssetId)">
    @if (Model.ShowAvatar)
    {
        <li>
            <img src="./File?userId=@Model.AuthorId&handler=avatar" />
        </li>
    }
    <li>
        @if (Model.ShowAsLast)
        {
            if (!string.IsNullOrWhiteSpace(Model.LinkHref))
            {
                <span><a href="@Model.LinkHref">Ultimul mesaj</a> de:</span>
            }
            else
            {
                <span>Ultimul mesaj de: </span>
            }
        }
        else
        {
            <span>@Model.AuthorTag</span>
        }
        @if (Model.AuthorId == null)
        {
            <span style="text-decoration: line-through">@Html.Raw(Model.AuthorName)</span>
        }
        else if (Model.AuthorId == 1)
        {
            @Html.Raw(Model.AuthorName)
        }
        else
        {
            var color = $"#{(string.IsNullOrWhiteSpace(Model.AuthorColor) ? "000000" : Model.AuthorColor)}";
            <a asp-page="/User" asp-route-UserId="@Model.AuthorId" style="color:@color;font-weight:bold" class="Stroke">@Html.Raw(Model.AuthorName)</a>
        }
    </li>
    <li>
        @if (!string.IsNullOrWhiteSpace(Model.AuthorRank))
        {
            <span class="Caption">@Model.AuthorRank</span>
        }
    </li>
    <li>
        Scris:
        <script>
            writeDate("@Model.CreationTime?.ToString("o")", "@Model.DateFormat");
        </script>
    </li>
    @if (Model.Posts.HasValue && Model.Views.HasValue)
    {
        <li class="Caption">
            @Model.Posts mesaj@(Model.Posts != 1 ? "e" : ""), @Model.Views vizualiz@(Model.Views != 1 ? "ări" : "are").
        </li>
    }
    else if (Model.Forums.HasValue && Model.Topics.HasValue)
    {
        <li class="Caption">
            @if (Model.Forums > 0)
            {
                <span>
                    @Model.Forums forum@(Model.Forums != 1 ? "uri" : "")@(Model.Topics > 0 ? "," : "")
                </span>
            }
            @if (Model.Topics > 0)
            {
                <span>
                    @Model.Topics subiect@(Model.Topics != 1 ? "e" : "")
                </span>
            }
        </li>
    }
    @if (!string.IsNullOrWhiteSpace(Model.PMLink))
    {
        <li>
            @Html.Raw(Model.PMLink)
        </li>
    }
    @if (!Model.ShowAsLast && Model.Left)
    {
        <li class="Hide768">
            <p>&nbsp;</p>
        </li>
    }
</ul>
