@model PhpbbInDotnet.Forum.Pages.CustomPartials._SummaryPartialModel

@inject Languages.LanguageProvider _languageProvider

<ul class="Summary @(Model.Left ? "FlexLeft" : "FlexRight")" id="summary@(Model.AssetId)">
    @if (Model.ShowAvatar)
    {
        <li>
            <img src="./File?userId=@Model.AuthorId&handler=avatar" />
        </li>
    }
    <li>
        @if (Model.ShowAsLast)
        {
            if (!string.IsNullOrWhiteSpace(Model.LinkHref))
            {
                @Html.Raw(string.Format(_languageProvider.BasicText[Model.Language, "LAST_POST_URL"], Model.LinkHref))
            }
            else
            {
                @Html.Raw(_languageProvider.BasicText[Model.Language, "LAST_POST_TEXT"])
            }
        }
        else
        {
            <span>@Model.AuthorTag</span>
        }
        @if (Model.AuthorId == null)
        {
            <span style="text-decoration: line-through">@Html.Raw(Model.AuthorName)</span>
        }
        else if (Model.AuthorId == 1)
        {
            @Html.Raw(Model.AuthorName)
        }
        else
        {
            var color = string.IsNullOrWhiteSpace(Model.AuthorColor) || Model.AuthorColor == "000000" ? "auto" : $"#{Model.AuthorColor}";
            <a asp-page="/User" asp-route-UserId="@Model.AuthorId" style="color:@color;font-weight:bold" class="ThemeColor">@Html.Raw(Model.AuthorName)</a>
        }
    </li>
    <li>
        @if (!string.IsNullOrWhiteSpace(Model.AuthorRank))
        {
            <span class="Caption">@Model.AuthorRank</span>
        }
    </li>
    <li>
        @Html.Raw(_languageProvider.BasicText[Model.Language, "POSTED"]):
        <script>
            writeDate("@Model.CreationTime?.ToString("o")", "@Model.DateFormat");
        </script>
    </li>
    @if (Model.Posts.HasValue && Model.Views.HasValue)
    {
        <li class="Caption">
            @Html.Raw($"{Model.Posts} {(Model.Posts != 1 ? _languageProvider.BasicText[Model.Language, "POSTS"] : _languageProvider.BasicText[Model.Language, "POST"])}, {Model.Views} {(Model.Views != 1 ? _languageProvider.BasicText[Model.Language, "VIEWS"] : _languageProvider.BasicText[Model.Language, "VIEW"])}")
        </li>
    }
    else if (Model.Forums.HasValue && Model.Topics.HasValue)
    {
        <li class="Caption">
            @if (Model.Forums > 0)
            {
                @Html.Raw($"{Model.Forums} {(Model.Forums != 1 ? _languageProvider.BasicText[Model.Language, "FORUMS"] : _languageProvider.BasicText[Model.Language, "FORUM"])}{(Model.Topics > 0 ? ", " : "")}")
            }
            @if (Model.Topics > 0)
            {
                @Html.Raw($"{Model.Topics} {(Model.Topics != 1 ? _languageProvider.BasicText[Model.Language, "TOPICS"] : _languageProvider.BasicText[Model.Language, "TOPIC"])}")
            }
        </li>
    }
    @if (!string.IsNullOrWhiteSpace(Model.PMLink))
    {
        <li>
            @Html.Raw(Model.PMLink)
        </li>
    }
    @if (!Model.ShowAsLast && Model.Left)
    {
        <li class="Hide768">
            <p>&nbsp;</p>
        </li>
    }
</ul>
