@model PhpbbInDotnet.Forum.Pages.CustomPartials._UserSummaryPartialModel

@using Utilities;

<p>&nbsp;</p>

@{
    @await Html.PartialAsync("_PaginationControlsPartial", Model.UpperPagination);
    var isFirst = true;
    foreach (var user in Model.UserList)
    {
        var color = string.IsNullOrWhiteSpace(user.UserColour) || user.UserColour == "000000" ? "auto" : $"#{user.UserColour}";
        if (!isFirst)
        {
            <hr class="BoxSeparator" />
        }

        <div class="FlexCenter">
            <div class="PostTitle" style="overflow-wrap: break-word">
                @if (user.GroupId == Constants.BOTS_GROUP_ID || user.UserId == Constants.ANONYMOUS_USER_ID)
                {
                    <span style="color:@color">@Html.Raw(user.Username)</span>
                }
                else
                {
                    <a asp-page="User" asp-route-UserId="@user.UserId" style="color:@color" class="ThemeColor">@Html.Raw(user.Username)</a>
                }
            </div>
            <div class="FlexRight PostInputWidth">
                <b>Înscris:</b>
                <script>
                    writeDate("@user.UserRegdate.ToUtcTime().ToString("o")", "@Model.DateFormat");
                </script>
                <br />
                <b>Activ ultima oară:</b>
                @if (user.UserInactiveTime == 0 && user.UserLastvisit >= user.UserRegdate)
                {
                    <script>
                        writeDate("@user.UserLastvisit.ToUtcTime().ToString("o")", "@Model.DateFormat");
                    </script>
                }
                else
                {
                    <span>inactiv</span>
                }
                @if (!string.IsNullOrWhiteSpace(user.UserFrom))
                {
                    <br />
                    <b>Localitate:</b>
                    @Html.Raw(user.UserFrom)
                }
                @{
                    var group = Model.GroupList.FirstOrDefault(g => g.GroupId == user.GroupId);
                    if (group != null)
                    {
                        <br />
                        <b>Grup:</b>
                        color = string.IsNullOrWhiteSpace(group.GroupColour) || group.GroupColour == "000000" ? "auto" : $"#{group.GroupColour}";
                        <span style="font-weight: bold; color: @color" class="ThemeColor">
                            @Html.Raw(group.GroupName)
                        </span>
                    }
                    var rank = Model.RankList.FirstOrDefault(r => r.RankId == user.UserRank);
                    if (rank != null)
                    {
                        <br />
                        <b>Rang:</b>
                        @Html.Raw(rank.RankTitle)
                    }
                }
                <br />
                <b>Mesaje postate:</b>
                @Html.Raw(user.UserPosts)
            </div>
        </div>
        isFirst = false;
    }
}

@await Html.PartialAsync("_PaginationControlsPartial", Model.LowerPagination)
