@model Serverless.Forum.Pages.CustomPartials._AdminUsersPartialModel
@using Serverless.Forum.Utilities

<h4>Utilizatori inactivi</h4>

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

@{
    await Model.Init();
    foreach (var user in Model.InactiveUsers)
    {
        <button type="button" class="collapsible">@user.Username</button>
        <table class="content" style="border:none; padding:5px">
            <tr>
                <td style="font-weight:bold; padding:5px">E-mail</td>
                <td>@user.UserEmail</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:5px">IP</td>
                <td>@user.UserIp <a href="https://whatismyipaddress.com/ip/@user.UserIp" target="_blank">[IP Lookup]</a></td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:5px">Data inactivării</td>
                <td>@user.UserInactiveTime.ToUtcTime().ToLocalTime().ToString(Model.UserDateFormat)</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:5px">Motivul inactivării</td>
                <td>@user.UserInactiveReason.ToString()</td>
            </tr>
        </table>
    }
}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>