@model Serverless.Forum.Pages.CustomPartials._AttachmentPartialModel

@using Serverless.Forum.Utilities
@inject Utils _utils

@if (Model != null)
{
    <p>&nbsp;</p>
    if (Model.MimeType.IsMimeTypeInline())
    {
        if (Model.MimeType.StartsWith("image", StringComparison.InvariantCultureIgnoreCase))
        {
            <img src="@(Model.FileUrl)" />
        }
        else
        {
            <video style="width:100%; height:100%" controls>
                <source src="@(Model.FileUrl)" type="@Model.MimeType" />
                @*<a href="@(Model.FileUrl)">@Model.DisplayName</a>*@
            </video>
        }
    }
    else
    {
        <a href="@(Model.FileUrl)">@Model.DisplayName</a>
    }
    <br />
    <span class="Caption">
        @Model.Comment <br />
        @Model.DisplayName (dimensiune: @_utils.ReadableFileSize(Model.FileSize); descărcat @(Model.DownloadCount == 1 ? "o dată" : $"de {Model.DownloadCount} ori"))
    </span>
    <p>&nbsp;</p>
}
