@model Serverless.Forum.Pages.CustomPartials._AttachmentPartialModel
@inject Utilities.Utils _utils

@if (Model != null)
{
    <p>&nbsp;</p>
    if (Model.IsRenderedInline)
    {
        if (Model.MimeType.StartsWith("image", StringComparison.InvariantCultureIgnoreCase))
        {
            <img src="/File?Id=@Model.Id" />
        }
        else
        {
            <video>
                <source src="/File?Id=@Model.Id" type="@Model.MimeType" />
                <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
            </video>
        }
    }
    else
    {
        <a asp-page="/File" asp-route-Id="@Model.Id">@Model.FileName</a>
    }
    <br />
    <span class="Caption">
        @Model.Comment <br />
        @Model.FileName (dimensiune: @_utils.ReadableFileSize(Model.FileSize); descărcat @(Model.DownloadCount == 1 ? "o dată" : $"de {Model.DownloadCount} ori"))
    </span> <p>&nbsp;</p>
}
