@model Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel
@inject Services.BBCodeRenderingService _renderingService

@if (Model.ShowTitle && Model.Categories.Any())
{
    <h4 style="float:left">Categorii</h4>
}

@foreach (var category in Model.Categories)
{

    <div class="ForumListRowCategory">
        @category.Name
    </div>
    @foreach (var forum in category.ChildrenForums)
    {
        var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";
        <div class="@divClass">
            <span class="ForumListLeft" style="padding-left:20px">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br />
                @Html.Raw(await _renderingService.BbCodeToHtml(forum.Description, forum.DescriptionBbCodeUid))
            </span>
            @await Html.PartialAsync(
                "_SummaryPartial",
                new CustomPartials._SummaryPartialModel(
                    forum.LastPosterId,
                    forum.LastPosterName,
                    forum.LastPosterColor,
                    forum.LastPostTime,
                    forum.Id ?? 0,
                    Model.DateFormat,
                    false,
                    forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                    forum.LastPostId == null ? null : $"Mergi la ultimul mesaj"
                )
            )
        </div>
    }
}

<p>&nbsp;</p>

@if (Model.ShowTitle && Model.SubForums.Any())
{
    <h4 style="float:left">Forumuri</h4>
}

@foreach (var forum in Model.SubForums)
{
    var divClass = forum.Unread ? "ForumListRow Unread" : "ForumListRow";
    <div class="@divClass">
        <span class="ForumListLeft">
            <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br />
            @Html.Raw(await _renderingService.BbCodeToHtml(forum.Description, forum.DescriptionBbCodeUid))
        </span>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new CustomPartials._SummaryPartialModel(
                forum.LastPosterId,
                forum.LastPosterName,
                forum.LastPosterColor,
                forum.LastPostTime,
                forum.Id ?? 0,
                Model.DateFormat,
                false,
                forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                forum.LastPostId == null ? null : $"Mergi la ultimul mesaj"
            )
        )
    </div>
}
