@model Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel
@inject Services.BBCodeRenderingService _renderingService
@using Utilities

<link rel="stylesheet" href="~/css/pagination.css" />

@if (Model.ShowTitle && Model.Categories.Any())
{
    <h3 style="float:left">Categorii</h3>
}

@foreach (var category in Model.Categories)
{
    var catIndex = 0;
    <div class="FlexRow Category RowMargin">
        @Html.Raw(category.ForumName)
    </div>
    @foreach (var forum in Model.Forum.ForumData.Where(f => f.ParentId == category.ForumId))
    {

        var divClass = Model.Forum.Tracking.Any(f => f.ForumId == forum.ForumId) ? $"FlexRow Unread Color{catIndex % 2} RowMargin" : $"FlexRow Color{catIndex % 2} RowMargin";
        catIndex++;
        <div class="@divClass">
            <span class="ForumContent" style="padding-left:20px">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="nav-link" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
                @Html.Raw(await _renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
            </span>
            @await Html.PartialAsync(
                "_SummaryPartial",
                new CustomPartials._SummaryPartialModel(forum.ForumLastPosterId, forum.ForumLastPosterName, forum.ForumLastPosterColour, forum.ForumLastPostTime.ToUtcTime(), forum.ForumId,
                    Model.DateFormat, false, null,
                    forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                    forum.ForumLastPostId == 0 ? null : "&#x1F4C3;",
                    forum.ForumLastPostId == 0 ? null : "Vezi ultimul mesaj",
                    false, true
                )
            )
        </div>
    }
}

@if (Model.Categories.Any() && Model.SubForums.Any())
{
    <hr />
}

@if (Model.ShowTitle && Model.SubForums.Any())
{
    <h3 style="float:left">Forumuri</h3>
}

@{ var index = 0; }
@foreach (var forum in Model.SubForums)
{
    var divClass = Model.Forum.Tracking.Any(f => f.ForumId == forum.ForumId) ? $"FlexRow Unread Color{index % 2} RowMargin" : $"FlexRow Color{index % 2} RowMargin";
    index++;
    <div class="@divClass">
        <span class="ForumContent">
            <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="nav-link" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
            @Html.Raw(await _renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
        </span>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new CustomPartials._SummaryPartialModel(forum.ForumLastPosterId, forum.ForumLastPosterName, forum.ForumLastPosterColour, forum.ForumLastPostTime.ToUtcTime(), forum.ForumId,
                Model.DateFormat, false, null,
                forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                forum.ForumLastPostId == 0 ? null : "&#x1F4C3;",
                forum.ForumLastPostId == 0 ? null : "Vezi ultimul mesaj",
                false, true
            )
        )
    </div>
}
