@model Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel

@inject Services.BBCodeRenderingService _renderingService
@inject Services.ForumTreeService _forumService

@using Utilities

<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>

@if (Model.ShowTitle && Model.Categories.Any(x => !x.IsRestricted))
{
    <h3 style="float:left">Categorii</h3>
}

@foreach (var category in Model.Categories)
{
    if (category.IsRestricted)
    {
        continue;
    }

    var catIndex = 0;
    <div class="FlexRow Category RowMargin">
        @Html.Raw(category.ForumName)
    </div>
    @foreach (var forum in Model.GetChildrenForums(category.ForumId).OrderBy(f => f.LeftId))
    {
        if (forum.IsRestricted)
        {
            continue;
        }

        var isUnread = false;
        if (!(Model.LoggedUser?.IsAnonymous ?? true))
        {
            isUnread = await _forumService.IsForumUnread(forum.ForumId, Model.LoggedUser);
        }
        var divClass = isUnread ? $"FlexRow Unread Color{catIndex % 2} RowMargin" : $"FlexRow Color{catIndex % 2} RowMargin";
        catIndex++;
        <div class="@divClass">
            <span class="ForumContent" style="padding-left:20px">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="nav-link" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
                @Html.Raw(_renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
            </span>
            @await Html.PartialAsync(
                "_SummaryPartial",
                new CustomPartials._SummaryPartialModel(forum.ForumLastPosterId, forum.ForumLastPosterName, forum.ForumLastPosterColour, forum.ForumLastPostTime?.ToUtcTime(), forum.ForumId,
                    Model.DateFormat, false, null,
                    forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                    forum.ForumLastPostId == 0 ? null : "&#x1F4C3;",
                    forum.ForumLastPostId == 0 ? null : "Vezi ultimul mesaj",
                    false, true
                )
            )
        </div>
    }
}

@if (Model.Categories.Any(x => !x.IsRestricted) && Model.SubForums.Any(x => !x.IsRestricted))
{
    <hr />
}

@if (Model.ShowTitle && Model.SubForums.Any(x => !x.IsRestricted))
{
    <h3 style="float:left">Forumuri</h3>
}

@{ var index = 0; }
@foreach (var forum in Model.SubForums)
{
    if (forum.IsRestricted)
    {
        continue;
    }

    var isUnread = false;
    if (!(Model.LoggedUser?.IsAnonymous ?? true))
    {
        isUnread = await _forumService.IsForumUnread(forum.ForumId, Model.LoggedUser);
    }
    var divClass = isUnread ? $"FlexRow Unread Color{index % 2} RowMargin" : $"FlexRow Color{index % 2} RowMargin";
    index++;
    <div class="@divClass">
        <span class="ForumContent">
            <a asp-page="/ViewForum" asp-route-forumId="@forum.ForumId" class="nav-link" style="font-weight:bold">@Html.Raw(forum.ForumName)</a><br />
            @Html.Raw(_renderingService.BbCodeToHtml(forum.ForumDesc, forum.ForumDescUid))
        </span>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new CustomPartials._SummaryPartialModel(forum.ForumLastPosterId, forum.ForumLastPosterName, forum.ForumLastPosterColour, forum.ForumLastPostTime?.ToUtcTime(), forum.ForumId,
                Model.DateFormat, false, null,
                forum.ForumLastPostId == 0 ? null : $"./ViewTopic?postId={forum.ForumLastPostId}&handler=ByPostId",
                forum.ForumLastPostId == 0 ? null : "&#x1F4C3;",
                forum.ForumLastPostId == 0 ? null : "Vezi ultimul mesaj",
                false, true
            )
        )
    </div>
}
