@model Serverless.Forum.Pages.CustomPartials._ForumDisplayPartialModel
@inject Services.BBCodeRenderingService _renderingService

<link rel="stylesheet" href="~/css/pagination.css" />

@if (Model.ShowTitle && Model.Categories.Any())
{
    <h3 style="float:left">Categorii</h3>
}

@foreach (var category in Model.Categories)
{
    var catIndex = 0;
    <div class="FlexRow Category">
        @category.Name
    </div>
    @foreach (var forum in category.ChildrenForums)
    {
        var divClass = forum.Unread ? $"FlexRow Unread Color{catIndex % 2}" : $"FlexRow Color{catIndex % 2}";
        catIndex++;
        <div class="@divClass">
            <span class="ForumContent" style="padding-left:20px">
                <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br />
                @Html.Raw(_renderingService.BbCodeToHtml(forum.Description, forum.DescriptionBbCodeUid))
            </span>
            @await Html.PartialAsync(
                "_SummaryPartial",
                new CustomPartials._SummaryPartialModel(
                    forum.LastPosterId,
                    forum.LastPosterName,
                    forum.LastPosterColor,
                    forum.LastPostTime,
                    forum.Id ?? 0,
                    Model.DateFormat,
                    false,
                    null,
                    forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                    forum.LastPostId == null ? null : "&#x1F4C3;",
                    forum.LastPostId == null ? null : "Vezi ultimul mesaj",
                    false
                )
            )
        </div>
    }
}

@if (Model.Categories.Any() && Model.SubForums.Any())
{
    <hr />
}

@if (Model.ShowTitle && Model.SubForums.Any())
{
    <h3 style="float:left">Forumuri</h3>
}

@{ var index = 0; }
@foreach (var forum in Model.SubForums)
{
    var divClass = forum.Unread ? $"FlexRow Unread Color{index % 2}" : $"FlexRow Color{index % 2}";
    index++;
    <div class="@divClass">
        <span class="ForumContent">
            <a asp-page="/ViewForum" asp-route-forumId="@forum.Id" class="nav-link" style="font-weight:bold">@forum.Name</a><br />
            @Html.Raw(_renderingService.BbCodeToHtml(forum.Description, forum.DescriptionBbCodeUid))
        </span>
        @await Html.PartialAsync(
            "_SummaryPartial",
            new CustomPartials._SummaryPartialModel(
                forum.LastPosterId,
                forum.LastPosterName,
                forum.LastPosterColor,
                forum.LastPostTime,
                forum.Id ?? 0,
                Model.DateFormat,
                false,
                null,
                forum.LastPostId == null ? null : $"./ViewTopic?postId={forum.LastPostId}&handler=ByPostId",
                forum.LastPostId == null ? null : "&#x1F4C3;",
                forum.LastPostId == null ? null : "Vezi ultimul mesaj",
                false
            )
        )
    </div>
}
