@model Serverless.Forum.Pages.CustomPartials._PaginationControlsPartialModel
@{
    var IsAnonymous = Model.PaginationModel.CurrentUserId == Utilities.Constants.ANONYMOUS_USER_ID;
}

@if (Model.PaginationModel?.Pagination?.HasPages ?? false)
{

    <div class="PaginationControlsFull@(Model.IncludeEasyNavigation ? " FlexCenter" : "")" style="justify-content:center">
        @if (!Model.PaginationModel.IsFirstPage && Model.IncludeEasyNavigation)
        {
            <div style="padding-right:10px">
                <a href="@Model.Back" style="text-decoration:none">
                    <img src="~/images/prev.png" />
                </a>
            </div>
        }
        <div>
            @await Html.PartialAsync("_PaginationPartial", Model.PaginationModel.Pagination, ViewData)
        </div>
        @if (!IsAnonymous && Model.AllowPaginationChange)
        {
            <div>
                <form method="post" asp-page-handler="Pagination">
                    <label>Mesaje afișate pe pagină:&nbsp;</label>
                    <input type="hidden" name="topicId" value="@Model.TopicId" />
                    <input type="hidden" name="postId" value="@Model.FirstPostId" />
                    @Html.DropDownList("userPostsPerPage", Model.PaginationModel.PostsPerPage)
                    &nbsp;
                    <input type="submit" value="Salvează" />
                </form>
            </div>
        }
        @if (!Model.PaginationModel.IsLastPage && Model.IncludeEasyNavigation)
        {
            <div>
                <a href="@Model.Forward" style="text-decoration:none">
                    <img src="~/images/next.png" />
                </a>
            </div>
        }

    </div>
    <center>

        <div class="PaginationControlsCollapsed @(Model.IncludeEasyNavigation ? "FlexCenter" : "") Reordered">
            @if (!Model.PaginationModel.IsFirstPage && Model.IncludeEasyNavigation)
            {
                <div>
                    <a href="@Model.Back" style="text-decoration:none">

                        <img src="~/images/prev.png" />
                    </a>
                </div>
            }
            <div>
                <div class="CollapsedMenu" onclick="showElement('paginationControls_@(Model.Self)')">
                    Opțiuni paginare
                </div>
            </div>
            @if (!Model.PaginationModel.IsLastPage && Model.IncludeEasyNavigation)
            {
                <div>
                    <a href="@Model.Forward" style="text-decoration:none">
                        <img src="~/images/next.png" />
                    </a>
                </div>
            }

        </div>
        <div id="paginationControls_@(Model.Self)" class="PaginationControls" style="align-self:center">
            <p></p>
            @await Html.PartialAsync("_PaginationPartial", Model.PaginationModel.Pagination, ViewData)
            <p></p>
            @if (!IsAnonymous && Model.AllowPaginationChange)
            {
                <form method="post" asp-page-handler="Pagination">
                    <label>Mesaje afișate pe pagină:&nbsp;</label>
                    <input type="hidden" name="topicId" value="@Model.TopicId" />
                    <input type="hidden" name="postId" value="@Model.FirstPostId" />
                    @Html.DropDownList("userPostsPerPage", Model.PaginationModel.PostsPerPage)
                    &nbsp;
                    <input type="submit" value="Salvează" />
                </form>
            }
        </div>
    </center>
}