@model Serverless.Forum.Pages.CustomPartials._SummaryPartialModel

<ul class="Summary @(Model.Left ? "FlexLeft" : "FlexRight")" id="summary@(Model.AssetId)">
    @if (Model.ShowAvatar)
    {
        <li>
            <img src="./File?userId=@Model.AuthorId&handler=avatar" />
        </li>
    }
    <li>
        @if (Model.ShowAsLast)
        {
            if (!string.IsNullOrWhiteSpace(Model.LinkHref))
            {
                <span><a href="@Model.LinkHref">Ultimul mesaj</a> de:</span>
            }
            else
            {
                <span>Ultimul mesaj de: </span>
            }
        }
        else
        {
            <span>Autor: </span>
        }
        @if (Model.AuthorId == null)
        {
            <span style="text-decoration: line-through">@Html.Raw(Model.AuthorName)</span>
        }
        else
        {
            var color = $"#{(string.IsNullOrWhiteSpace(Model.AuthorColor) ? "000000" : Model.AuthorColor)}";
            <a asp-page="/User" asp-route-UserId="@Model.AuthorId" style="color:@color;font-weight:bold">@Html.Raw(Model.AuthorName)</a>
        }
        @if (!string.IsNullOrWhiteSpace(Model.LinkHref) && !string.IsNullOrWhiteSpace(Model.LinkText) && !Model.ShowAsLast)
        {
            <span>&nbsp;</span>
            <a href="@Model.LinkHref" style="text-decoration:none" title="@(Model.LinkTooltip)">@Html.Raw(Model.LinkText)</a>
        }
    </li>
    <li>
        @if (!string.IsNullOrWhiteSpace(Model.AuthorRank))
        {
            <span class="Caption">@Model.AuthorRank</span>
        }
    </li>
    <li>
        Scris: 
        <script>
            writeDate("@Model.CreationTime?.ToString("o")", "@Model.DateFormat");
        </script>
    </li>
    @if (Model.Posts.HasValue && Model.Views.HasValue)
    {
        <li class="Caption">
            @Model.Posts mesaje, @Model.Views vizualizări.
        </li>
    }
</ul>