@model Serverless.Forum.Pages.CustomPartials._SummaryPartialModel
@{
    Layout = null;
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

<ul class="ForumListRight" id="summary@(Model.AssetId)">
    @if (Model.ShowAvatar)
    {
        <li>
            <img src="./File?userId=@Model.AuthorId&handler=avatar" />
        </li>
    }
    <li>
        Autor:
        @if (Model.AuthorId == null)
        {
            <span style="text-decoration: line-through">@Html.Raw(Model.AuthorName)</span>
        }
        else
        {
            var color = $"#{(string.IsNullOrWhiteSpace(Model.AuthorColor) ? "000000" : Model.AuthorColor)}";
            <a asp-page="/User" asp-route-UserId="@Model.AuthorId" style="color:@color;font-weight:bold">@Html.Raw(Model.AuthorName)</a>
        }
    </li>
    <li>
        Scris la: 
        <script>
            var date = new Date("@Model.CreationTime?.ToString("o")");
            document.write(date.format("@(string.IsNullOrWhiteSpace(Model.DateFormat) ? "dddd, dd.MM.yyyy HH:mm" : Model.DateFormat)"));
        </script>

    </li>
    @if (!string.IsNullOrWhiteSpace(Model.LinkHref) && !string.IsNullOrWhiteSpace(Model.LinkText))
    {
        <li>
            <a href="@Model.LinkHref">@Model.LinkText</a>
        </li>
    }
</ul>