@model Serverless.Forum.Pages.CustomPartials.Admin._AdminForumsPartialModel
@using Serverless.Forum.Utilities

@inject Services.ForumTreeService _forumTreeService
@inject Services.AdminForumService _adminForumService
@{
    var forumTree = await _forumTreeService.GetForumTreeAsync();
}

<style>
    #forumFields {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.90);
        width: 75%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: scroll;
        display: block;
        border: solid 1px black;
        padding: 10px;
        margin: 3px;
    }
</style>

<div style="float:left">
    <h4>Administrare forumuri</h4>
</div>

<form method="post" asp-page-handler="ShowForum">
    <div style="float:right; width:200px;">
        <input type="submit" value="Modifică forumul selectat" style="position:fixed; width:auto" />
    </div>
    <input id="forumId" name="forumId" type="hidden" />
</form>
<form method="post" asp-page-handler="ShowForum">
    <div style="float:right; width:200px;">
        <input type="submit" value="Creează un forum nou" style="position:fixed; width:auto; margin-top:50px" />
    </div>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>

@await Html.PartialAsync(
    "_ForumTreePartial",
    new CustomPartials._ForumTreePartialModel
    {
        Forums = forumTree,
        ForumId = Model.Forum?.ForumId ?? 0,
        TopicId = null,
        PathToForumOrTopic = _forumTreeService.GetPathInTree(forumTree, forum => forum.Id ?? 0, Model.Forum?.ForumId ?? 0, -1)
    },
    ViewData
)


@if (Model.Show)
{
    <form id="forumFields" method="post" asp-page-handler="ForumManagement" autocomplete="no">
        @if ((Model.Forum?.ForumId ?? 0) != 0)
        {
            <h4 style="float:left">Administrează forum - @Model.Forum.ForumName</h4>
        }
        else
        {
            <h4 style="float:left">Creează un forum nou</h4>
        }
        <div style="float:right; cursor:pointer; font-weight:bold" onclick="showElement('forumFields')">Închide [X]</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <table class="mainTable">
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Nume forum
                </td>
                <td>
                    <input asp-for="Forum.ForumName" name="forumName" autocomplete="no" />
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Descriere forum
                </td>
                <td>
                    <textarea asp-for="Forum.ForumDesc" name="forumDesc"></textarea>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Parolă forum
                </td>
                <td>
                    Forumul are parolă&nbsp;
                    @Html.CheckBox("hasPassword", !string.IsNullOrWhiteSpace(Model.Forum.ForumPassword))
                    <br />
                    <span class="Caption">Debifați pentru a elimina parola existentă.</span>
                    <br /> <br />
                    <input asp-for="Forum.ForumPassword" name="forumPassword" type="password" id="forumPassword" autocomplete="no" />&nbsp;
                    <input type="checkbox" onclick="Toggle()" />&nbsp;Arată parola<br />
                    <span class="Caption">Introduceți noua parolă. Va fi schimbată dacă forumul are deja una.</span>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Tip forum
                </td>
                <td>
                    @Html.DropDownList("forumType", Enum.GetValues(typeof(ForumType)).Cast<ForumType>().Select(
                        ft => new SelectListItem(ft.ToString("g"), ft.ToString("g"), Model.Forum.ForumType == ft, Model.Forum.ForumType == ft)))
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Părinte forum
                </td>
                <td>
                    @Html.DropDownList("parentId", await _adminForumService.FlatForumTreeAsListItem(Model.Forum.ParentId, Model.Forum.ForumId))
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right">
                    Ordonează sub-forumuri
                </td>
                <td>
                    <div id="children">
                        @foreach (var child in Model.ForumChildren)
                        {
                            <div style="padding:5px; margin:5px; border: solid 1px black; border-radius:5px; cursor:move; width: 75%">
                                @Html.Raw(child.ForumName)
                                <input type="hidden" name="childrenForums" value="@child.ForumId" style="width:0px" />
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold; text-align: right; vertical-align:top">
                    Permisiuni
                </td>
                <td>
                    <span style="font-weight:bold">Utilizatori</span>
                    @await Html.PartialAsync(
                        "_AdminForumPermissionsPartial",
                        new _AdminForumPermissionsPartialModel(
                            Model.Forum,
                            Model.ForumChildren,
                            Model.Permissions?.Where(p => p.Type == AclEntityType.User),
                            AclEntityType.User
                        ),
                        ViewData
                    )
                    <p>&nbsp;</p>
                    <span style="font-weight:bold">Grupuri</span>
                    @await Html.PartialAsync(
                        "_AdminForumPermissionsPartial",
                        new _AdminForumPermissionsPartialModel(
                            Model.Forum,
                            Model.ForumChildren,
                            Model.Permissions?.Where(p => p.Type == AclEntityType.Group),
                            AclEntityType.Group
                        ),
                        ViewData
                    )
                </td>
            </tr>
        </table>
        <input type="submit" value="Salvează modificările" style="margin-bottom:10px" />
        <input asp-for="Forum.ForumId" type="hidden" name="forumId" />
    </form>
}

<script type="text/javascript">
    $(function () {
        $("#children").sortable({
            axis: 'y'
        });
    });

    function submitForumForm(form, id) {
        document.getElementById("forumId").value = id;
        document.getElementById(form).submit();
    }

    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("forumId");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }

    function Toggle() {
        var temp = document.getElementById("forumPassword");
        if (temp.type === "password") {
            temp.type = "text";
        }
        else {
            temp.type = "password";
        }
    }
</script>