@using System.Web
@using Microsoft.Extensions.Configuration
@using Utilities

@inject IConfiguration _config
@inject Services.UserService  _userService
@inject Services.ModeratorService _moderatorService
@inject Languages.LanguageProvider _languageProvider
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Services.StatisticsService _statisticsService
@{
    var currentUser = await _userService.ClaimsPrincipalToAuthenticatedUser(User);
    var css = currentUser?.Style;
    if (string.IsNullOrWhiteSpace(css))
    {
        css = "Light";
    }
    var lang = _languageProvider.GetValidatedLanguage(currentUser, _httpContextAccessor.HttpContext?.Request); 
    var dateFormat = currentUser?.UserDateFormat ?? _languageProvider.GetDefaultDateFormat(lang);
    var statistics = await _statisticsService.GetStatistics();
    var forumId = int.TryParse(Context.Request.Query["forumId"].ToString(), out var val) ? val : 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>@Html.Raw(_config.GetValue<string>("ForumName")) - @ViewData["Title"]</title>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/css/Common.css" />
        <link rel="stylesheet" href="~/css/@(css).css" />
        <script src="~/js/site.js"></script>
        <script src="~/js/dateFormatter.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/@(css).min.css" />
        <script src="~/js/site.min.js"></script>
    </environment>

    <!-- global JS translation magic -->
    @if (ViewContext.RouteData.Values["page"].ToString() == "/ViewTopic"
        || ViewContext.RouteData.Values["page"].ToString() == "/Posting"
        || ViewContext.RouteData.Values["page"].ToString() == "/Admin"
        || ViewContext.RouteData.Values["page"].ToString() == "/Moderator")
    {
        <script>
            var dictionary = @(Html.Raw(_languageProvider.JSText[lang]));
            var clickToEnlarge = '@Html.Raw(_languageProvider.BasicText[lang, "CLICK_TO_ENLARGE"])';
        </script>
    }
    <script>
        var monthNames = getMonthNames('@lang');
        var dayNames = getDayNames('@lang');
        var defaultDateFormat = '@dateFormat';
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="topBanner">
        <div class="container size1300">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index">
                    @if (_config.GetValue<bool>("UseHeaderImage"))
                    {
                        <div class="headerImg"></div>
                    }
                    else
                    {
                        <h2 style="color:white; font-weight:bold">
                            @Html.Raw(_config.GetValue<string>("ForumName"))
                        </h2>
                    }
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <form action="/Login" method="get" name="loginForm">
                    <input name="ReturnUrl" type="hidden" value="@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)" />
                </form>
                <form action="/Logout" method="get" name="logoutForm">
                    <input name="ReturnUrl" type="hidden" value="@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)" />
                </form>
                <ul style="float:right; padding-top:10px; list-style:none; line-height:1.5em;">
                    @{
                        var isTopic = ViewContext.RouteData.Values["page"].ToString() == "/ViewTopic";
                        if (string.IsNullOrWhiteSpace(currentUser?.Username) || (currentUser?.IsAnonymous ?? true))
                        {
                            <li>
                                <a href="javascript:loginForm.submit()">
                                    <span style="width:25px; display:inline-block">&#x2705;</span>
                                    @Html.Raw(_languageProvider.BasicText[lang, "LOGIN", Casing.FirstUpper])
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Register">
                                    <span style="width:25px; display:inline-block">&#x1F4C3;</span>
                                    @Html.Raw(_languageProvider.BasicText[lang, "REGISTER", Casing.FirstUpper])
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="/User" asp-route-UserId="@currentUser.UserId">
                                    <span style="text-shadow: 0 0 4px white; width:25px; display:inline-block">&#x1F464;</span>
                                    @Html.Raw($"{_languageProvider.BasicText[lang, "MY_ACCOUNT", Casing.FirstUpper]} [{currentUser.Username}]")
                                </a>
                            </li>
                            if (_userService.HasPrivateMessagePermissions(currentUser))
                            {
                                <li>
                                    <a asp-page="/PrivateMessages">
                                        <span style="width:25px; display:inline-block">&#x1F5E8;</span>
                                        @Html.Raw(_languageProvider.BasicText[lang, "PRIVATE_MESSAGING", Casing.FirstUpper])
                                    </a>
                                </li>
                            }

                        }

                        <li>
                            <a asp-page="/Search" asp-route-QueryString="@HttpUtility.UrlEncode(Context.Request.QueryString.ToString())">
                                <span style="width:25px; display:inline-block">&#x1F50E;</span>
                                @Html.Raw(string.Format(_languageProvider.BasicText[lang, "SEARCH_IN_FORMAT"], isTopic ? _languageProvider.BasicText[lang, "TOPIC", Casing.AllLower] : _languageProvider.BasicText[lang, "FORUM", Casing.AllLower]))
                            </a>
                        </li>

                        if (!(string.IsNullOrWhiteSpace(currentUser?.Username) || (currentUser?.IsAnonymous ?? true)))
                        {
                            <li>
                                <a href="javascript:logoutForm.submit()">
                                    <span style="width:25px; display:inline-block">&#x274C;</span>
                                    @Html.Raw(_languageProvider.BasicText[lang, "LOGOUT", Casing.FirstUpper])
                                </a>
                            </li>
                        }
                    }
                </ul><br /> <br />
            </div>
        </div>
    </nav>
    <div class="container body-content size1300" id="mainContainer">
        <center>
            @{
                var pmCount = 0;
                var displayedBox = false;
                if (!(currentUser?.IsAnonymous ?? true))
                {
                    pmCount = await _userService.UnreadPMs(currentUser.UserId);
                }

                if (pmCount > 0)
                {
                    <p style="clear:both"></p>
                    <span class="Unread" style="padding:5px; font-size:1.2em">
                        <a asp-page="/PrivateMessages" asp-route-Show="Inbox">@pmCount @Html.Raw(pmCount > 1 ? _languageProvider.BasicText[lang, "UNREAD_MESSAGES", Casing.AllLower] : _languageProvider.BasicText[lang, "UNREAD_MESSAGE", Casing.AllLower])</a>
                    </span>
                    <p style="clear:both"></p>
                    displayedBox = true;
                }

                if (await _userService.IsUserModeratorInForum(currentUser, 0))
                {
                    var reports = await _moderatorService.GetReportedMessages(0);
                    if (reports.Any())
                    {
                        if (!displayedBox)
                        {
                            <p style="clear:both"></p>
                        }
                        <div class="ReportedPost" style="margin:5px; padding:5px; width: max-content; max-width: 100%">
                            <h4>@Html.Raw(reports.Count() > 1 ? _languageProvider.Moderator[lang, "OPEN_REPORTS", Casing.Title] : _languageProvider.Moderator[lang, "OPEN_REPORT", Casing.Title])</h4>
                            @foreach (var r in reports)
                            {
                                <a asp-page="ViewTopic" asp-page-handler="byPostId" asp-route-postId="@r.PostId">@Html.Raw(r.ReasonTitle)</a> <br />
                            }
                        </div>
                        displayedBox = true;
                    }
                }
            }
        </center>
        @RenderBody()
    </div>
    <p></p>
    <div class="container body-content size1300">
        @Html.Raw(_languageProvider.BasicText[lang, "STARTING_ON"])
        <script>writeDate('@((statistics.FirstMessageDate ?? DateTime.UtcNow).ToString("o"))', '@dateFormat')</script>,
        @Html.Raw(string.Format(_languageProvider.BasicText[lang, "FORUM_STATS_FORMAT"], statistics.UserCount, statistics.MessageCount, statistics.TopicCount, statistics.ForumCount))<br />
        <span class="Caption">@Html.Raw(string.Format(_languageProvider.BasicText[lang, "FORUM_STATS_CAPTION_FORMAT"], _statisticsService.RefreshIntervalMinutes))</span>
    </div>
    <center style="color:white;">
        <p>&nbsp;</p>
        <p>
            Powered by
            <a href="https://github.com/costinbanu/PhpbbInDotnet" target="_blank" style="color:white; text-decoration:underline">
                PhpBB In DotNet
            </a>
        </p>
        <p>
            <a asp-page="/TermsAndConditions" style="color:white; text-decoration:underline">
                @_languageProvider.BasicText[lang, "TERMS", Casing.Title]
            </a>
        </p>
        @if (await _userService.IsUserModeratorInForum(currentUser, forumId))
        {
            <p>
                <a href="./Moderator@(forumId > 0 ? $"?forumId={forumId}" : "")" style="color:white; text-decoration:underline">
                    @Html.Raw(_languageProvider.Moderator[lang, "MOD_PANEL", Casing.Title])
                </a>
            </p>
        }
        @if (await _userService.IsUserAdminInForum(currentUser, forumId))
        {
            <p>
                <a asp-page="./Admin" style="color:white; text-decoration:underline">
                    @Html.Raw(_languageProvider.Admin[lang, "ADMIN_PANEL", Casing.Title])
                </a>
            </p>
        }
    </center>

    @RenderSection("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "showLink": true,
            "theme": "edgeless",
            "content": {
                "message": "@Html.Raw(_languageProvider.BasicText[lang, "COOKIES_BOX_MESSAGE"])",
                "dismiss": "@Html.Raw(_languageProvider.BasicText[lang, "COOKIES_BOX_DISMISS"])",
                "link": "@Html.Raw(_languageProvider.BasicText[lang, "COOKIES_BOX_LINK_TEXT"])",
                "href": "./AboutCookies"
            }
        });
    </script>
</body>
</html>
