@using System.Web
@using  PhpbbInDotnet.DTOs
@using PhpbbInDotnet.Utilities
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@inject Services.UserService  _userService
@inject Services.ModeratorService _moderatorService
@{
    var currentUser = await _userService.ClaimsPrincipalToLoggedUserAsync(User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>@(_config.GetValue<string>("ForumName")) - @ViewData["Title"]</title>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js"></script>
        <script src="~/js/dateFormatter.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" />
        <script src="~/js/site.min.js"></script>
    </environment>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="topBanner">
        <div class="container size1300">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index"><div class="headerImg"></div></a>

            </div>
            <div class="navbar-collapse collapse">
                <form action="/Login" method="get" name="loginForm">
                    <input name="ReturnUrl" type="hidden" value="@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)" />
                </form>
                <form action="/Logout" method="get" name="logoutForm">
                    <input name="ReturnUrl" type="hidden" value="@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)" />
                </form>
                <ul style="float:right; padding-top:10px; list-style:none; line-height:1.5em;">
                    @{
                        var isTopic = ViewContext.RouteData.Values["page"].ToString() == "/ViewTopic";
                        if (string.IsNullOrWhiteSpace(currentUser?.Username) || (currentUser?.IsAnonymous ?? true))
                        {
                            <li><a href="javascript:loginForm.submit()"><span style="width:25px; display:inline-block">&#x2705;</span>Conectare</a></li>
                            <li><a asp-page="/Register"><span style="width:25px; display:inline-block">&#x1F4C3;</span>Înregistrare</a></li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="/User" asp-route-UserId="@currentUser.UserId">
                                    <span style="text-shadow: 0 0 4px white; width:25px; display:inline-block">&#x1F464;</span>Contul meu [@currentUser.Username]
                                </a>
                            </li>
                            if (_userService.HasPrivateMessagePermissions(currentUser))
                            {
                                <li><a asp-page="/PrivateMessages" asp-route-UserId="@currentUser.UserId"><span style="width:25px; display:inline-block">&#x1F5E8;</span>Mesagerie privată</a></li>
                            }

                        }

                        <li>
                            <a asp-page="/Search" asp-route-QueryString="@HttpUtility.UrlEncode(Context.Request.QueryString.ToString())">
                                <span style="width:25px; display:inline-block">&#x1F50E;</span>Caută în @(isTopic ? "subiect" : "forum")
                            </a>
                        </li>

                        if (!(string.IsNullOrWhiteSpace(currentUser?.Username) || (currentUser?.IsAnonymous ?? true)))
                        {
                            <li><a href="javascript:logoutForm.submit()"><span style="width:25px; display:inline-block">&#x274C;</span>Deconectare</a></li>
                        }
                    }
                </ul><br /> <br />
            </div>
        </div>
    </nav>
    <div class="container body-content size1300" id="mainContainer">
        <center>
            @{
                var pmCount = 0;
                var displayedBox = false;
                if (!(currentUser?.IsAnonymous ?? true))
                {
                    pmCount = await _userService.UnreadPMs(currentUser.UserId);
                }

                if (pmCount > 0)
                {
                    <p style="clear:both"></p>
                    <span class="Unread" style="padding:5px; font-size:1.2em">
                        <a asp-page="/PrivateMessages" asp-route-Show="Inbox">@pmCount mesaj@(pmCount > 1 ? "e" : "") privat@(pmCount > 1 ? "e" : "") necitit@(pmCount > 1 ? "e" : "")</a>
                    </span>
                    <p style="clear:both"></p>
                    displayedBox = true;
                }

                if (await _userService.IsUserModeratorInForum(currentUser, 0))
                {
                    if (!displayedBox)
                    {
                        <p style="clear:both"></p>
                    }
                    var reports = await _moderatorService.GetReportedMessages();
                    if (reports.Any())
                    {
                        <div class="ReportedPost" style="margin:5px; padding:5px; width: max-content; max-width: 100%">
                            <h4>Rapoarte deschise</h4>
                            @foreach (var r in reports)
                            {
                                <a asp-page="ViewTopic" asp-page-handler="byPostId" asp-route-postId="@r.Item1">@r.Item2</a> <br />
                            }
                        </div>
                        displayedBox = true;
                    }
                }
            }
        </center>
        @RenderBody()
    </div>
    <center style="color:white;">
        <p>&nbsp;</p>
        <p>&copy; 2009 - @DateTime.UtcNow.Year <a href="https://metrouusor.com" style="color:white; text-decoration:underline">Asociația „Metrou Ușor”</a></p>
        <p><a asp-page="/TermsAndConditions" style="color:white; text-decoration:underline">Termenele și condițiile de utilizare</a></p>
        @if (await _userService.IsUserAdminInForum(currentUser, 0))
        {
            <p><a asp-page="./Admin" style="color:white; text-decoration:underline">Panoul administratorului</a></p>
        }
        <p><a asp-page="FAQ" style="color:white; text-decoration:underline">Întrebări frecvente - ghid de utilizare</a></p>
    </center>

    @RenderSection("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "showLink": true,
            "theme": "edgeless",
            "content": {
                "message": "Acest site folosește cookie-uri pentru personalizarea conținutului afișat, autentificare și altele. Prin utilizarea site-ului nostru acceptați folosirea acestora.",
                "dismiss": "Am înțeles",
                "link": "Află mai multe",
                "href": "https://metrouusor.com/AboutCookies"
            }
        });
    </script>
</body>
</html>
