@page
@model AuthenticatedPageModel

@using Utilities
@inject Languages.LanguageProvider _languageProvider

@{
    ViewData["Title"] = "AboutCookies";
    Layout = "~/Pages/_Layout.cshtml";
    var lang = _languageProvider.GetValidatedLanguage(await Model.GetCurrentUserAsync(), Model.HttpContext?.Request);
}

<h3>@_languageProvider.AboutCookies[lang, "H3", Casing.Title]</h3>

<h4>@_languageProvider.AboutCookies[lang, "THE_COOKIES_H4", Casing.Title]</h4>
<p>
    @_languageProvider.AboutCookies[lang, "THE_COOKIES_BODY"]
</p>
<p>&nbsp;</p>
<h4>@_languageProvider.AboutCookies[lang, "ABOUT_H4", Casing.Title]</h4>
<p>
    @_languageProvider.AboutCookies[lang, "ABOUT_BODY"]
</p>
<p>&nbsp;</p>
<h4>@_languageProvider.AboutCookies[lang, "USAGE_H4", Casing.Title]</h4>
<p>
    @Html.Raw(_languageProvider.AboutCookies[lang, "USAGE_BODY"])
</p>
<p>&nbsp;</p>
<h4>@_languageProvider.AboutCookies[lang, "CONTROL_H4", Casing.Title]</h4>
<p>
    @Html.Raw(_languageProvider.AboutCookies[lang, "CONTROL_BODY"])
</p>
<p>&nbsp;</p>
<p>
    <a href="./">@_languageProvider.BasicText[lang, "HOME", Casing.FirstUpper]</a>
</p>
