@page
@using PhpbbInDotnet.Domain
@using PhpbbInDotnet.Forum.Pages.CustomPartials.Admin;

@model PhpbbInDotnet.Forum.Pages.AdminModel
@{
    var lang = Model.Language;
    ViewData["Title"] = Model.TranslationProvider.Admin[lang, "ADMIN_PANEL"];
    Layout = "~/Pages/_Layout.cshtml";
    var user = Model.ForumUser;
    var dateFormat = user?.UserDateFormat ?? Model.TranslationProvider.GetDefaultDateFormat(lang);
}

<h3>@Html.Raw(Model.TranslationProvider.Admin[lang, "ADMIN_PANEL"])</h3>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<environment include="Development">
    <script src="~/js/tabbedPage.js"></script>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/tabbedPage.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/admin.min.css?v=3.4" />
</environment>

<div class="tab">
    <button class="@(Model.Category == AdminCategories.Users ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Users')">
        @Html.Raw(Model.TranslationProvider.Admin[lang, "ADMIN_USERS"])
    </button>
    <button class="@(Model.Category == AdminCategories.Forums ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Forums')">
        @Html.Raw(Model.TranslationProvider.Admin[lang, "ADMIN_FORUMS"])
    </button>
    <button class="@(Model.Category == AdminCategories.WritingTools ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Writing')">
        @Html.Raw(Model.TranslationProvider.Admin[lang, "WRITING_TOOLS"])
    </button>
    <button class="@(Model.Category == AdminCategories.Logs ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Logs')">
        @Html.Raw(Model.TranslationProvider.Admin[lang, "VIEW_LOGS"])
    </button>
</div>

<span class="@Model.MessageClass">@Html.Raw(Model.Message)</span>

<div id="Users" class="tabcontent" style="@(Model.Category == AdminCategories.Users ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminUsersPartial",
        new _AdminUsersPartialModel
        {
            DateFormat = dateFormat,
            SearchResults = Model.UserSearchResults,
            InactiveUsers = Model.InactiveUsers,
            ActiveUsersWithUnconfirmedEmail = Model.ActiveUsersWithUnconfirmedEmail,
            Groups = Model.Groups,
            Ranks = Model.Ranks,
            BanList = Model.BanList,
            RoleListItems = Model.RoleListItems,
            RankListItems = Model.RankListItems,
            SearchParameters = Model.SearchParameters,
            Language = lang,
            WasSearchPerformed = Model.WasSearchPerformed
        },
        ViewData
    )
</div>

<div id="Forums" class="tabcontent" style="@(Model.Category == AdminCategories.Forums ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminForumsPartial",
        new _AdminForumsPartialModel
        {
            Forum = Model.Forum,
            ParentId = Model.ParentForumId,
            ForumChildren = Model.ForumChildren,
            Permissions = Model.Permissions,
            CurrentUser = user!,
            Show = Model.ShowForum,
            Language = lang,
            IsRoot = Model.IsRootForum
        },
        ViewData
    )
</div>

<div id="Writing" class="tabcontent" style="@(Model.Category == AdminCategories.WritingTools ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminWritingPartial",
        new _AdminWritingPartialModel 
        { 
            DateFormat = dateFormat,
            Language = lang,
            BannedWords = Model.BannedWords,
            CustomBbCodes = Model.CustomBbCodes,
            Smilies = Model.Smilies
        },
        ViewData
    )
</div>

<div id="Logs" class="tabcontent" style="@(Model.Category == AdminCategories.Logs ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminViewLogsPartial",
        new _AdminViewLogsPartialModel
        {
            LogPage = Model.LogPage,
            LogType = Model.LogType,
            AuthorName = Model.AuthorName,
            Language = lang,
            DateFormat = dateFormat,
            CurrentLogItems = Model.CurrentLogItems,
            TotalLogItemCount = Model.TotalLogItemCount,
            SystemLogs = Model.SystemLogs
        },
        ViewData
    )
</div>

<script type="text/javascript">
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
