@page
@using PhpbbInDotnet.Utilities
@using PhpbbInDotnet.Forum.Pages.CustomPartials.Admin;

@model PhpbbInDotnet.Forum.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/_Layout.cshtml";
    var user = await Model.GetCurrentUserAsync();
    var dateFormat = user?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var lang = await Model.GetLanguage();
}

<h3>@Html.Raw(Model.LanguageProvider.Admin[lang, "ADMIN_PANEL"])</h3>
<environment include="Development">
    <script src="~/lib/Sortable.js"></script>
    <script src="~/js/tabbedPage.js"></script>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/tabbedPage.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/admin.min.css" />
</environment>

<script>
    function expandSection(sectionId, charHolderId) {
        showElement(
            sectionId,
            () => {
                $('#' + charHolderId).html('&#x1F53D;');
            },
            () => {
                $('#' + charHolderId).html('&#x1F53C;');
            }
        )
    }
</script>

<div class="tab">
    <button class="@(Model.Category == AdminCategories.Users ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Users')">
        @Html.Raw(Model.LanguageProvider.Admin[lang, "ADMIN_USERS"])
    </button>
    <button class="@(Model.Category == AdminCategories.Forums ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Forums')">
        @Html.Raw(Model.LanguageProvider.Admin[lang, "ADMIN_FORUMS"])
    </button>
    <button class="@(Model.Category == AdminCategories.WritingTools ? "tablinks active" : "tablinks")" onclick="openTab(event, 'Writing')">
        @Html.Raw(Model.LanguageProvider.Admin[lang, "WRITING_TOOLS"])
    </button>
</div>

<span class="@Model.MessageClass">@Html.Raw(Model.Message)</span>

<div id="Users" class="tabcontent" style="@(Model.Category == AdminCategories.Users ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminUsersPartial",
        new _AdminUsersPartialModel
        {
            DateFormat = dateFormat,
            SearchResults = Model.UserSearchResults,
            SearchParameters = Model.SearchParameters,
            Language = lang
        },
        ViewData
    )
</div>

<div id="Forums" class="tabcontent" style="@(Model.Category == AdminCategories.Forums ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminForumsPartial",
        new _AdminForumsPartialModel
        {
            Forum = Model.Forum,
            ParentId = Model.ParentForumId,
            ForumChildren = Model.ForumChildren,
            Permissions = Model.Permissions,
            CurrentUser = user,
            Show = Model.ShowForum,
            Language = lang
        },
        ViewData
    )
</div>

<div id="Writing" class="tabcontent" style="@(Model.Category == AdminCategories.WritingTools ? "display:inherit" : "display:none")">
    @await Html.PartialAsync(
        "_AdminWritingPartial",
        new _AdminWritingPartialModel 
        { 
            DateFormat = dateFormat,
            Language = lang
        },
        ViewData
    )
</div>

<script type="text/javascript">
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
