@page
@model ErrorModel

@using Domain
@using Domain.Utilities
@using Microsoft.Extensions.Configuration

@inject Languages.ITranslationProvider _translationProvider
@inject Services.IUserService _userService
@inject IConfiguration _config

@{
    var lang = _translationProvider.GetValidatedLanguage(_userService.ClaimsPrincipalToAuthenticatedUser(User), Model.Request);
    ViewData["Title"] = _translationProvider.Errors[lang, "ERROR", Casing.Title];
    var adminEmail = _config.GetValue<string>("AdminEmail");
    var displayContact = !Model.IsUnauthorized && !Model.IsNotFound;
}

<h3 class="Error">@Html.Raw(_translationProvider.Errors[lang, "AN_ERROR_OCCURRED", Casing.Title])</h3>

@if (Model.IsUnauthorized)
{
    <p>@Html.Raw(_translationProvider.Errors[lang, "ERROR_UNAUTHORIZED"])</p>
}
else if (Model.IsNotFound)
{
    <p>@Html.Raw(_translationProvider.Errors[lang, "ERROR_NOT_FOUND"])</p>
}
else if (!string.IsNullOrWhiteSpace(Model.CustomErrorMessage))
{
    <p>@Html.Raw(await CompressionUtility.DecodeAndDecompress(Model.CustomErrorMessage))</p>
}

@if(displayContact)
{
    if (!string.IsNullOrWhiteSpace(Model.ErrorId))
    {
        <p>
            <strong>ID:</strong>
            <code>@Model.ErrorId</code>
        </p>
    }
    <p>
        @Html.Raw(
            string.IsNullOrWhiteSpace(Model.ErrorId) 
                ? string.Format(_translationProvider.Errors[lang, "REPORT_ERROR_FORMAT"], adminEmail) 
                : string.Format(_translationProvider.Errors[lang, "REPORT_ERROR_WITH_ID_FORMAT"], adminEmail)
        )
    </p>
}