@page
@model ErrorModel

@using Utilities
@using Microsoft.Extensions.Configuration

@inject Languages.LanguageProvider _languageProvider
@inject Services.UserService _userService
@inject IConfiguration _config
@inject CommonUtils _utils

@{
    ViewData["Title"] = "Error";
    var lang = _languageProvider.GetValidatedLanguage(_userService.ClaimsPrincipalToAuthenticatedUser(User), Model.Request);
    var adminEmail = _config.GetValue<string>("AdminEmail");
    var displayContact = !Model.IsUnauthorized && !Model.IsNotFound;
}

<h3 class="Error">@Html.Raw(_languageProvider.Errors[lang, "AN_ERROR_OCCURRED", Casing.Title])</h3>

@if (Model.IsUnauthorized)
{
    <p>@Html.Raw(_languageProvider.Errors[lang, "ERROR_UNAUTHORIZED"])</p>
}
else if (Model.IsNotFound)
{
    <p>@Html.Raw(_languageProvider.Errors[lang, "ERROR_NOT_FOUND"])</p>
}
else if (!string.IsNullOrWhiteSpace(Model.CustomErrorMessage))
{
    <p>@Html.Raw(await _utils.DecodeAndDecompress(Model.CustomErrorMessage))</p>
}

@if(displayContact)
{
    if (!string.IsNullOrWhiteSpace(Model.ErrorId))
    {
        <p>
            <strong>ID:</strong>
            <code>@Model.ErrorId</code>
        </p>
    }
    <p>
        @Html.Raw(
            string.IsNullOrWhiteSpace(Model.ErrorId) 
                ? string.Format(_languageProvider.Errors[lang, "REPORT_ERROR_FORMAT"], adminEmail) 
                : string.Format(_languageProvider.Errors[lang, "REPORT_ERROR_WITH_ID_FORMAT"], adminEmail)
        )
    </p>
}