@page
@model PhpbbInDotnet.Forum.Pages.LoginModel

@using Utilities
@using Microsoft.Extensions.Configuration

@inject IConfiguration _config

@{
    var lang = Model.LanguageProvider.GetValidatedLanguage(null, Model.HttpContext?.Request);
    ViewData["Title"] = Model.LanguageProvider.BasicText[lang, "LOGIN", Casing.Title];
    Layout = "~/Pages/_Layout.cshtml";
}

<h3>@Model.LanguageProvider.BasicText[lang, "LOGIN", Casing.FirstUpper]</h3>

@if (Model.Mode == Utilities.LoginMode.Normal)
{
    <form method="post">
        <input type="text" asp-for="UserName" placeholder="@Model.LanguageProvider.BasicText[lang, "USERNAME", Casing.FirstUpper]" class="form" autocomplete="username" />
        <p></p>
        <input type="password" asp-for="Password" placeholder="@Model.LanguageProvider.BasicText[lang, "PASSWORD", Casing.FirstUpper]" class="form" autocomplete="password" />
        <p></p>
        <input type="hidden" asp-for="ReturnUrl" class="form" />
        <p></p>
        <span asp-validation-for="LoginErrorMessage" class="validation"></span>
        <input type="submit" value="@Model.LanguageProvider.BasicText[lang, "LOGIN", Casing.FirstUpper]" class="MyButton" />
        <p></p>
        @Html.AntiForgeryToken()
    </form>
    <a href="javascript:showElement('forgotPassword')">@Model.LanguageProvider.BasicText[lang, "FORGOT_PASSWORD", Casing.FirstUpper]</a>
    <div style="display:@(Model.ShowPwdResetOptions ? "block" : "none"); margin-left:15px" id="forgotPassword">
        <form asp-page-handler="ResetPassword">
            <p></p>
            <input type="text" asp-for="UserNameForPwdReset" placeholder="@Model.LanguageProvider.BasicText[lang, "USERNAME", Casing.FirstUpper]" class="form" autocomplete="username" />
            <p></p>
            <input type="email" asp-for="EmailForPwdReset" placeholder="@Model.LanguageProvider.BasicText[lang, "EMAIL", Casing.FirstUpper]" class="form" autocomplete="email" />
            <p></p>
            <span class="caption">
                @Html.Raw(string.Format(Model.LanguageProvider.BasicText[lang, "HELPER_TEXT_FORMAT"], _config.GetValue<string>("AdminEmail")))
            </span>
            <p></p>
            <span asp-validation-for="PwdResetErrorMessage" class="validation"></span>
            <input type="submit" value="@Model.LanguageProvider.BasicText[lang, "RESET_PASSWORD", Casing.FirstUpper]" class="MyButton" />
            @Html.AntiForgeryToken()
        </form>
    </div>
}
else if (Model.Mode == Utilities.LoginMode.PasswordReset)
{
    <form method="post" asp-page-handler="SaveNewPassword">
        <input type="password" asp-for="PwdResetFirstPassword" placeholder="@Model.LanguageProvider.BasicText[lang, "NEW_PASSWORD"]" class="form" autocomplete="new-password" /><br />
        <span asp-validation-for="PwdResetFirstPassword" class="validation"></span>
        <br />
        <input type="password" asp-for="PwdResetSecondPassword" placeholder="@Model.LanguageProvider.BasicText[lang, "REPEAT_NEW_PASSWORD"]" class="form" autocomplete="new-password" /><br />
        <span asp-validation-for="PwdResetSecondPassword" class="validation"></span>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="ResetPasswordCode" />
        <input type="hidden" asp-for="Init" />
        @Html.AntiForgeryToken()
        <p></p>
        <span asp-validation-for="PwdResetErrorMessage" class="validation"></span>
        <input type="submit" value="@Model.LanguageProvider.BasicText[lang, "SAVE_NEW_PASSWORD", Casing.FirstUpper]" />
    </form>
}

