@page
@model PhpbbInDotnet.Forum.Pages.PrivateMessagesModel
@{
    var Lang = Model.GetLanguage();
    ViewData["Title"] = Model.TranslationProvider.BasicText[Lang, "PRIVATE_MESSAGING", Casing.Title];
    Layout = "~/Pages/_Layout.cshtml";
    var CurrentUser = Model.GetCurrentUser();
    var UserDateFormat = CurrentUser?.UserDateFormat ?? Model.TranslationProvider.GetDefaultDateFormat(Lang);
}

@using Domain
@using Domain.Extensions;
@using Objects
@using CustomPartials

<environment include="Development">
    <script src="~/js/tabbedPage.js"></script>
    <link rel="stylesheet" href="~/css/tabbedPage.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>
<style>
    .MinAuthor {
        font-weight: bold;
        display: none;
    }

    @@media (max-width: 768px) {
        .MinAuthor {
            display: inherit;
            float: right;
        }
    }
</style>

<h3 style="float: left; margin-top: 0px">@Html.Raw(Model.TranslationProvider.BasicText[Lang, "PRIVATE_MESSAGING", Casing.Title])</h3>
<span>
    &nbsp;
    <button onclick="location.href = '/SendPrivateMessage'" style="height: 26px; padding-top: 1px; padding-bottom: 1px" class="MyButton SpacedButtonNotTop">
        &#x1F4DD;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "WRITE_NEW_PM"])
    </button>
</span>
<p style="clear:both"></p>
<form method="get" id="switcher" name="switcher">
    <input type="hidden" asp-for="Show" id="show" />
    <input type="hidden" asp-for="InboxPage" />
    <input type="hidden" asp-for="SentPage" />
</form>
<script>
    function submitSwitcher(val) {
        $('#show').val(val);
        $('#switcher').submit();
    }
</script>
<div class="tab">
    <button class="@(Model.Show == PrivateMessagesPages.Inbox ? "tablinks active" : "tablinks")" onclick="submitSwitcher('@PrivateMessagesPages.Inbox')" type="button">
        @Html.Raw(Model.TranslationProvider.BasicText[Lang, "RECEIVED"])
    </button>
    <button class="@(Model.Show == PrivateMessagesPages.Sent ? "tablinks active" : "tablinks")" onclick="submitSwitcher('@PrivateMessagesPages.Sent')" type="button">
        @Html.Raw(Model.TranslationProvider.BasicText[Lang, "SENT"])
    </button>
    @if (Model.Show == PrivateMessagesPages.Message)
    {
        <button class="@(Model.Show == PrivateMessagesPages.Message ? "tablinks active" : "tablinks")" type="button">
            @Html.Raw(Model.TranslationProvider.BasicText[Lang, "SELECTED_MESSAGE"])
        </button>
    }
</div>

<div id="Inbox" class="tabcontent" style="@(Model.Show == PrivateMessagesPages.Inbox ? "display:inherit" : "display:none")">
    @if (Model.InboxMessages?.Any() ?? false)
    {
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new _PaginationControlsPartialModel(
                paginator: Model.InboxPaginator!,
                allowPaginationChange: false,
                back: $"PrivateMessages?show=Inbox&InboxPage={Model.InboxPage - 1}",
                forward: $"PrivateMessages?show=Inbox&InboxPage={Model.InboxPage + 1}",
                includeEasyNavigation: false,
                language: Lang,
                topicId: null,
                firstPostId: null
            ),
            ViewData
        )
        var isFirst = true;
        foreach (var msg in Model.InboxMessages ?? Enumerable.Empty<PrivateMessageDto>())
        {
            if (!isFirst)
            {
                <hr class="BoxSeparator" />
            }
            var linkClass = msg.PmUnread.ToBool() ? "nav-link UnreadTitle" : "nav-link";
            <div class="FlexRow RowMargin">
                <input name="SelectedMessages" type="checkbox" value="@msg.MessageId" form="InboxActions" style="margin-right:10px; align-self:safe center" />
                <span class="ForumContent" style="align-self:safe center">
                    <a asp-page="/PrivateMessages" asp-route-show="@PrivateMessagesPages.Message" asp-route-messageId="@msg.MessageId" asp-route-inboxPage="@Model.InboxPage" asp-route-sentPage="@Model.SentPage" asp-route-source="@Model.Show" class="@linkClass" style="font-weight:bold">
                        @Html.Raw(msg.Subject)
                    </a>
                    <span class="MinAuthor">
                        &nbsp;&bull;&nbsp;
                        <span style="color:#@(msg.OthersColor)">@Html.Raw(msg.OthersName)</span>
                    </span>
                    <br />
                </span>
                @await Html.PartialAsync("_SummaryPartial", new _SummaryPartialModel(
                    authorId: msg.OthersId,
                    authorName: msg.OthersName!,
                    authorColor: msg.OthersColor!,
                    creationTime: msg.Time,
                    assetId: msg.MessageId,
                    dateFormat: UserDateFormat,
                    language: Lang,
                    authorOnFoeList: false)
                {
                    AuthorTag = Model.TranslationProvider.BasicText[Lang, "MP_FROM"],
                    DateLabel = Model.TranslationProvider.BasicText[Lang, "MP_SENT"]
                })
            </div>
            isFirst = false;
        }

        <hr class="BoxSeparator" />
        <form method="post" id="InboxActions" name="InboxActions">
            <button onclick="selectAllCheckboxes()" type="button" class="MyButton SpacedButton">
                &#x2714;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "SELECT_ALL_MESSAGES"])
            </button>
            <input type="hidden" asp-for="Show" />
            <input type="hidden" asp-for="InboxPage" />
            <input type="submit" asp-page-handler="MarkAsRead" value="&#x2705;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "MARK_SELECTED_MESSAGES_AS_READ"])" onclick="return confirm('@Html.Raw(Model.TranslationProvider.BasicText[Lang, "CONFIRM_MARK_MESSAGES_AS_READ"])');" class="MyButton SpacedButton" />
            <input type="submit" asp-page-handler="HideSelectedMessages" value="&#x1F6AE;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DELETE_SELECTED_MESSAGES_FOR_MYSELF"])" onclick="return confirm('@Html.Raw(Model.TranslationProvider.BasicText[Lang, "CONFIRM_DELETE_RECEIVED_MESSAGES_FOR_MYSELF"])');" class="MyButton SpacedButton" />
        </form>
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new _PaginationControlsPartialModel(
                paginator: Model.InboxPaginator!,
                allowPaginationChange: false,
                back: $"PrivateMessages?show=Inbox&InboxPage={Model.InboxPage - 1}",
                forward: $"PrivateMessages?show=Inbox&InboxPage={Model.InboxPage + 1}",
                includeEasyNavigation: true,
                language: Lang,
                topicId: null,
                firstPostId: null
            ),
            ViewData
        )
    }
    else
    {
        @Html.Raw(Model.TranslationProvider.BasicText[Lang, "NO_RECEIVED_MESSAGES"])
    }
</div>

<div id="Sent" class="tabcontent" style="@(Model.Show == PrivateMessagesPages.Sent ? "display:inherit" : "display:none")">
    @if (Model.SentMessages?.Any() ?? false)
    {
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new _PaginationControlsPartialModel(
                paginator: Model.SentPaginator!,
                allowPaginationChange: false,
                back: $"PrivateMessages?show=Sent&SentPage={Model.SentPage - 1}",
                forward: $"PrivateMessages?show=Sent&SentPage={Model.SentPage + 1}",
                includeEasyNavigation: false,
                language: Lang,
                topicId: null,
                firstPostId: null
            ),
            ViewData
        )
        var isFirst = true;
        foreach (var msg in Model.SentMessages ?? Enumerable.Empty<PrivateMessageDto>())
        {
            if (!isFirst)
            {
                <hr class="BoxSeparator" />
            }
            <div class="FlexRow RowMargin">
                <input name="SelectedMessages" type="checkbox" value="@msg.MessageId" form="SentActions" style="margin-right:10px; align-self:safe center" />
                <span class="ForumContent" style="align-self:safe center">
                    <a asp-page="/PrivateMessages" asp-route-show="@PrivateMessagesPages.Message" asp-route-messageId="@msg.MessageId" asp-route-inboxPage="@Model.InboxPage" asp-route-sentPage="@Model.SentPage" asp-route-source="@Model.Show" class="nav-link" style="font-weight:bold">
                        @Html.Raw(msg.Subject)
                    </a>
                    <span class="MinAuthor">
                        &nbsp;&bull;&nbsp;
                        <span style="color:#@(msg.OthersColor)">@Html.Raw(msg.OthersName)</span>
                    </span>
                    <br />
                </span>
                @await Html.PartialAsync("_SummaryPartial", new _SummaryPartialModel(
                    authorId: msg.OthersId,
                    authorName: msg.OthersName!,
                    authorColor: msg.OthersColor!,
                    creationTime: msg.Time,
                    assetId: msg.MessageId,
                    dateFormat: UserDateFormat,
                    language: Lang,
                    authorOnFoeList: false)
                {
                    AuthorTag = Model.TranslationProvider.BasicText[Lang, "MP_FOR"],
                    DateLabel = Model.TranslationProvider.BasicText[Lang, "MP_SENT"]
                })
            </div>
            isFirst = false;
        }

        <hr class="BoxSeparator" />
        <form method="post" id="SentActions" name="SentActions">
            <button onclick="selectAllCheckboxes()" type="button" class="MyButton SpacedButton">
                &#x2714;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "SELECT_ALL_MESSAGES"])
            </button>
            <input type="hidden" asp-for="Show" />
            <input type="hidden" asp-for="SentPage" />
            <input type="submit" asp-page-handler="HideSelectedMessages" value="&#x1F6AE;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DELETE_SELECTED_MESSAGES_FOR_MYSELF"])" onclick="return confirm('@Html.Raw(Model.TranslationProvider.BasicText[Lang, "CONFIRM_DELETE_SENT_MESSAGES_FOR_MYSELF"])');" class="MyButton SpacedButton" />
        </form>
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new _PaginationControlsPartialModel(
                paginator: Model.SentPaginator!,
                allowPaginationChange: false,
                back: $"PrivateMessages?show=Sent&SentPage={Model.SentPage - 1}",
                forward: $"PrivateMessages?show=Sent&SentPage={Model.SentPage + 1}",
                includeEasyNavigation: true,
                language: Lang,
                topicId: null,
                firstPostId: null
            ),
            ViewData
        )
    }
    else
    {
        @Html.Raw(Model.TranslationProvider.BasicText[Lang, "NO_SENT_MESSAGES"])
    }
</div>

@if (Model.Show == PrivateMessagesPages.Message && Model.SelectedMessage != null)
{
    var fakeId = -Model.SelectedMessage.MessageId;
    <div id="Message" class="tabcontent" style="@(Model.Show == PrivateMessagesPages.Message ? "display:inherit" : "display:none")">
        <div class="RowMargin">
            <div class="FlexRow">
                @await Html.PartialAsync("_SummaryPartial", new _SummaryPartialModel(
                    authorId: Model.SelectedMessage.OthersId,
                    authorName: Model.SelectedMessage.OthersName!,
                    authorColor: Model.SelectedMessage.OthersColor!,
                    creationTime: Model.SelectedMessage.Time,
                    assetId: fakeId,
                    dateFormat: UserDateFormat,
                    language: Lang,
                    authorOnFoeList: false
                )
                {
                    AuthorAvatar = Model.SelectedMessage.OthersAvatar,
                    AlignLeft = true,
                    AuthorTag = Model.SelectedMessageIsMine ? Model.TranslationProvider.BasicText[Lang, "MP_FOR"] : Model.TranslationProvider.BasicText[Lang, "MP_FROM"],
                    DateLabel = Model.TranslationProvider.BasicText[Lang, "MP_SENT"]
                })
                <div class="ForumContent VerticalContent FlexRight" id="@fakeId">
                    <span style="display:flex">
                        <span class="PostTitle">
                            @Html.Raw(Model.SelectedMessage.Subject)
                        </span>
                        <span style="margin-left:auto">
                            <span class="CollapsedMenu" onclick="expandCollapsedMenu('summary@(fakeId)', 'button@(fakeId)')" id="button@(fakeId)" style="color:#@Model.SelectedMessage.OthersColor;margin-left: auto; height:auto; width: min-content">
                                @Html.Raw(Model.SelectedMessage.OthersName)
                            </span>
                        </span>
                    </span>
                    <div style="max-width:100%">
                        <br />
                        @Html.Raw(Model.SelectedMessage.Text)
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <button onclick="location.href='/SendPrivateMessage?privateMessageId=@Model.SelectedMessage.MessageId&receiverId=@Model.SelectedMessage.OthersId'" type="button" class="MyButton SpacedButtonNotBottom">
            &#x1F5E8;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DO_REPLY", Casing.FirstUpper])
        </button>
        @if (Model.SelectedMessageIsMine && Model.SelectedMessageIsUnread)
        {
            <button onclick="location.href='/SendPrivateMessage?handler=Edit&privateMessageId=@Model.SelectedMessage.MessageId&receiverId=@Model.SelectedMessage.OthersId'" type="button" class="MyButton SpacedButtonNotBottom">
                &#x1F4DD;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DO_EDIT"])
            </button>
            <form method="post" asp-page-handler="DeleteMessage" style="display:inline">
                <input type="hidden" asp-for="MessageId" />
                <input type="hidden" asp-for="InboxPage" />
                <input type="hidden" asp-for="SentPage" />
                <input type="hidden" name="Show" value="@(Model.SelectedMessageIsMine ? PrivateMessagesPages.Sent : PrivateMessagesPages.Inbox)" />
                <input type="submit" value="&#x1F6AE;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DELETE_MESSAGE_FOR_EVERYONE", Casing.FirstUpper])" onclick="return confirm('@Html.Raw(Model.TranslationProvider.BasicText[Lang, "CONFIRM_DELETE_MESSAGE_FOR_EVERYONE", Casing.FirstUpper])');" class="MyButton SpacedButtonNotBottom" />
            </form>
        }
        <form method="post" id="hideForm" asp-page-handler="HideMessage" style="display:inline">
            <input type="hidden" asp-for="MessageId" />
            <input type="hidden" asp-for="InboxPage" />
            <input type="hidden" asp-for="SentPage" />
            <input type="hidden" name="Show" value="@(Model.SelectedMessageIsMine ? PrivateMessagesPages.Sent : PrivateMessagesPages.Inbox)" />
            <input type="submit" value="&#x1F6AE;&nbsp;@Html.Raw(Model.TranslationProvider.BasicText[Lang, "DELETE_MESSAGE_FOR_MYSELF"])" onclick="return confirm('@Html.Raw(Model.SelectedMessageIsMine ? Model.TranslationProvider.BasicText[Lang, "CONFIRM_DELETE_MY_MESSAGE_FOR_MYSELF"] : Model.TranslationProvider.BasicText[Lang, "CONFIRM_DELETE_OTHERS_MESSAGE_FOR_MYSELF"])');" class="MyButton SpacedButtonNotBottom" />
        </form>
        <p></p>
        <span asp-validation-for="MessageId" class="validation"></span>
        <script>
            function submit(formName, confirmation) {
                if (confirm(confirmation)) {
                    $('#' + formName).submit();
                }
            }
        </script>
    </div>
}
