@page
@model PhpbbInDotnet.Forum.Pages.RegisterModel

@using Utilities
@using Objects.Configuration 

@inject Microsoft.Extensions.Configuration.IConfiguration _config;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/_Layout.cshtml";
    var lang = Model.GetLanguage();
    var opts = _config.GetObject<Recaptcha>();
}


<h3>Înregistrare</h3>

<script src="https://www.google.com/recaptcha/api.js?render=@(opts.SiteKey)"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('@(opts.SiteKey)', { action: 'validate_captcha' })
            .then(function (token) {
                $('#RecaptchaResponse').val(token);
            });
    });
</script>

<form asp-controller="Home" method="post">

    <div asp-validation-summary="ModelOnly" class="Error"></div>

    <input type="text" name="Email" asp-for="Email" placeholder="@Html.Raw(Model.LanguageProvider.BasicText[lang, "EMAIL", Casing.FirstUpper])" class="form" autocomplete="email" />
    <br />
    <span asp-validation-for="Email" class="validation"></span>
    <p></p>
    <input type="text" name="UserName" asp-for="UserName" placeholder="@Html.Raw(Model.LanguageProvider.BasicText[lang, "USERNAME", Casing.FirstUpper])" class="form" autocomplete="username" />
    <br />
    <span asp-validation-for="UserName" class="validation"></span>
    <p></p>
    <input type="password" name="Password" asp-for="Password" placeholder="@Html.Raw(Model.LanguageProvider.BasicText[lang, "PASSWORD", Casing.FirstUpper])" class="form" autocomplete="new-password" />
    <br />
    <span asp-validation-for="Password" class="validation"></span>
    <p></p>
    <input type="password" name="SecondPassword" asp-for="SecondPassword" placeholder="@Html.Raw(Model.LanguageProvider.BasicText[lang, "REPEAT_PASSWORD", Casing.FirstUpper])" class="form" autocomplete="new-password" />
    <br />
    <span asp-validation-for="SecondPassword" class="validation"></span>
    <p></p>
    <input type="checkbox" asp-for="Agree" style="width:auto" />
    @Html.Raw(string.Format(Model.LanguageProvider.BasicText[lang, "AGREE_WITH_TERMS_FORMAT"], Model.LanguageProvider.BasicText[lang, "TERMS"]))
    <br />
    <span asp-validation-for="Agree" class="validation"></span>
    <p></p>
    <input type="submit" value="@Html.Raw(Model.LanguageProvider.BasicText[lang, "SUBMIT", Casing.FirstUpper])" style="width:auto" />
    <input type="hidden" asp-for="RecaptchaResponse" id="RecaptchaResponse" />
    <br />
    <span asp-validation-for="RecaptchaResponse" class="validation"></span>
    @Html.AntiForgeryToken()
</form>



<script>
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            return element.checked;
        } else {
            return defaultRangeValidator.call(this, value, element, param);
        }
    }

    window.onload = function () {
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        };
    };
</script>
