@page
@model PhpbbInDotnet.Forum.Pages.ViewForumModel

@using PhpbbInDotnet.Utilities
@using System.Web
@inject Services.ForumTreeService _forumService
@inject Services.BBCodeRenderingService _renderingService
@inject Services.CommonUtils _utils

@{
    ViewData["Title"] = Model.ForumTitle;
    Layout = "~/Pages/_Layout.cshtml";
    var CurrentUser = await Model.GetCurrentUserAsync();
    var UserDateFormat = CurrentUser?.UserDateFormat ?? "dddd, dd.MM.yyyy, HH:mm";
    var IsAnonymous = CurrentUser?.IsAnonymous ?? true;
    var hasSubForums = Model.ForumId != 0 && _forumService.HasUnrestrictedChildren((await Model.GetForumTree()).Tree, Model.ForumId);
    var hasTopics = Model.Topics?.SelectMany(x => x.Topics).Any() ?? false;
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>
<form asp-page-handler="MarkForumsRead" method="post" name="MarkForumsRead" id="MarkForumsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>
<form asp-page-handler="MarkTopicsRead" method="post" name="MarkTopicsRead" id="MarkTopicsRead">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>
<form asp-page-handler="DeleteDrafts" method="post" name="DeleteDrafts" id="DeleteDrafts">
    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
    @Html.AntiForgeryToken()
</form>

<script>
    //forum tree callback
    function forumSelectCallback(forumId) {
        var forumInput = document.getElementById("ForumIdInput");
        if (forumInput != null) {
            forumInput.value = forumId;
        }
    }
</script>

@if (Model.Mode == ViewForumMode.Forum)
{
    <script>
        $(document).ready(function () {
            var element = $('.Unread');
            if (element && element.offset()) {
                window.scrollTo(0, element.offset().top - 20);
            }
        });
    </script>
}

@if ((Model.ParentForumId ?? 0) != 0)
{
    <span>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@HttpUtility.HtmlDecode(Model.ParentForumTitle)</a></span>
}
else
{
    <a href="/">Prima pagină</a>
}

@if (!CurrentUser.IsAnonymous)
{
    <span> &bull;&nbsp;</span>
    @await Html.PartialAsync(
        "_HeaderLinksPartial",
        new PhpbbInDotnet.Forum.Pages.CustomPartials._HeaderLinksPartialModel(),
        ViewData
    )
}

@switch (Model.Mode)
{
    case ViewForumMode.NewPosts:
        <h2>Subiecte necitite</h2>
        @if (hasTopics)
        {
            <a href="javascript:MarkForumsRead.submit()">Marchează-le ca citite</a>
        }
        break;

    case ViewForumMode.OwnPosts:
        <h2>Subiectele proprii</h2>
        <span>Subiecte în care ai scris cel puțin un mesaj</span>
        break;

    case ViewForumMode.Drafts:
        <h2>Mesaje proprii în lucru</h2>
        <span>Mesaje salvate ca „în lucru” și încă nepublicate</span>
        break;

    case ViewForumMode.Forum:
        <h2>Forum: @Model.ForumTitle</h2>
        @await Html.PartialAsync("_RulesPartial", new CustomPartials._RulesPartialModel(_renderingService, _utils, Model.ForumRules, Model.ForumRulesUid, Model.ForumRulesLink), ViewData)
        break;
}

@if (!IsAnonymous && Model.Mode == ViewForumMode.Forum && (hasSubForums || hasTopics))
{
    @if (hasSubForums)
    {
        <a href="javascript:MarkForumsRead.submit()">Marchează forumurile ca citite</a>
    }
    @if (hasTopics)
    {
        if (hasSubForums)
        {
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <div class="newline"></div>
        }
        <a href="javascript:MarkTopicsRead.submit()">Marchează subiectele ca citite</a>
    }
    <div style="clear:both">&nbsp;</div>
}

@if (hasSubForums)
{
    @await Html.PartialAsync(
        "_ForumDisplayPartial",
        new PhpbbInDotnet.Forum.Pages.CustomPartials._ForumDisplayPartialModel(Model.ForumId, Model.Forums, UserDateFormat, true, CurrentUser, true),
        ViewData
    )
    <p>&nbsp;</p>
}

@if (hasTopics)
{
    /*https://stackoverflow.com/questions/5144265/an-equally-quick-alternative-to-securityelement-escapestring-to-escape-xml-spe#comment88712318_5144356
     * use SecurityElement.Escape when using Html.Raw*/
    var topicsDisplayed = false;
    var announcementsDisplayed = false;
    var globalsDisplayed = false;
    var handler = Model.Mode switch
    {
        ViewForumMode.NewPosts => "newPosts",
        ViewForumMode.OwnPosts => "ownPosts",
        ViewForumMode.Drafts => "drafts",
        _ => string.Empty
    };

    if (Model.Mode != ViewForumMode.Forum)
    {
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new CustomPartials._PaginationControlsPartialModel(
                paginator: Model.Paginator,
                allowPaginationChange: false,
                back: $"/ViewForum?handler={handler}&pageNum={(Model.PageNum ?? 1) - 1}",
                forward: $"/ViewForum?handler={handler}&pageNum={(Model.PageNum ?? 1) + 1}",
                includeEasyNavigation: false
            ),
            ViewData
        );
    }
    var lastTopicType = TopicType.Normal;
    var previousIsUnread = false;
    foreach (var topicGroup in Model.Topics)
    {
        if (Model.Mode == ViewForumMode.Forum)
        {
            if (!globalsDisplayed && topicGroup.TopicType == TopicType.Global)
            {
                if (announcementsDisplayed || topicsDisplayed)
                {
                    if (!previousIsUnread)
                    {
                        <hr class="BoxSeparator" />
                    }
                    <p>&nbsp;</p>
                }
                <h3 style="float:left">Subiecte globale</h3>
                globalsDisplayed = true;
            }
            else if (!announcementsDisplayed && (topicGroup.TopicType == TopicType.Announcement || topicGroup.TopicType == TopicType.Global))
            {
                if (globalsDisplayed || topicsDisplayed)
                {
                    if (!previousIsUnread)
                    {
                        <hr class="BoxSeparator" />
                    }
                    <p>&nbsp;</p>
                }
                <h3 style="float:left">Anunțuri</h3>
                announcementsDisplayed = true;
            }
            else if (!topicsDisplayed)
            {
                if (globalsDisplayed || announcementsDisplayed)
                {
                    if (!previousIsUnread)
                    {
                        <hr class="BoxSeparator" />
                    }
                    <p>&nbsp;</p>
                }
                <h3 style="float:left">Subiecte</h3>
                topicsDisplayed = true;
            }
        }

        var isFirst = true;
        if (lastTopicType == TopicType.Important && topicGroup?.TopicType == TopicType.Normal)
        {
            isFirst = false;
        }
        if (isFirst && topicGroup.TopicType <= TopicType.Important)
        {
            <span>
                &nbsp;&bull;&nbsp;
                <button onclick="location.href='/Posting?forumId=@Model.ForumId&handler=newTopic'" type="button">
                    &#x1F4DD;&nbsp;Deschide un subiect nou
                </button>
            </span>
        }
        foreach (var topic in topicGroup?.Topics ?? Enumerable.Empty<TopicDto>())
        {
            if (Model.Mode != ViewForumMode.Drafts)
            {
                var pageSize = CurrentUser.TopicPostsPerPage.ContainsKey(topic.TopicId ?? 0) ? CurrentUser.TopicPostsPerPage[topic.TopicId ?? 0] : Constants.DEFAULT_PAGE_SIZE;
                topic.Unread = await Model.IsTopicUnread(topic.ForumId ?? 0, topic.TopicId ?? 0);
                topic.Pagination = new DTOs.PaginationDto($"/ViewTopic?topicId={topic.TopicId}&pageNum=1", topic.PostCount ?? 0, pageSize, 1, "PageNum");
            }

            if (!isFirst && !previousIsUnread && !topic.Unread)
            {
                <hr class="BoxSeparator" />
            }

            previousIsUnread = topic.Unread;
            var divClass = topic.Unread ? "FlexRow Unread RowMargin" : "FlexRow RowMargin";
            <div class="@divClass">
                @if (Model.Mode == ViewForumMode.Drafts)
                {
                    <input name="SelectedDrafts" type="checkbox" value="@topic.DraftId" form="DeleteDrafts" style="margin-right:10px" />
                }
                <span class="ForumContent">
                    @if (Model.Mode != ViewForumMode.Forum)
                    {
                        <span class="Caption">
                            @Html.Raw(_forumService.GetPathText((await Model.GetForumTree()).Tree, topic.ForumId ?? 0))
                        </span>
                        <br />
                    }
                    @if (topicGroup.TopicType == TopicType.Important)
                    {
                        <span>&#x26A0;&#xFE0F;&nbsp;</span>
                    }
                    @if (topic.IsLocked)
                    {
                        <span>&#x1F512;&nbsp;</span>
                    }
                    @if (Model.Mode != ViewForumMode.Drafts)
                    {
                        var firstUnreadPost = await Model.GetFirstUnreadPost(topic.ForumId ?? 0, topic.TopicId ?? 0);
                        if (firstUnreadPost > 0)
                        {
                            <a asp-page="/ViewTopic" asp-page-handler="ByPostId" asp-route-postId="@firstUnreadPost" asp-route-highlight="false" class="nav-link UnreadTitle" style="font-weight:bold">@Html.Raw(topic.TopicTitle)</a>
                        }
                        else
                        {
                            <a asp-page="/ViewTopic" asp-route-topicId="@topic.TopicId" asp-route-pageNum="1" class="nav-link" style="font-weight:bold">@Html.Raw(topic.TopicTitle)</a>
                        }
                    }
                    else
                    {
                        if ((topic.TopicId ?? 0) == 0)
                        {
                            <a asp-page="/Posting" asp-page-handler="newTopic" asp-route-forumId="@topic.ForumId" style="white-space:nowrap">Subiect nou: @HttpUtility.HtmlDecode(topic.TopicTitle)</a>
                        }
                        else
                        {
                            <a asp-page="/Posting" asp-page-handler="forumPost" asp-route-forumId="@topic.ForumId" asp-route-topicId="@topic.TopicId" asp-route-postId="@topic.TopicLastPostId">@HttpUtility.HtmlDecode(topic.TopicTitle)</a>
                        }
                        <span>
                            &nbsp;Scris:
                            <script>
                                writeDate("@topic.LastPostTime?.ToString("o")", "@UserDateFormat");
                            </script>
                        </span>
                    }
                    <br />
                    @if (Model.Mode != ViewForumMode.Drafts)
                    {
                        @await Html.PartialAsync("_PaginationPartial", topic.Pagination, ViewData)
                    }
                </span>
                @if (Model.Mode != ViewForumMode.Drafts)
                {
                    @await Html.PartialAsync(
                        "_SummaryPartial",
                        new CustomPartials._SummaryPartialModel(topic.TopicLastPosterId, topic.TopicLastPosterName, topic.TopicLastPosterColour, topic.LastPostTime, topic.TopicId.Value,
                            UserDateFormat, false, null,
                            topic.TopicLastPostId == null ? null : $"./ViewTopic?postId={topic.TopicLastPostId}&handler=ByPostId",
                            topic.TopicLastPostId == null ? null : "&#x1F4C3;",
                            topic.TopicLastPostId == null ? null : "Vezi ultimul mesaj",
                            false, true, topic.PostCount, topic.ViewCount
                        )
                    );
                }
            </div>
            isFirst = false;
        }

        lastTopicType = topicGroup?.TopicType ?? TopicType.Normal;
    }

    if (Model.Mode == ViewForumMode.Drafts && hasTopics)
    {
        <hr />
        <script>
            function selectAll() {
                var checkboxes = $('input[type=checkbox]');
                checkboxes.prop('checked', !checkboxes.prop('checked'));
            }
        </script>
        <a href="javascript:selectAll()">Selectează toate mesajele</a>
        <p></p>
        <input type="submit" value="Șterge mesajele selectate" form="DeleteDrafts" onclick="return confirm('Sigur dorești ștergerea mesajelor în lucru selectate?');" />
        <p>&nbsp;</p>
    }

    if (Model.Mode != ViewForumMode.Forum)
    {
        @await Html.PartialAsync(
            "_PaginationControlsPartial",
            new CustomPartials._PaginationControlsPartialModel(
                paginator: Model.Paginator,
                allowPaginationChange: false,
                back: $"/ViewForum?handler={handler}&pageNum={(Model.PageNum ?? 1) - 1}",
                forward: $"/ViewForum?handler={handler}&pageNum={(Model.PageNum ?? 1) + 1}",
                includeEasyNavigation: true
            ),
            ViewData
        );
    }
}
else if (Model.Mode == ViewForumMode.NewPosts)
{
    <p>&nbsp;</p>
    <h4>Nu există mesaje noi.</h4>
    <p>&nbsp;</p>
}
else if (Model.Mode == ViewForumMode.OwnPosts)
{
    <p>&nbsp;</p>
    <h4>Nu ai scris nici un mesaj în nici un topic până acum.</h4>
    <p>&nbsp;</p>
}
else if (Model.Mode == ViewForumMode.Drafts)
{
    <p>&nbsp;</p>
    <h4>Nu ai nici un mesaj în lucru.</h4>
    <p>&nbsp;</p>
}
@if (!IsAnonymous && Model.Mode == ViewForumMode.Forum)
{
    <button onclick="location.href='/Posting?forumId=@Model.ForumId&handler=newTopic'" type="button">
        &#x1F4DD;&nbsp;Deschide un subiect nou
    </button>
}

<p></p>
<div style="clear:both">
    @if (hasSubForums || hasTopics)
    {
        <a href="/" class="nowrap">Prima pagină</a>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
    }
    @if ((Model.ParentForumId ?? 0) != 0)
    {
        <span>Forum părinte: <a asp-page="/ViewForum" asp-route-forumId="@Model.ParentForumId">@HttpUtility.HtmlDecode(Model.ParentForumTitle)</a></span>
        <span class="bullet">&nbsp;&bull;&nbsp;</span>
        <div class="newline"></div>
    }
    <span onclick="showForumTree(this)" class="SpanLikeLink nowrap">Alege destinația</span>
</div>
<p></p>
<div id="forumTree" style=" display:none">
    @await Html.PartialAsync(
        "_ForumTreePartial",
        new CustomPartials._ForumTreePartialModel(
            tree: (await Model.GetForumTree()).Tree,
            forumId: Model.ForumId,
            topicId: null,
            constrainSize: true
        ),
        ViewData
    )
    <p></p>
    <form action="/ViewForum">
        <input type="hidden" name="ForumId" id="ForumIdInput" />
        <input type="submit" value="Du-te" />
    </form>
</div>
