@page
@model ViewAttachmentsModel

@using Domain
@using Domain.Utilities
@using Domain.Extensions
@using Pages.CustomPartials

@inject Services.IForumTreeService _forumService

@{
    var title = string.Format(Model.TranslationProvider.BasicText[Model.GetLanguage(), "ATTACHMENTS_BY_FORMAT", Casing.Title], Model.PageUsername);
    ViewData["Title"] = title;
    Layout = "~/Pages/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pagination.css" />
</environment>

@if (!string.IsNullOrWhiteSpace(Model.PageUsername))
{
    <h2>@Html.Raw(title)</h2>

    if (Model.Attachments.Any())
    {
        <div>
            @await Html.PartialAsync(
                "_PaginationControlsPartial",
                new _PaginationControlsPartialModel(
                    paginator: Model.Paginator!,
                    allowPaginationChange: false,
                    includeEasyNavigation: false,
                    language: Model.GetLanguage(),
                    back: $"ViewAttachments?userId={Model.UserId}&pageNum={Model.PageNum - 1}",
                    forward: $"ViewAttachments?userId={Model.UserId}&pageNum={Model.PageNum + 1}"

                )
            )
        </div>

        <p>&nbsp;</p>
        var tree = await _forumService.GetForumTree(Model.GetCurrentUser(), false, false);
        @foreach (var attachment in Model.Attachments)
        {
            <p></p>
            if (attachment.PostId is not null && attachment.ForumId is not null && attachment.TopicTitle is not null)
            {
                <p class="Caption">
                    <a asp-page="ViewTopic" asp-page-handler="byPostId" asp-route-postId="@attachment.PostId" target="_blank">
                        @Html.Raw(_forumService.GetPathText(tree, attachment.ForumId.Value)) → @Html.Raw(attachment.TopicTitle)
                    </a>
                </p>
            }
            <a asp-page="File" asp-route-id="@attachment.Id" target="_blank">
                @Html.Raw(attachment.RealFilename)
            </a>
            <br />
            @Html.Raw(StringUtility.ReadableFileSize(attachment.FileSize))
            <span>&nbsp;&bull;&nbsp;</span>
            @Html.Raw(Model.TranslationProvider.BasicText[Model.GetLanguage(), "SUBMITTED", Casing.FirstUpper])
            <formatted-date date="@(attachment.FileTime.ToUtcTime().ToString("o"))" format="@(Model.GetCurrentUser().UserDateFormat)" />
            <p></p>
            <hr class="BoxSeparator" />
        }

        <p>&nbsp;</p>
        <div>
            @await Html.PartialAsync(
                "_PaginationControlsPartial",
                new _PaginationControlsPartialModel(
                    paginator: Model.Paginator!,
                    allowPaginationChange: false,
                    includeEasyNavigation: true,
                    language: Model.GetLanguage(),
                    back: $"ViewAttachments?userId={Model.UserId}&pageNum={Model.PageNum - 1}",
                    forward: $"ViewAttachments?userId={Model.UserId}&pageNum={Model.PageNum + 1}"

                )
            )
        </div>
    }
    else
    {
        @Html.Raw(Model.TranslationProvider.BasicText[Model.GetLanguage(), "NO_ATTACHMENTS", Casing.FirstUpper])
    }
}
else
{
    <span asp-validation-for="PageUsername" class="validation"></span>
}
